{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the ops console",
    "description": "mm-api on the ops console's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*, behind Cloudflare Access. Every call needs a valid Access token and is recorded in the audit log under its identity (docs/decisions/0031-access-and-audit.md). Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://ops.maneman.in",
      "description": "production"
    },
    {
      "url": "https://ops-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "clash",
                  "fsm_refused",
                  "too_early_to_close"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "ClientSearch": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      },
      "ClientRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "E.164, as ops need it to call or message."
          },
          "state": {
            "type": "string",
            "enum": [
              "fitted",
              "lead",
              "nothing_booked"
            ]
          },
          "known_since": {
            "type": "string",
            "format": "date-time",
            "description": "When the person's record was first written."
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientAddress"
              },
              {
                "type": "null"
              }
            ],
            "description": "The address visits go to now."
          },
          "credits": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "visits": {
                    "type": "integer"
                  },
                  "earliest_expiry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                },
                "required": [
                  "visits",
                  "earliest_expiry"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Service visits left and when the soonest expires; null with none left."
          },
          "visits": {
            "type": "object",
            "properties": {
              "upcoming": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              },
              "past": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              }
            },
            "required": [
              "upcoming",
              "past"
            ],
            "additionalProperties": false,
            "description": "Upcoming soonest first; past newest first."
          },
          "payments": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PaymentEntry"
                },
                {
                  "$ref": "#/components/schemas/RefundEntry"
                }
              ],
              "discriminator": {
                "propertyName": "kind",
                "mapping": {
                  "payment": "#/components/schemas/PaymentEntry",
                  "refund": "#/components/schemas/RefundEntry"
                }
              }
            },
            "description": "Payments and refunds as one list, newest first."
          },
          "history": {
            "$ref": "#/components/schemas/ClientRecordHistory"
          }
        },
        "required": [
          "id",
          "name",
          "mobile",
          "state",
          "known_since",
          "address",
          "credits",
          "visits",
          "payments",
          "history"
        ],
        "additionalProperties": false
      },
      "ClientAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "For the technician: gate code, parking and the like."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes"
        ],
        "additionalProperties": false
      },
      "ClientVisit": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VisitSummary"
          },
          {
            "type": "object",
            "properties": {
              "outcome": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": [
                      "done",
                      "partial"
                    ]
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "What FSM closed the visit as; null until it is closed."
              }
            },
            "required": [
              "outcome"
            ],
            "additionalProperties": false
          }
        ]
      },
      "Technician": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "initials"
        ],
        "additionalProperties": false,
        "description": "Display name and initials only."
      },
      "VisitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "technician",
          "place"
        ],
        "additionalProperties": false
      },
      "PaymentEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge"
        ],
        "additionalProperties": false
      },
      "RefundEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "destination",
          "speed"
        ],
        "additionalProperties": false
      },
      "ClientRecordHistory": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Every visit done: a completed visit with a window."
          },
          "services": {
            "type": "integer"
          },
          "replacements": {
            "type": "integer"
          },
          "first_fit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date. Null when no first fit is on record, which is not the same as none."
          },
          "last_visit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date of the latest visit done."
          },
          "spend": {
            "type": "integer",
            "description": "In paise: every payment captured, less what has gone back. A credit adds nothing."
          },
          "replacement_due": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "on": {
                    "type": "string",
                    "format": "date"
                  },
                  "month": {
                    "type": "string"
                  },
                  "piece_code": {
                    "type": "string"
                  }
                },
                "required": [
                  "on",
                  "month",
                  "piece_code"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "When the piece now in wear falls due; null when the client is wearing none."
          }
        },
        "required": [
          "visits",
          "services",
          "replacements",
          "first_fit_on",
          "last_visit_on",
          "spend",
          "replacement_due"
        ],
        "additionalProperties": false
      },
      "ClientPhotos": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "technician": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "initials"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientPhoto"
                  },
                  "description": "Before then after, each in the design's angle order."
                }
              },
              "required": [
                "visit_id",
                "date",
                "type",
                "technician",
                "photos"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "visits"
        ],
        "additionalProperties": false
      },
      "ClientPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "For GET /api/clients/{id}/photos/{photo_id}, which is audited."
          },
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "taken_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "phase",
          "angle",
          "width",
          "height",
          "taken_at"
        ],
        "additionalProperties": false
      },
      "ClientConsents": {
        "type": "object",
        "properties": {
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "given",
                    "withdrawn",
                    "not_given"
                  ],
                  "description": "not_given until the client first switches it on; withdrawn once they switch it back off."
                },
                "notice_version": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The notice the client saw when they last switched it."
                },
                "at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "When they last switched it."
                }
              },
              "required": [
                "purpose",
                "state",
                "notice_version",
                "at"
              ],
              "additionalProperties": false
            }
          },
          "deletion": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "requested",
                      "rejected"
                    ]
                  },
                  "requested_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "decided_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "state",
                  "requested_at",
                  "decided_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Their latest deletion request. A processed one leaves no client to read."
          }
        },
        "required": [
          "consents",
          "deletion"
        ],
        "additionalProperties": false
      },
      "NumberChangeDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "confirm",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "DeletionDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "delete",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ReferralDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "approve",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject, and kept with the decision either way."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "GrievanceAnswer": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "response"
        ],
        "additionalProperties": false
      },
      "PincodeLaunch": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean"
          },
          "launch_on": {
            "type": "string",
            "format": "date",
            "description": "India's date it starts; today if left out."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      },
      "DispatchBoard": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "7 days, the board's columns."
          },
          "technicians": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "technician_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "initials": {
                  "type": "string"
                },
                "zone": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "days": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "blocks": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DispatchBlock"
                        }
                      }
                    },
                    "required": [
                      "date",
                      "blocks"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "technician_id",
                "name",
                "initials",
                "zone",
                "days"
              ],
              "additionalProperties": false
            }
          },
          "unassigned": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "appointment_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "asked_window": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "morning",
                        "afternoon",
                        "evening"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "offered_window": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "morning",
                        "afternoon",
                        "evening"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "date": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "sector": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "appointment_id",
                "type",
                "asked_window",
                "offered_window",
                "date",
                "sector"
              ],
              "additionalProperties": false
            }
          },
          "utilisation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "percent": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "percent"
              ],
              "additionalProperties": false
            },
            "description": "Each column's utilisation, in per cent. Written to events daily as well."
          },
          "leave": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "technician_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "from": {
                  "type": "string",
                  "format": "date"
                },
                "to": {
                  "type": "string",
                  "format": "date"
                }
              },
              "required": [
                "technician_id",
                "from",
                "to"
              ],
              "additionalProperties": false
            },
            "description": "Always empty: FSM's availability answers 48 hours ahead and the board is seven days."
          }
        },
        "required": [
          "from",
          "dates",
          "technicians",
          "unassigned",
          "utilisation",
          "leave"
        ],
        "additionalProperties": false
      },
      "DispatchBlock": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "slots": {
            "type": "number",
            "description": "Consultation 1, service 1, replacement 1.5, first fit 2."
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "client": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "First name and last initial."
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "appointment_id",
          "type",
          "starts_at",
          "window",
          "slots",
          "status",
          "client",
          "sector"
        ],
        "additionalProperties": false
      },
      "DispatchMoved": {
        "type": "object",
        "properties": {
          "move_id": {
            "type": "string",
            "format": "uuid"
          },
          "messaged": {
            "type": "boolean",
            "description": "The client was told his new window."
          }
        },
        "required": [
          "move_id",
          "messaged"
        ],
        "additionalProperties": false
      },
      "DispatchAssignRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "technician_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "technician_unavailable",
              "client_asked",
              "zone_rebalance",
              "skill_needed",
              "running_over"
            ]
          }
        },
        "required": [
          "appointment_id",
          "technician_id",
          "reason"
        ],
        "additionalProperties": false
      },
      "DispatchMoveRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "technician_id": {
            "type": "string",
            "format": "uuid",
            "description": "Left out keeps the technician it has."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "technician_unavailable",
              "client_asked",
              "zone_rebalance",
              "skill_needed",
              "running_over"
            ]
          }
        },
        "required": [
          "appointment_id",
          "reason"
        ],
        "additionalProperties": false
      },
      "NoShowCases": {
        "type": "object",
        "properties": {
          "cases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoShowCase"
            }
          }
        },
        "required": [
          "cases"
        ],
        "additionalProperties": false
      },
      "NoShowCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "visit_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "technician": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "checked_in_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fact one: when the technician arrived."
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Fact two: how far from the address he was; null where the address had no coordinates and nothing was measured."
          },
          "message_delivered_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Fact three: when WhatsApp reported the visit message delivered; null if never."
          },
          "wait_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "closed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "decision": {
            "type": "string",
            "enum": [
              "undecided",
              "charged",
              "waived"
            ]
          },
          "decided_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "appointment_id",
          "visit_date",
          "technician",
          "checked_in_at",
          "distance_m",
          "message_delivered_at",
          "wait_ends_at",
          "closed_at",
          "decision",
          "decided_at"
        ],
        "additionalProperties": false,
        "description": "The three facts ops rule on, and nothing else."
      },
      "NoShowDecisionRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "charged",
              "waived"
            ]
          }
        },
        "required": [
          "decision"
        ],
        "additionalProperties": false
      },
      "ClientPieces": {
        "type": "object",
        "properties": {
          "pieces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Piece"
            }
          }
        },
        "required": [
          "pieces"
        ],
        "additionalProperties": false
      },
      "Piece": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string"
          },
          "base": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "supplier_lot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fitted_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "replacement_due_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "piece_code",
          "base",
          "supplier_lot",
          "fitted_at",
          "replacement_due_at",
          "failed_at",
          "failure_reason"
        ],
        "additionalProperties": false
      },
      "Technicians": {
        "type": "object",
        "properties": {
          "technicians": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "initials": {
                  "type": "string"
                },
                "zone": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "devices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string"
                      },
                      "label": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "last_seen_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "revoked_at": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date-time"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "device_id",
                      "label",
                      "last_seen_at",
                      "revoked_at"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "id",
                "name",
                "initials",
                "zone",
                "devices"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "technicians"
        ],
        "additionalProperties": false
      },
      "Tasks": {
        "type": "object",
        "properties": {
          "overdue": {
            "type": "integer",
            "description": "How many are past their day in India, across every group."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group": {
                  "type": "string",
                  "enum": [
                    "consultation_request",
                    "replacement_order",
                    "referral_review",
                    "no_show_decision",
                    "number_change",
                    "erasure_request"
                  ]
                },
                "count": {
                  "type": "integer"
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  },
                  "description": "The longest wait first."
                }
              },
              "required": [
                "group",
                "count",
                "tasks"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "overdue",
          "groups"
        ],
        "additionalProperties": false,
        "description": "Derived at read time from the queues themselves; there is no tasks table."
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The queued row's own id, so the task can be reached where it is decided."
          },
          "person": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for a no-show, whose case names the technician and never the client."
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The one fact the group turns on: a piece's label, a fraud rule, a technician."
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "When it started waiting."
          },
          "due": {
            "type": "string",
            "format": "date-time",
            "description": "since plus the group's allowance, 48 hours for every group so far."
          }
        },
        "required": [
          "id",
          "person",
          "detail",
          "since",
          "due"
        ],
        "additionalProperties": false
      },
      "OpsDayMoney": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date the figures cover."
          },
          "collected": {
            "type": "integer",
            "description": "In paise. Captured on the day: the board's \"Collected today\"."
          },
          "refunds_processing": {
            "type": "integer",
            "description": "In paise. Asked for on the day and not back with the client yet: \"Refunds processing\"."
          },
          "refunded": {
            "type": "integer",
            "description": "In paise. Processed by Razorpay on the day, which the board draws no figure of its own for."
          },
          "charged": {
            "type": "integer",
            "description": "In paise. Kept from the client on the day: \"Charges and no-shows\", less the no-shows, which carry no amount."
          },
          "no_shows_charged": {
            "type": "integer",
            "description": "How many no-shows ops ruled charged on the day. Counted and not added, because nothing records what one was charged (docs/open-points.md, item 57)."
          },
          "dispute": {
            "type": "null",
            "description": "The charge under dispute, with the note ops write on it. Nothing records a dispute and no client can raise one, so this is always null (docs/open-points.md, item 57)."
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpsCharge"
            },
            "description": "No-shows and late cancellations, the earliest first."
          }
        },
        "required": [
          "date",
          "collected",
          "refunds_processing",
          "refunded",
          "charged",
          "no_shows_charged",
          "dispute",
          "charges"
        ],
        "additionalProperties": false,
        "description": "Derived at read time from the payments themselves; no total is kept."
      },
      "OpsCharge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The change's or the case's own id."
          },
          "kind": {
            "type": "string",
            "enum": [
              "late_cancellation",
              "no_show"
            ]
          },
          "person": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for a visit FSM never matched to one of our people."
          },
          "amount": {
            "anyOf": [
              {
                "type": "integer",
                "description": "In paise. What was kept."
              },
              {
                "type": "null"
              }
            ],
            "description": "Null on a no-show: ops record the ruling and nothing records an amount, because the charge itself is applied at P2-M5."
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "description": "When the client cancelled, or when ops ruled on the no-show."
          },
          "visit_started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the visit was to start."
          },
          "change": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "cancelled",
                  "moved"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "How the client ended the visit; null on a no-show, where they ended nothing."
          },
          "technician": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Who attended and found nobody in; null on a late cancellation."
          }
        },
        "required": [
          "id",
          "kind",
          "person",
          "amount",
          "at",
          "visit_started_at",
          "change",
          "technician"
        ],
        "additionalProperties": false
      },
      "TechniciansWork": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date"
          },
          "to": {
            "type": "string",
            "format": "date",
            "description": "Exclusive: the day after the last one counted."
          },
          "technicians": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianWork"
            },
            "description": "Every active technician, by name, including those who finished nothing."
          }
        },
        "required": [
          "from",
          "to",
          "technicians"
        ],
        "additionalProperties": false,
        "description": "Counted at read time from the appointments themselves."
      },
      "TechnicianWork": {
        "type": "object",
        "properties": {
          "technician_id": {
            "type": "string",
            "format": "uuid"
          },
          "jobs": {
            "type": "integer",
            "description": "Visits completed in the period."
          },
          "timed_jobs": {
            "type": "integer",
            "description": "Of those, the ones the phone timed from Start to the outcome: what the averages are the mean of."
          },
          "average_minutes": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "How long those took; null when the phone timed none of them."
          },
          "average_planned_minutes": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "What the same jobs were planned to take, so the two can be read against each other."
          },
          "skill": {
            "type": "null",
            "description": "The board's \"First fit\" or \"Service\". Nothing records what a technician is trained for and the FSM user carries no such field, so this is always null (docs/open-points.md, item 59)."
          }
        },
        "required": [
          "technician_id",
          "jobs",
          "timed_jobs",
          "average_minutes",
          "average_planned_minutes",
          "skill"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/search": {
      "post": {
        "summary": "Find a client by mobile number. A POST, so the number stays out of the URL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The client, to open their page with",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mobile": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mobile"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: not an Indian mobile number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}": {
      "get": {
        "summary": "The client's record: who they are, their address, their visits, their payments and their history",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRecord"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/photos": {
      "get": {
        "summary": "Which photographs the client has, by visit, newest first. No image is served here",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Visits that have photographs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientPhotos"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/photos/{photo_id}": {
      "get": {
        "summary": "One of the client's photographs. The audit entry is written before the image is",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "photo_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such photograph of this client's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: the view could not be audited, so no photograph is served",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/consents": {
      "get": {
        "summary": "The client's consents and any deletion request. Ops read them and never grant one",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Consents and data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientConsents"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes": {
      "get": {
        "summary": "Number changes waiting for ops: both numbers proven by code",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_mobile": {
                            "type": "string"
                          },
                          "new_mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "old_mobile",
                          "new_mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "changes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes/{id}/decision": {
      "post": {
        "summary": "Confirm a number change, which then takes effect, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberChangeDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "confirmed",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no change waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "number_in_use: another person holds the new number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests": {
      "get": {
        "summary": "Deletion requests waiting for ops",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "requests"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests/{id}/decision": {
      "post": {
        "summary": "Delete the account now (photographs, results and details), or reject the request",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletionDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "done",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no request waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/held": {
      "get": {
        "summary": "Referral grants held for review, oldest first",
        "responses": {
          "200": {
            "description": "Held grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "held": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "referrer": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "referred": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "fitted_on": {
                            "type": "string",
                            "format": "date"
                          },
                          "signals": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "shared_address",
                                "shared_upi",
                                "monthly_cap",
                                "same_mobile"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "referrer",
                          "referred",
                          "fitted_on",
                          "signals"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "held"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/{id}/decision": {
      "post": {
        "summary": "Approve a held grant, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "approved",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no held grant by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances": {
      "get": {
        "summary": "Open grievances, oldest first",
        "responses": {
          "200": {
            "description": "Open grievances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grievances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "raised_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "text",
                          "raised_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "grievances"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances/{id}/resolve": {
      "post": {
        "summary": "Record ops' answer to a grievance, and close it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrievanceAnswer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "resolved"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: no open grievance by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "get": {
        "summary": "Who is waiting, by pincode, the longest wait first",
        "responses": {
          "200": {
            "description": "Areas with someone waiting",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pincode": {
                            "type": "string"
                          },
                          "area": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "city": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "served": {
                            "type": "boolean"
                          },
                          "launched_at": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "waiting": {
                            "type": "integer"
                          },
                          "oldest": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "referred": {
                            "type": "integer"
                          },
                          "alerts": {
                            "type": "integer",
                            "description": "How many asked to be told when we launch."
                          }
                        },
                        "required": [
                          "pincode",
                          "area",
                          "city",
                          "served",
                          "launched_at",
                          "waiting",
                          "oldest",
                          "referred",
                          "alerts"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "areas"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/pincodes/{pin}/launch": {
      "post": {
        "summary": "Launch a pincode: without confirm, what it would send; with it, the launch",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$"
            },
            "required": true,
            "name": "pin",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PincodeLaunch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What it would send, or what it sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pincode": {
                      "type": "string"
                    },
                    "waiting": {
                      "type": "integer"
                    },
                    "alerts": {
                      "type": "integer"
                    },
                    "launched": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pincode",
                    "waiting",
                    "alerts",
                    "launched"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: we have no such pincode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrers": {
      "get": {
        "summary": "Every referrer's figures, the busiest first",
        "responses": {
          "200": {
            "description": "Referrers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referrers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "opens": {
                            "type": "integer"
                          },
                          "consultations": {
                            "type": "integer"
                          },
                          "fits": {
                            "type": "integer"
                          },
                          "granted": {
                            "type": "integer"
                          },
                          "redeemed": {
                            "type": "integer",
                            "description": "Credits of theirs spent on visits."
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "opens",
                          "consultations",
                          "fits",
                          "granted",
                          "redeemed"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "referrers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/dispatch": {
      "get": {
        "summary": "The dispatch board: seven days of every active technician, with the unassigned tray",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 60
            },
            "required": false,
            "name": "city",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The board",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchBoard"
                }
              }
            }
          },
          "403": {
            "description": "access_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/dispatch/assign": {
      "post": {
        "summary": "Put a job on a technician, with a reason. The clash check runs before any write to FSM",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchAssignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchMoved"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "access_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such live job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "clash: the technician already holds a job in that window on that date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "fsm_refused: FSM would not take it; nothing moved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/dispatch/move": {
      "post": {
        "summary": "Move a job to another technician, day or window, with a reason. The client is never charged",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchMoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved, and the client told",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchMoved"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "access_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such live job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "clash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "fsm_refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/no-shows": {
      "get": {
        "summary": "No-show cases: undecided first, each with its three facts",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "undecided",
                "charged",
                "waived",
                "all"
              ],
              "default": "undecided"
            },
            "required": false,
            "name": "decision",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The cases",
            "content": {
[...]
