{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the ops console",
    "description": "mm-api on the ops console's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*, behind Cloudflare Access. Every call needs a valid Access token and is recorded in the audit log under its identity (docs/decisions/0031-access-and-audit.md). Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://ops.maneman.in",
      "description": "production"
    },
    {
      "url": "https://ops-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "not_changeable",
                  "terms_changed",
                  "consent_required"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "NumberChangeDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "confirm",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "DeletionDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "delete",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ReferralDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "approve",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "GrievanceAnswer": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "response"
        ],
        "additionalProperties": false
      },
      "PincodeLaunch": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean"
          },
          "launch_on": {
            "type": "string",
            "format": "date",
            "description": "India's date it starts; today if left out."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes": {
      "get": {
        "summary": "Number changes waiting for ops: both numbers proven by code",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_mobile": {
                            "type": "string"
                          },
                          "new_mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "old_mobile",
                          "new_mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "changes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes/{id}/decision": {
      "post": {
        "summary": "Confirm a number change, which then takes effect, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberChangeDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "confirmed",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no change waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "number_in_use: another person holds the new number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests": {
      "get": {
        "summary": "Deletion requests waiting for ops",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "requests"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests/{id}/decision": {
      "post": {
        "summary": "Delete the account now (photographs, results and details), or reject the request",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletionDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "done",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no request waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/held": {
      "get": {
        "summary": "Referral grants held for review, oldest first",
        "responses": {
          "200": {
            "description": "Held grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "held": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "referrer": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "referred": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "fitted_on": {
                            "type": "string",
                            "format": "date"
                          },
                          "signals": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "shared_address",
                                "shared_upi",
                                "monthly_cap",
                                "same_mobile"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "referrer",
                          "referred",
                          "fitted_on",
                          "signals"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "held"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/{id}/decision": {
      "post": {
        "summary": "Approve a held grant, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "approved",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no held grant by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances": {
      "get": {
        "summary": "Open grievances, oldest first",
        "responses": {
          "200": {
            "description": "Open grievances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grievances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "raised_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "text",
                          "raised_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "grievances"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances/{id}/resolve": {
      "post": {
        "summary": "Record ops' answer to a grievance, and close it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrievanceAnswer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "resolved"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: no open grievance by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "get": {
        "summary": "Who is waiting, by pincode, the longest wait first",
        "responses": {
          "200": {
            "description": "Areas with someone waiting",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pincode": {
                            "type": "string"
                          },
                          "area": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "city": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "served": {
                            "type": "boolean"
                          },
                          "launched_at": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "waiting": {
                            "type": "integer"
                          },
                          "oldest": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "referred": {
                            "type": "integer"
                          },
                          "alerts": {
                            "type": "integer",
                            "description": "How many asked to be told when we launch."
                          }
                        },
                        "required": [
                          "pincode",
                          "area",
                          "city",
                          "served",
                          "launched_at",
                          "waiting",
                          "oldest",
                          "referred",
                          "alerts"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "areas"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/pincodes/{pin}/launch": {
      "post": {
        "summary": "Launch a pincode: without confirm, what it would send; with it, the launch",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$"
            },
            "required": true,
            "name": "pin",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PincodeLaunch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What it would send, or what it sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pincode": {
                      "type": "string"
                    },
                    "waiting": {
                      "type": "integer"
                    },
                    "alerts": {
                      "type": "integer"
                    },
                    "launched": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pincode",
                    "waiting",
                    "alerts",
                    "launched"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: we have no such pincode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrers": {
      "get": {
        "summary": "Every referrer's figures, the busiest first",
        "responses": {
          "200": {
            "description": "Referrers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referrers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "opens": {
                            "type": "integer"
                          },
                          "consultations": {
                            "type": "integer"
                          },
                          "fits": {
                            "type": "integer"
                          },
                          "granted": {
                            "type": "integer"
                          },
                          "redeemed": {
                            "type": "integer",
                            "description": "Credits of theirs spent on visits."
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "opens",
                          "consultations",
                          "fits",
                          "granted",
                          "redeemed"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "referrers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
