{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the ops console",
    "description": "mm-api on the ops console's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*, behind Cloudflare Access. Every call needs a valid Access token and is recorded in the audit log under its identity (docs/decisions/0031-access-and-audit.md). Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://ops.maneman.in",
      "description": "production"
    },
    {
      "url": "https://ops-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "too_early_to_close",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_fitted"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "ClientSearch": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      },
      "ClientsFound": {
        "type": "object",
        "properties": {
          "clients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "mobile": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "mobile"
              ],
              "additionalProperties": false
            }
          },
          "more": {
            "type": "boolean",
            "description": "More than 20 match: narrow the search."
          }
        },
        "required": [
          "clients",
          "more"
        ],
        "additionalProperties": false
      },
      "ClientFind": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 60,
            "description": "Any part of a name, or of a number typed any of the usual ways."
          }
        },
        "required": [
          "text"
        ],
        "additionalProperties": false
      },
      "ClientRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "E.164, as ops need it to call or message."
          },
          "state": {
            "type": "string",
            "enum": [
              "fitted",
              "lead",
              "nothing_booked"
            ]
          },
          "known_since": {
            "type": "string",
            "format": "date-time",
            "description": "When the person's record was first written."
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientAddress"
              },
              {
                "type": "null"
              }
            ],
            "description": "The address visits go to now."
          },
          "credits": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "visits": {
                    "type": "integer"
                  },
                  "earliest_expiry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                },
                "required": [
                  "visits",
                  "earliest_expiry"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Service visits left and when the soonest expires; null with none left."
          },
          "visits": {
            "type": "object",
            "properties": {
              "upcoming": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              },
              "past": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              }
            },
            "required": [
              "upcoming",
              "past"
            ],
            "additionalProperties": false,
            "description": "Upcoming soonest first; past newest first."
          },
          "payments": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PaymentEntry"
                },
                {
                  "$ref": "#/components/schemas/RefundEntry"
                }
              ],
              "discriminator": {
                "propertyName": "kind",
                "mapping": {
                  "payment": "#/components/schemas/PaymentEntry",
                  "refund": "#/components/schemas/RefundEntry"
                }
              }
            },
            "description": "Payments and refunds as one list, newest first."
          },
          "history": {
            "$ref": "#/components/schemas/ClientRecordHistory"
          },
          "invite": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientInvite"
              },
              {
                "type": "null"
              }
            ],
            "description": "The invite they came with, or ops attached; null for none."
          }
        },
        "required": [
          "id",
          "name",
          "mobile",
          "state",
          "known_since",
          "address",
          "credits",
          "visits",
          "payments",
          "history",
          "invite"
        ],
        "additionalProperties": false
      },
      "ClientAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "For the technician: gate code, parking and the like."
          },
          "building": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "floor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "tower": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "landmark": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "given_to_ops": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access e-mail of the member of staff who saved it."
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "by",
                  "at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the client gave it to ops on the phone: who saved it, and when."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes",
          "building",
          "flat",
          "floor",
          "tower",
          "landmark",
          "given_to_ops"
        ],
        "additionalProperties": false
      },
      "ClientVisit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way in its window, or over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "done",
                  "partial",
                  "no_show"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "What FSM closed the visit as, a no-show being its own; null until it is closed."
          },
          "closed_without_follow_up": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access e-mail of the member of staff who closed it."
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Null once the client is erased."
                  }
                },
                "required": [
                  "by",
                  "at",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit left partly done, ops closing its task without a follow-up visit; null otherwise."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place",
          "outcome",
          "closed_without_follow_up"
        ],
        "additionalProperties": false
      },
      "Technician": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "initials"
        ],
        "additionalProperties": false,
        "description": "Display name and initials only."
      },
      "VisitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way in its window, or over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place"
        ],
        "additionalProperties": false
      },
      "PaymentEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for was one the client was not home for: how long we waited, and what ops ruled (LIFE-07)."
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge",
          "no_show"
        ],
        "additionalProperties": false
      },
      "NoShowNote": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "undecided",
              "charged",
              "waived"
            ],
            "description": "What ops ruled: undecided while they look at the evidence, charged, or waived."
          },
          "waited_minutes": {
            "type": "integer",
            "description": "How long the technician waited at the door."
          }
        },
        "required": [
          "decision",
          "waited_minutes"
        ],
        "additionalProperties": false
      },
      "RefundEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "destination",
          "speed"
        ],
        "additionalProperties": false
      },
      "ClientRecordHistory": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Every visit done: a completed visit with a window."
          },
          "services": {
            "type": "integer"
          },
          "replacements": {
            "type": "integer"
          },
          "first_fit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date. Null when no first fit is on record, which is not the same as none."
          },
          "last_visit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date of the latest visit done."
          },
          "spend": {
            "type": "integer",
            "description": "In paise: every payment captured, less what has gone back. A credit adds nothing."
          },
          "replacement_due": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "on": {
                    "type": "string",
                    "format": "date"
                  },
                  "month": {
                    "type": "string"
                  },
                  "piece_code": {
                    "type": "string"
                  }
                },
                "required": [
                  "on",
                  "month",
                  "piece_code"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "When the piece now in wear falls due; null when the client is wearing none."
          }
        },
        "required": [
          "visits",
          "services",
          "replacements",
          "first_fit_on",
          "last_visit_on",
          "spend",
          "replacement_due"
        ],
        "additionalProperties": false
      },
      "ClientInvite": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "referrer": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Who sent it; null once they have been erased."
          },
          "grant": {
            "type": "string",
            "enum": [
              "pending",
              "held",
              "approved",
              "rejected",
              "granted",
              "expired",
              "clawed_back"
            ],
            "description": "pending until the client's first fit; held for ops' review; approved or granted, the 3 visits given; rejected; expired, lapsed on a waitlist; clawed_back, the first fit refunded."
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "When the client first came with it, or ops attached it."
          },
          "attached": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access identity of the member of staff who attached it."
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Null once either side is erased."
                  }
                },
                "required": [
                  "by",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Who attached it and why; null for an invite the client used themselves."
          }
        },
        "required": [
          "code",
          "referrer",
          "grant",
          "since",
          "attached"
        ],
        "additionalProperties": false
      },
      "ClientPhotos": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "technician": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "initials"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientPhoto"
                  },
                  "description": "Before then after, each in the design's angle order."
                }
              },
              "required": [
                "visit_id",
                "date",
                "type",
                "technician",
                "photos"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "visits"
        ],
        "additionalProperties": false
      },
      "ClientPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "For GET /api/clients/{id}/photos/{photo_id}, which is audited."
          },
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "taken_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "phase",
          "angle",
          "width",
          "height",
          "taken_at"
        ],
        "additionalProperties": false
      },
      "PhotoView": {
        "type": "object",
        "properties": {
          "logged_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the opening was logged, by our clock."
          },
          "before": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "by": {
                  "type": "string"
                },
                "at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "by",
                "at"
              ],
              "additionalProperties": false
            },
            "description": "Who opened them before, and when, the latest first."
          }
        },
        "required": [
          "logged_at",
          "before"
        ],
        "additionalProperties": false
      },
      "ClientConsents": {
        "type": "object",
        "properties": {
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "given",
                    "withdrawn",
                    "not_given"
                  ],
                  "description": "not_given until the client first switches it on; withdrawn once they switch it back off."
                },
                "notice_version": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The notice the client saw when they last switched it."
                },
                "at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "When they last switched it."
                },
                "source": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "site_booking",
                        "site_waitlist",
                        "referral_landing",
                        "try_on",
                        "app_booking",
                        "app_profile",
                        "app_share_sheet",
                        "technician",
                        "erasure"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Where they last switched it. null when never switched, or when no place was kept: given before this release reached the environment on a notice shown in more than one place, written by the Worker it replaced between its migration and its deploy, or switched from a copy of the app loaded before it, which names no screen."
                }
              },
              "required": [
                "purpose",
                "state",
                "notice_version",
                "at",
                "source"
              ],
              "additionalProperties": false
            }
          },
          "deletion": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "requested",
                      "rejected"
                    ]
                  },
                  "requested_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "decided_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "state",
                  "requested_at",
                  "decided_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Their latest deletion request. A processed one leaves no client to read."
          }
        },
        "required": [
          "consents",
          "deletion"
        ],
        "additionalProperties": false
      },
      "CreditBalance": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer"
          },
          "earliest_expiry": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "visits",
          "earliest_expiry"
        ],
        "additionalProperties": false
      },
      "CreditAdjustment": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "description": "Visits to add, or, below nought, to take away."
          },
          "reason": {
            "type": "string",
            "enum": [
              "correction",
              "goodwill"
            ],
            "description": "correction: given or taken in error; goodwill: given to make up for something."
          }
        },
        "required": [
          "visits",
          "reason"
        ],
        "additionalProperties": false
      },
      "AlreadyInvited": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "too_early_to_close",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_fitted"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          },
          "invite": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            },
            "required": [
              "code"
            ],
            "additionalProperties": false,
            "description": "The invite the client came with first."
          }
        },
        "required": [
          "error",
          "invite"
        ],
        "additionalProperties": false
      },
      "InviteAttachment": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]{4,12}$",
            "description": "The invite's code, in either case."
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "description": "Why, in ops' words: kept with the invite, and blanked if either side is erased."
          }
        },
        "required": [
          "code",
          "reason"
        ],
        "additionalProperties": false
      },
      "AddressSuggestions": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "place_id": {
                  "type": "string"
                },
                "primary": {
                  "type": "string"
                },
                "secondary": {
                  "type": "string"
                }
              },
              "required": [
                "place_id",
                "primary",
                "secondary"
              ],
              "additionalProperties": false
            }
          },
          "attribution": {
            "type": "string",
            "enum": [
              "Google Maps"
            ]
          }
        },
        "required": [
          "suggestions",
          "attribution"
        ],
        "additionalProperties": false
      },
      "OpsAddressSuggestionsAsk": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "What ops have typed so far."
          },
          "session": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "One token for the whole search, sent again when the address is saved."
          }
        },
        "required": [
          "q",
          "session"
        ],
        "additionalProperties": false
      },
      "AddressSave": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          },
          "building": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120,
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "tower": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "landmark": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "place_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Google's Place ID for the building, if one was chosen."
          },
          "session_token": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes"
        ],
        "additionalProperties": false
      },
      "NumberChangeDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "confirm",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision (src/policy/decision-reasons.ts)."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ErasureRefused": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "visit_booked",
                  "payment_held"
                ]
              },
              "request_id": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          },
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "consultation",
                    "first_fit",
                    "service",
                    "replacement",
                    null
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "scheduled",
                    "dispatched",
                    "in_progress"
                  ]
                },
                "window_start": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "type",
                "status",
                "window_start"
              ],
              "additionalProperties": false
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "reference": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "amount": {
                  "type": "integer",
                  "description": "In paise."
                }
              },
              "required": [
                "id",
                "reference",
                "amount"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "error",
          "visits",
          "payments"
        ],
        "additionalProperties": false
      },
      "DeletionDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "delete",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision (src/policy/decision-reasons.ts)."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ReferralDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "approve",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required either way, and kept with the decision (src/policy/decision-reasons.ts)."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "GrievanceAnswer": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "response"
        ],
        "additionalProperties": false
      },
      "PincodeLaunch": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean"
          },
          "launch_on": {
            "type": "string",
            "format": "date",
            "description": "India's date it starts; today if left out."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      },
      "DispatchBoard": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "description": "7 days, the board's columns."
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The city the jobs are narrowed to; null for all."
          },
          "cities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The cities the board can be narrowed to."
          },
          "technicians": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "technician_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "initials": {
                  "type": "string"
                },
                "zone": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "days": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "blocks": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DispatchBlock"
                        }
                      }
                    },
                    "required": [
                      "date",
                      "blocks"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "technician_id",
                "name",
                "initials",
                "zone",
                "days"
              ],
              "additionalProperties": false
            }
          },
          "unassigned": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "appointment_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "client": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "First name and last initial."
                },
                "sector": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The area the visit's pincode is in, from the service area; else the address's locality, or the city."
                },
                "pincode": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "person": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/DispatchClient"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Null for a visit with no client on our records, and for a client who has been erased."
                },
                "badge": {
                  "type": "string",
                  "enum": [
                    "prepaid",
                    "credit",
                    "free"
                  ],
                  "description": "Never an amount: prepaid, credit, or free."
                },
                "slots": {
                  "type": "number",
                  "description": "Consultation 1, service 1, replacement 1.5, first fit 2."
                },
                "starts_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "asked_window": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "morning",
                        "afternoon",
                        "evening"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The window the client asked for, from the Request behind the visit; null where nothing recorded one."
                },
                "offered_window": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "morning",
                        "afternoon",
                        "evening"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "date": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "appointment_id",
                "type",
                "client",
                "sector",
                "pincode",
                "person",
                "badge",
                "slots",
                "starts_at",
                "asked_window",
                "offered_window",
                "date"
              ],
              "additionalProperties": false
            }
          },
          "utilisation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "percent": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "percent"
              ],
              "additionalProperties": false
            },
            "description": "Each column's utilisation, in per cent: the slots the day's jobs take, done or still to do, out of the slots of the technicians not on leave. Written to events daily as well."
          },
          "leave": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "technician_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "from": {
                  "type": "string",
                  "format": "date"
                },
                "to": {
                  "type": "string",
                  "format": "date"
                },
                "note": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "technician_id",
                "from",
                "to",
                "note"
              ],
              "additionalProperties": false
            },
            "description": "Leave ops recorded, clipped to this week. Not from FSM: its availability answers free time, not leave."
          }
        },
        "required": [
          "from",
          "dates",
          "city",
          "cities",
          "technicians",
          "unassigned",
          "utilisation",
          "leave"
        ],
        "additionalProperties": false
      },
      "DispatchBlock": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "client": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "First name and last initial."
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area the visit's pincode is in, from the service area; else the address's locality, or the city."
          },
          "pincode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "person": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DispatchClient"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for a visit with no client on our records, and for a client who has been erased."
          },
          "badge": {
            "type": "string",
            "enum": [
              "prepaid",
              "credit",
              "free"
            ],
            "description": "Never an amount: prepaid, credit, or free."
          },
          "slots": {
            "type": "number",
            "description": "Consultation 1, service 1, replacement 1.5, first fit 2."
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "untold": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "move_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "starts_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "move_id",
                  "starts_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The latest move of this visit its client has not heard of: he has not agreed to WhatsApp, or the message was never sent. Ops call him, then POST /api/dispatch/moves/{id}/told."
          }
        },
        "required": [
          "appointment_id",
          "type",
          "client",
          "sector",
          "pincode",
          "person",
          "badge",
          "slots",
          "starts_at",
          "window",
          "status",
          "untold"
        ],
        "additionalProperties": false
      },
      "DispatchClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "In full, as the drawer heads it."
          },
          "mobile": {
            "type": "string",
            "description": "E.164, for WhatsApp and for a call."
          },
          "whatsapp_visits": {
            "type": "boolean",
            "description": "His latest word on WhatsApp about his visits is yes, so a move's new window reaches him there."
          },
          "referred_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Who invited him, by name; null when he came on his own."
          }
        },
        "required": [
          "id",
          "name",
          "mobile",
          "whatsapp_visits",
          "referred_by"
        ],
        "additionalProperties": false
      },
      "DispatchRoom": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "rooms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "technician_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "windows": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "minItems": 1
                }
              },
              "required": [
                "technician_id",
                "date",
                "windows"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "appointment_id",
          "rooms"
        ],
        "additionalProperties": false,
        "description": "Each technician's day with a window the job would land in, by the check a move runs. A day not listed has none. Not where the job already is."
      },
      "DispatchMoved": {
        "type": "object",
        "properties": {
          "move_id": {
            "type": "string",
            "format": "uuid"
          },
          "client_notice": {
            "type": "string",
            "enum": [
              "messaged",
              "call",
              "unchanged",
              "no_client"
            ],
            "description": "messaged: the new window was queued to go on WhatsApp; call: the client has not agreed to WhatsApp about his visits, so ops call him, and a task waits until they say they have; unchanged: only the technician changed, so there was nothing to tell; no_client: the visit has no client on our records."
          }
        },
        "required": [
          "move_id",
          "client_notice"
        ],
        "additionalProperties": false
      },
      "DispatchAssignRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "technician_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "technician_unavailable",
              "client_asked",
              "zone_rebalance",
              "skill_needed",
              "running_over"
            ]
          },
          "expected_technician_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "description": "The technician the board showed the job with; null for a job in the tray."
          },
          "expected_starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "The start the board showed the job with."
          }
        },
        "required": [
          "appointment_id",
          "technician_id",
          "reason",
          "expected_technician_id",
          "expected_starts_at"
        ],
        "additionalProperties": false
      },
      "DispatchMoveRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "technician_id": {
            "type": "string",
            "format": "uuid",
            "description": "Left out keeps the technician it has."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "technician_unavailable",
              "client_asked",
              "zone_rebalance",
              "skill_needed",
              "running_over"
            ]
          },
          "expected_technician_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "description": "The technician the board showed the job with; null for a job in the tray."
          },
          "expected_starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "The start the board showed the job with."
          }
        },
        "required": [
          "appointment_id",
          "reason",
          "expected_technician_id",
          "expected_starts_at"
        ],
        "additionalProperties": false
      },
      "NoShowCases": {
        "type": "object",
        "properties": {
          "cases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoShowCase"
            }
          },
          "waiver": {
            "type": "object",
            "properties": {
              "payment": {
                "type": "string",
                "enum": [
                  "refunded",
                  "kept"
                ]
              },
              "credit": {
                "type": "string",
                "enum": [
                  "returned",
                  "spent"
                ]
              }
            },
            "required": [
              "payment",
              "credit"
            ],
            "additionalProperties": false,
            "description": "What waiving a case gives back now, as ops set it in Settings (no_show_waiver)."
          }
        },
        "required": [
          "cases",
          "waiver"
        ],
        "additionalProperties": false
      },
      "NoShowCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "appointment_id": {
            "type": "string",
            "format": "uuid"
          },
          "person": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Whose visit it was, so ops can open their page and call them; null once they have been erased."
          },
          "visit_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "technician": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "checked_in_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fact one: when the technician arrived, by his phone, held within bounds. The wait ran from here."
          },
          "phone_checked_in_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "What the phone itself said, before the bounds; null when it said nothing."
          },
          "received_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the check-in reached us: long after the phone's time means no signal, or a clock set back."
          },
          "window_start": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit's booked window."
          },
          "window_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "minutes_late": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Minutes from the booked start to the check-in; negative when he was early."
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Fact two: how far from the address he was; null where the address had no coordinates and nothing was measured."
          },
          "message_state": {
            "type": "string",
            "enum": [
              "delivered",
              "sent",
              "not_sent",
              "no_consent",
              "none"
            ],
            "description": "Fact three: what became of the day-before or arrival WhatsApp. none: nothing was queued; no_consent: not sent, the client never agreed to WhatsApp about visits; not_sent: skipped or failed; sent: no receipt came back; delivered."
          },
          "message_delivered_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When WhatsApp reported it delivered; null if it never did."
          },
          "wait_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "closed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "opened_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the case opened, and started waiting for ops."
          },
          "due": {
            "type": "string",
            "format": "date-time",
            "description": "When ops should have ruled: the Tasks board's allowance for a no-show, from opened_at."
          },
          "decision": {
            "type": "string",
            "enum": [
              "undecided",
              "charged",
              "waived"
            ]
          },
          "decided_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "appointment_id",
          "person",
          "visit_date",
          "technician",
          "checked_in_at",
          "phone_checked_in_at",
          "received_at",
          "window_start",
          "window_end",
          "minutes_late",
          "distance_m",
          "message_state",
          "message_delivered_at",
          "wait_ends_at",
          "closed_at",
          "opened_at",
          "due",
          "decision",
          "decided_at"
        ],
        "additionalProperties": false,
        "description": "The three facts ops rule on, and nothing else."
      },
      "NoShowDecisionRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "charged",
              "waived"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required either way, and kept with the ruling (src/policy/decision-reasons.ts)."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ClientPieces": {
        "type": "object",
        "properties": {
          "pieces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Piece"
            }
          }
        },
        "required": [
          "pieces"
        ],
        "additionalProperties": false
      },
      "Piece": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string"
          },
          "base": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "supplier_lot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fitted_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "replacement_due_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "piece_code",
          "base",
          "supplier_lot",
          "fitted_at",
          "replacement_due_at",
          "failed_at",
          "failure_reason"
        ],
        "additionalProperties": false
      },
      "Technicians": {
        "type": "object",
        "properties": {
          "technicians": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "initials": {
                  "type": "string"
                },
                "zone": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "devices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string"
                      },
                      "label": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "last_seen_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "revoked_at": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date-time"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "device_id",
                      "label",
                      "last_seen_at",
                      "revoked_at"
                    ],
                    "additionalProperties": false
                  }
                },
                "leave": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TechnicianLeave"
                  },
                  "description": "Leave that has not ended yet, soonest first (ADR 0062)."
                }
              },
              "required": [
                "id",
                "name",
                "initials",
                "zone",
                "devices",
                "leave"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "technicians"
        ],
        "additionalProperties": false
      },
      "TechnicianLeave": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string",
            "format": "date"
          },
          "to": {
            "type": "string",
            "format": "date",
            "description": "Inclusive: a single day's leave has the same date twice."
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "from",
          "to",
          "note"
        ],
        "additionalProperties": false
      },
      "TechnicianLeaveRecorded": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "appointment_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "starts_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "client": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "appointment_id",
                "starts_at",
                "type",
                "client"
              ],
              "additionalProperties": false
            },
            "description": "The jobs already booked on those days, which the leave moves nowhere: ops move them on the dispatch board, and each waits on the Tasks board until they do (OPS-07)."
          }
        },
        "required": [
          "id",
          "jobs"
        ],
        "additionalProperties": false
      },
      "TechnicianLeaveRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date"
          },
          "to": {
            "type": "string",
            "format": "date"
          },
          "note": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Why, in ops' words. Never a medical detail."
          }
        },
        "required": [
          "from",
          "to"
        ],
        "additionalProperties": false
      },
      "Tasks": {
        "type": "object",
        "properties": {
          "overdue": {
            "type": "integer",
            "description": "How many are past their day in India, across every group."
          },
          "truncated": {
            "type": "boolean",
            "description": "More were waiting than one look reads (2000 a statement), so a count may be short."
          },
          "staff": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The members of staff a task may be given to: those who have used the console in the last 90 days, by e-mail."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group": {
                  "type": "string",
                  "enum": [
                    "untold_move",
                    "leave_conflict",
                    "address_to_confirm",
                    "consultation_request",
                    "first_fit_to_book",
                    "replacement_order",
                    "at_risk_client",
                    "partial_visit",
                    "referral_review",
                    "no_show_decision",
                    "number_change",
                    "erasure_request",
                    "grievance",
                    "draft_invoice",
                    "erasure_unfinished"
                  ]
                },
                "count": {
                  "type": "integer",
                  "description": "How many are waiting in the group, all of them."
                },
                "closable": {
                  "type": "boolean",
                  "description": "Ops may close a task of the group without doing its thing, with a reason."
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  },
                  "description": "The longest wait first, at most 50."
                }
              },
              "required": [
                "group",
                "count",
                "closable",
                "tasks"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "overdue",
          "truncated",
          "staff",
          "groups"
        ],
        "additionalProperties": false,
        "description": "Derived at read time from the queues themselves; there is no tasks table."
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The queued row's own id, so the task can be reached where it is decided."
          },
          "person": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for an erased client, whose record is gone."
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The one fact the group turns on: a piece's label, a fraud rule, a technician, a Books invoice, an FSM contact; for a consultation asked for, its day and window and, where a first fit was asked for with it, \"first_fit\" and the window wanted (\"any\" for either); for an at-risk client, the last visit's start and the day the next service fell due; for a first fit to book, the consultation's start and the window wanted."
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "When it started waiting."
          },
          "due": {
            "type": "string",
            "format": "date-time",
            "description": "since plus the group's allowance, which ops set; 48 hours until they do."
          },
          "owner": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 254
              },
              {
                "type": "null"
              }
            ],
            "description": "The Access e-mail of the member of staff it is theirs; null while it is nobody's."
          }
        },
        "required": [
          "id",
          "person",
          "detail",
          "since",
          "due",
          "owner"
        ],
        "additionalProperties": false
      },
      "TaskOwner": {
        "type": "object",
        "properties": {
          "owner": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 254
              },
              {
                "type": "null"
              }
            ],
            "description": "The Access e-mail of the member of staff it is theirs; null while it is nobody's."
          }
        },
        "required": [
          "owner"
        ],
        "additionalProperties": false
      },
      "TaskOwnerChange": {
        "type": "object",
        "properties": {
          "owner": {
            "anyOf": [
              {
                "type": "string",
[...]
