{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the technician app",
    "description": "mm-api on the technician app's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*. Every route but /api/health and /api/tech/auth/* needs the mm_tech session cookie, which is bound to one phone, and every write needs the page's own Origin. Every write also takes an X-Client-Event-Id and is idempotent on it, so a phone replaying its outbox lands each write once (docs/decisions/0038-offline-writes.md). No response here carries an amount. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://tech.maneman.in",
      "description": "production"
    },
    {
      "url": "https://tech-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "claim_required",
                  "whatsapp_unavailable",
                  "number_not_proved",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "technician_inactive",
                  "managed_in_fsm",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "too_early_to_close",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "no_product",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_disputed",
                  "not_disputable",
                  "dispute_window_closed",
                  "code_not_applicable",
                  "already_discounted",
                  "price_settled",
                  "code_exists",
                  "slot_times_too_soon",
                  "not_permitted",
                  "last_admin"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              },
              "moved": {
                "type": "object",
                "properties": {
                  "technician": {
                    "type": "string",
                    "description": "Their first name, and nothing else of theirs"
                  },
                  "at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When ops moved the job to them; null when it was moved in FSM itself"
                  }
                },
                "required": [
                  "technician",
                  "at"
                ],
                "additionalProperties": false,
                "description": "superseded, to a technician's phone, for a job given to another technician: whom, and when (docs/open-points.md, item 92)."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          },
          "cron_completed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the five-minute cron last finished a run; null before its first, or when the database is not this environment's. Information only: status does not depend on it."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1",
          "cron_completed_at"
        ],
        "additionalProperties": false
      },
      "TechnicianChallenge": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "expires_in_s": {
            "type": "integer"
          }
        },
        "required": [
          "challenge_id",
          "expires_in_s"
        ],
        "additionalProperties": false
      },
      "TechnicianLoginRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:(?:\\+|00?)?91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          },
          "device_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{8,64}$",
            "description": "The app's own ID for this phone, kept in its storage."
          }
        },
        "required": [
          "mobile",
          "device_id"
        ],
        "additionalProperties": false
      },
      "TechnicianVerify": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "first_name": {
                "type": "string"
              },
              "device_id": {
                "type": "string"
              }
            },
            "required": [
              "verified",
              "first_name",
              "device_id"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "attempts_left": {
                "type": "integer"
              }
            },
            "required": [
              "verified",
              "attempts_left"
            ],
            "additionalProperties": false
          }
        ]
      },
      "TechnicianVerifyRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "device_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{8,64}$",
            "description": "The app's own ID for this phone, kept in its storage."
          }
        },
        "required": [
          "challenge_id",
          "code",
          "device_id"
        ],
        "additionalProperties": false
      },
      "TechnicianMe": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Whose work the phone holds: it keeps work it set aside only for him."
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "initials": {
            "type": "string",
            "description": "For the chip at the head of Today: the first and last initials."
          },
          "device": {
            "type": "object",
            "properties": {
              "device_id": {
                "type": "string",
                "description": "The phone's own ID, as it sent it at sign-in."
              },
              "label": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Ours, from the User-Agent at sign-in."
              },
              "enrolled_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "device_id",
              "label",
              "enrolled_at"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "name",
          "first_name",
          "initials",
          "device"
        ],
        "additionalProperties": false
      },
      "TechnicianJobs": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianJob"
            }
          }
        },
        "required": [
          "date",
          "jobs"
        ],
        "additionalProperties": false,
        "description": "Jobs further out carry only time, type and sector."
      },
      "TechnicianJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "day": {
            "type": "string",
            "enum": [
              "today",
              "tomorrow",
              "later"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "one_visit": {
            "type": "boolean",
            "description": "A consultation and fit in one visit: the first fit's steps, with the client's choice of product, or none, at the piece step."
          },
          "product": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "On a first fit, the hair system the client was sold, by its name in the console. Null on any other visit, on a one visit until the client chooses, and on a first fit that names none."
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area, never the street: the one the visit's pincode is in, from the service area; else the address's locality, or the city."
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "badge": {
            "type": "string",
            "enum": [
              "prepaid",
              "credit",
              "free",
              "at_visit"
            ],
            "description": "Free for a visit the price book charges nothing for; at_visit for a one visit, paid for once the client is fitted. No response to a technician carries an amount."
          },
          "slots": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "How much of the day the visit takes: 1, 1.5 or 2 slots. Null for an unknown type."
          },
          "unlocked": {
            "type": "boolean"
          },
          "unlocks_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "day",
          "date",
          "starts_at",
          "ends_at",
          "window_label",
          "type",
          "one_visit",
          "product",
          "sector",
          "status",
          "badge",
          "slots",
          "unlocked",
          "unlocks_at"
        ],
        "additionalProperties": false
      },
      "TechnicianJobDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "day": {
            "type": "string",
            "enum": [
              "today",
              "tomorrow",
              "later"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "one_visit": {
            "type": "boolean",
            "description": "A consultation and fit in one visit: the first fit's steps, with the client's choice of product, or none, at the piece step."
          },
          "product": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "On a first fit, the hair system the client was sold, by its name in the console. Null on any other visit, on a one visit until the client chooses, and on a first fit that names none."
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area, never the street: the one the visit's pincode is in, from the service area; else the address's locality, or the city."
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "badge": {
            "type": "string",
            "enum": [
              "prepaid",
              "credit",
              "free",
              "at_visit"
            ],
            "description": "Free for a visit the price book charges nothing for; at_visit for a one visit, paid for once the client is fitted. No response to a technician carries an amount."
          },
          "slots": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "How much of the day the visit takes: 1, 1.5 or 2 slots. Null for an unknown type."
          },
          "unlocked": {
            "type": "boolean"
          },
          "unlocks_at": {
            "type": "string",
            "format": "date-time"
          },
          "address": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "building": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "tower": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "floor": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "flat": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "landmark": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "locality": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  },
                  "lat": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lng": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "line1",
                  "line2",
                  "building",
                  "tower",
                  "floor",
                  "flat",
                  "landmark",
                  "locality",
                  "city",
                  "pincode",
                  "lat",
                  "lng"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until the day before the visit; the API enforces it, not the screen."
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "client": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "note": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "note"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until the day before the visit."
          },
          "progress": {
            "$ref": "#/components/schemas/TechnicianJobProgress"
          },
          "no_show_wait_min": {
            "type": "integer",
            "description": "How long this visit's type waits before a no-show may be closed, so a phone with no signal can count it."
          },
          "pieces": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Piece"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's pieces, newest fit first. Null until the day before the visit."
          },
          "last_visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "technician": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The first name of who did it."
                  },
                  "photo_url": {
                    "type": "string",
                    "description": "Its after photograph, never to be kept on the phone."
                  }
                },
                "required": [
                  "date",
                  "technician",
                  "photo_url"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's latest earlier visit with after photographs; null for a first visit."
          },
          "reminder": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "delivered_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "delivered_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The day-before or arrival WhatsApp to the client, and when it was delivered."
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "check_in",
                "start",
                "before_photos",
                "checklist",
                "consumables",
                "piece",
                "after_photos",
                "outcome",
                "profile"
              ]
            },
            "description": "The steps this visit type runs, in order; a consultation's and a one visit's take the profile."
          },
          "checklist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSheetItem"
            },
            "description": "This kind of visit's checklist, as ops set it in the console, in its order."
          },
          "partial_reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSheetItem"
            },
            "description": "The reasons a job may be left partly done, as ops set them, in their order."
          },
          "consumables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianConsumable"
            },
            "description": "Every consumable the technician may record, those this job's service is expected to use first, each with the count its stepper starts at."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianProduct"
            },
            "description": "On a one visit and a consultation, the products by name and never by price: the first fit's services offered on the visit's day, in ops' order, which a one visit's client chooses from and the profile names. Empty for any other visit."
          },
          "payment_link": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The link Razorpay texted the client, to show them; null until Razorpay has made it."
                  },
                  "paid": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "url",
                  "paid"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "On a one visit closed as done with the client fitted, its payment link; else null."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "given_by": {
                    "type": "string",
                    "enum": [
                      "client",
                      "technician",
                      "ops"
                    ],
                    "description": "client: as they booked; ops: on the booking in the console; technician: at the visit."
                  }
                },
                "required": [
                  "code",
                  "given_by"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "On a one visit, the discount code already on it, so the outcome step asks for none; never what it takes off. Null on any other visit, and on a one visit with no code."
          },
          "profile": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HairProfile"
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's hair profile as it stands, for the piece card and for the profile step to start from. Null until the day before the visit, or before one is recorded."
          }
        },
        "required": [
          "id",
          "day",
          "date",
          "starts_at",
          "ends_at",
          "window_label",
          "type",
          "one_visit",
          "product",
          "sector",
          "status",
          "badge",
          "slots",
          "unlocked",
          "unlocks_at",
          "address",
          "access_notes",
          "client",
          "progress",
          "no_show_wait_min",
          "pieces",
          "last_visit",
          "reminder",
          "steps",
          "checklist",
          "partial_reasons",
          "consumables",
          "products",
          "payment_link",
          "discount_code",
          "profile"
        ],
        "additionalProperties": false
      },
      "TechnicianJobProgress": {
        "type": "object",
        "properties": {
          "checked_in_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "wait_ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the job may close as a no-show, from the check-in we hold; null before one landed."
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "How far from the address that check-in was; null when nothing could be measured."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "steps_done": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "check_in",
                "start",
                "before_photos",
                "checklist",
                "consumables",
                "piece",
                "after_photos",
                "outcome",
                "profile"
              ]
            },
            "description": "The steps that have reached us, in that order: the job's events, and the profile once recorded."
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "checked_in_at",
          "wait_ends_at",
          "distance_m",
          "started_at",
          "steps_done",
          "outcome"
        ],
        "additionalProperties": false
      },
      "Piece": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string"
          },
          "base": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "supplier_lot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fitted_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "replacement_due_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "piece_code",
          "base",
          "supplier_lot",
          "fitted_at",
          "replacement_due_at",
          "failed_at",
          "failure_reason"
        ],
        "additionalProperties": false
      },
      "JobSheetItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "TechnicianConsumable": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "What the consumables step sends back."
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string",
            "description": "What one is counted in: strip, ml, sachet."
          },
          "expected": {
            "type": "integer",
            "description": "How many this job's service is expected to use; 0 for one it lists no use for."
          }
        },
        "required": [
          "code",
          "name",
          "unit",
          "expected"
        ],
        "additionalProperties": false
      },
      "TechnicianProduct": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string",
            "description": "What the piece step sends back as product."
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "tier",
          "name"
        ],
        "additionalProperties": false
      },
      "HairProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The version's own ID, which a write names as based_on."
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time"
          },
          "fit": {
            "$ref": "#/components/schemas/HairFitSpecRead"
          },
          "history": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HairHistory"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null where none was recorded."
          }
        },
        "required": [
          "id",
          "recorded_at",
          "fit",
          "history"
        ],
        "additionalProperties": false
      },
      "HairFitSpecRead": {
        "description": "Every field is sent, null where it was not taken.",
        "type": "object",
        "properties": {
          "norwood_stage": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "I",
              "II",
              "III",
              "IV",
              "V",
              "VI",
              "VII",
              null
            ]
          },
          "head_circumference_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 40,
            "maximum": 70,
            "description": "In centimetres, 40 to 70, to one decimal."
          },
          "front_to_nape_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "ear_to_ear_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, over the top, 20 to 50, to one decimal."
          },
          "temple_to_temple_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "base_width_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 12,
            "description": "In inches, 2 to 12, to one decimal."
          },
          "base_length_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 14,
            "description": "In inches, 2 to 14, to one decimal."
          },
          "colour": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "1B",
              null
            ],
            "description": "The suppliers' colour code, #1B written 1B."
          },
          "grey_percent": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "density_percent": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  80
                ]
              },
              {
                "type": "number",
                "enum": [
                  100
                ]
              },
              {
                "type": "number",
                "enum": [
                  120
                ]
              },
              {
                "type": "number",
                "enum": [
                  140
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "In per cent."
          },
          "wave": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "straight",
              "slight_wave",
              "wavy",
              "curly",
              null
            ]
          },
          "hairline": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "receded",
              "straight",
              "widows_peak",
              null
            ]
          },
          "product": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[a-z][a-z0-9_]{0,31}$",
            "description": "The product, by the tier of its first-fit service: one the services table holds, retired or not."
          },
          "attachment": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "tape",
              "glue",
              "both",
              null
            ],
            "description": "Tape, glue, or both."
          },
          "product_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The product's name, never its price."
          }
        },
        "required": [
          "norwood_stage",
          "head_circumference_cm",
          "front_to_nape_cm",
          "ear_to_ear_cm",
          "temple_to_temple_cm",
          "base_width_in",
          "base_length_in",
          "colour",
          "grey_percent",
          "density_percent",
          "wave",
          "hairline",
          "product",
          "attachment",
          "product_name"
        ],
        "additionalProperties": false
      },
      "HairFitSpec": {
        "type": "object",
        "properties": {
          "norwood_stage": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "I",
              "II",
              "III",
              "IV",
              "V",
              "VI",
              "VII",
              null
            ]
          },
          "head_circumference_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 40,
            "maximum": 70,
            "description": "In centimetres, 40 to 70, to one decimal."
          },
          "front_to_nape_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "ear_to_ear_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, over the top, 20 to 50, to one decimal."
          },
          "temple_to_temple_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "base_width_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 12,
            "description": "In inches, 2 to 12, to one decimal."
          },
          "base_length_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 14,
            "description": "In inches, 2 to 14, to one decimal."
          },
          "colour": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "1B",
              null
            ],
            "description": "The suppliers' colour code, #1B written 1B."
          },
          "grey_percent": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "density_percent": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  80
                ]
              },
              {
                "type": "number",
                "enum": [
                  100
                ]
              },
              {
                "type": "number",
                "enum": [
                  120
                ]
              },
              {
                "type": "number",
                "enum": [
                  140
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "In per cent."
          },
          "wave": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "straight",
              "slight_wave",
              "wavy",
              "curly",
              null
            ]
          },
          "hairline": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "receded",
              "straight",
              "widows_peak",
              null
            ]
          },
          "product": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[a-z][a-z0-9_]{0,31}$",
            "description": "The product, by the tier of its first-fit service: one the services table holds, retired or not."
          },
          "attachment": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "tape",
              "glue",
              "both",
              null
            ],
            "description": "Tape, glue, or both."
          }
        },
        "required": [
          "norwood_stage",
          "head_circumference_cm",
          "front_to_nape_cm",
          "ear_to_ear_cm",
          "temple_to_temple_cm",
          "base_width_in",
          "base_length_in",
          "colour",
          "grey_percent",
          "density_percent",
          "wave",
          "hairline",
          "product",
          "attachment"
        ],
        "additionalProperties": false,
        "description": "Every field is sent, null where it was not taken."
      },
      "HairHistory": {
        "type": "object",
        "properties": {
          "remedies": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "none",
                "minoxidil",
                "finasteride",
                "transplant",
                "other_systems",
                "other"
              ]
            },
            "maxItems": 6,
            "description": "Every remedy the client has tried, each once; none, said alone, for none. Empty: not answered."
          },
          "transplant_year": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1900,
            "maximum": 2100,
            "description": "With a transplant only, and no later than this year."
          },
          "skin_and_allergies": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          }
        },
        "required": [
          "remedies",
          "transplant_year",
          "skin_and_allergies"
        ],
        "additionalProperties": false,
        "description": "Health information the client told us: our records alone, never Zoho or a log."
      },
      "CheckIn": {
        "type": "object",
        "properties": {
          "passed": {
            "type": "boolean"
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null when the address has no coordinates, so nothing could be measured."
          },
          "radius_m": {
            "type": "integer"
          },
          "checked_in_at": {
            "type": "string",
            "format": "date-time"
          },
          "wait_ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the job may be closed as a no-show; null when the check-in failed."
          },
          "accepted": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TechnicianWriteAccepted"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "passed",
          "distance_m",
          "radius_m",
          "checked_in_at",
          "wait_ends_at",
          "accepted"
        ],
        "additionalProperties": false
      },
      "TechnicianWriteAccepted": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "replayed": {
            "type": "boolean",
            "description": "True when this write had already landed."
          },
          "fsm_write_state": {
            "type": "string",
            "enum": [
              "pending",
              "written",
              "rejected"
            ]
          },
          "progress": {
            "$ref": "#/components/schemas/TechnicianJobProgress"
          }
        },
        "required": [
          "event_id",
          "replayed",
          "fsm_write_state",
          "progress"
        ],
        "additionalProperties": false
      },
      "CheckInRequest": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "accuracy_m": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100000
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "description": "The phone's clock, kept within bounds and never later than we received it; left out, the event ID's time, else ours."
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotoUrl": {
        "type": "object",
        "properties": {
          "upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photograph there."
          },
          "small_upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photograph's small copy there, once the photograph is in."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "upload_url",
          "small_upload_url",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotoUrlRequest": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          }
        },
        "required": [
          "phase",
          "angle"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotoTaken": {
        "type": "object",
        "properties": {
          "take": {
            "type": "string",
            "format": "uuid",
            "description": "This upload of the angle's photograph, which its small copy's upload names."
          }
        },
        "required": [
          "take"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotosRequest": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          }
        },
        "required": [
          "phase"
        ],
        "additionalProperties": false
      },
      "ChecklistRequest": {
        "type": "object",
        "properties": {
          "done": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "maxItems": 20
          }
        },
        "required": [
          "done"
        ],
        "additionalProperties": false
      },
      "ConsumablesRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 999
                    }
                  },
                  "required": [
                    "code",
                    "quantity"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 80
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 999
                    }
                  },
                  "required": [
                    "name",
                    "quantity"
                  ],
                  "additionalProperties": false,
                  "description": "A consumable by the name the technician gave it, as a phone queued it before codes."
                }
              ]
            },
            "maxItems": 30
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false,
        "description": "What was used, each by the code the job's card gave it. None used is an empty list. A code the catalogue does not hold is refused, fields items."
      },
      "PieceRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/PieceFitted"
          },
          {
            "$ref": "#/components/schemas/PieceDeclined"
          }
        ]
      },
      "PieceFitted": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 40
          },
          "base": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "supplier_lot": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "old_piece": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "piece_code": {
                "type": "string",
                "minLength": 3,
                "maxLength": 40
              },
              "failure_reason": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "required": [
              "piece_code",
              "failure_reason"
            ],
            "additionalProperties": false,
            "description": "On a replacement: the piece that came off, and why it failed."
          },
          "product": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "description": "On a one visit, and only there: the product the client chose, by its tier from the card's products."
          }
        },
        "required": [
          "piece_code"
        ],
        "additionalProperties": false,
        "description": "The piece fitted, with its base and lot, and on a replacement the one that came off. A failure_reason on the piece itself marks it as failed and fits nothing."
      },
      "PieceDeclined": {
        "type": "object",
        "properties": {
          "declined": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "declined"
        ],
        "additionalProperties": false,
        "description": "On a one visit, and only there: the client decided against the fit, so nothing was fitted, and closing the visit as done makes it a consultation."
      },
      "TechnicianProfileRecorded": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "replayed": {
            "type": "boolean",
            "description": "True when this write had already landed."
          },
          "progress": {
            "$ref": "#/components/schemas/TechnicianJobProgress"
          }
        },
        "required": [
          "event_id",
          "replayed",
          "progress"
        ],
        "additionalProperties": false,
        "description": "Kept in our records alone: nothing of it goes to FSM."
      },
      "TechnicianProfileRequest": {
        "type": "object",
        "properties": {
          "fit": {
            "$ref": "#/components/schemas/HairFitSpec"
          },
          "history": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HairHistory"
              },
              {
                "type": "null"
              }
            ]
          },
          "based_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "description": "The id of the version the form started from: the latest as it was read; null where there was none."
          }
        },
        "required": [
          "fit",
          "history",
          "based_on"
        ],
        "additionalProperties": false,
        "description": "The client's whole profile as it stands now: the card's latest, changed where the technician changed it. Each is a new version."
      },
      "OutcomeRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "done"
                ]
              }
            },
            "required": [
              "outcome"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "partial"
                ]
              },
              "reason": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "description": "One of the card's partial_reasons, by its id; one ops have since taken off is still taken."
              }
            },
            "required": [
              "outcome",
              "reason"
            ],
            "additionalProperties": false
          }
        ]
      },
      "NoShowClose": {
        "type": "object",
        "properties": {
          "closed": {
            "type": "boolean"
          },
          "wait_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "case_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ]
          },
          "accepted": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TechnicianWriteAccepted"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "closed",
          "wait_ends_at",
          "case_id",
          "accepted"
        ],
        "additionalProperties": false
      },
      "PieceLookup": {
        "type": "object",
        "properties": {
          "piece": {
            "$ref": "#/components/schemas/Piece"
          },
          "belongs_to_this_job": {
            "type": "boolean"
          }
        },
        "required": [
          "piece",
          "belongs_to_this_job"
        ],
        "additionalProperties": false,
        "description": "Whether the label is one of the job's client's pieces."
      },
      "TechnicianDiscountCodeApplied": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code, as it is kept: in capitals."
          }
        },
        "required": [
          "code"
        ],
        "additionalProperties": false
      },
      "TechnicianDiscountCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "As the client gave it, any case."
          }
        },
        "required": [
          "code"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/otp": {
      "post": {
        "summary": "Send a login code on WhatsApp. The answer is the same whether or not FSM lists the number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianLoginRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A code is on its way, if FSM lists this number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianChallenge"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's ceiling on codes is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/verify": {
      "post": {
        "summary": "Check a code. The right one opens a session on this phone (the mm_tech cookie)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Right, with a session; or wrong, with the attempts left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianVerify"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: expired, used, or void after five wrong codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/logout": {
      "post": {
        "summary": "End this session on this phone",
        "responses": {
          "204": {
            "description": "Logged out"
          },
          "401": {
            "description": "session_required; device_revoked: there was no session here to end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/me": {
      "get": {
        "summary": "Who is signed in, and the phone this session is bound to",
        "responses": {
          "200": {
            "description": "The signed-in technician",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianMe"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs; technician_inactive: ops switched him off, so drop the cards and set aside the work not yet sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs": {
      "get": {
        "summary": "The technician's jobs on a date. Today and tomorrow in full; later dates only time, type and sector",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false,
            "name": "date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The day's jobs, in time order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianJobs"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}": {
      "get": {
        "summary": "One of the technician's jobs, with the day-before unlock enforced",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianJobDetail"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job of this technician's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/last-visit-photo": {
      "get": {
        "summary": "The client's last visit, after: one photograph, under the card's own unlock, never cached",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job of this technician's, not unlocked yet, or no earlier visit's photograph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/checkin": {
      "post": {
        "summary": "I have arrived: the time and the phone's position, inside the geofence",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass or fail, with the distance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIn"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first; not_today: the job is on another day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/start": {
      "post": {
        "summary": "Start the job. The duration runs from here to the outcome",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first; not_today: the job is on another day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/photos/upload-url": {
      "post": {
        "summary": "A link to PUT one photograph to, for one phase and angle",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianPhotoUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The link, good for fifteen minutes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianPhotoUrl"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job, or never this technician's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: the job was given to another technician or cancelled while its photographs waited; moved names whom",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/photos/{token}": {
      "put": {
        "summary": "The photograph itself: a JPEG or PNG, at most 2 MB",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianPhotoTaken"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is wrong or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG or PNG, or over 2 MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: R2 holds past the runaway ceiling; the phone keeps the photograph and sends it later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/photos/{token}/small": {
      "put": {
        "summary": "The photograph's small copy, for the client app's rows: a JPEG of at most 64 KB and 800 px a side",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The take the photograph's upload answered."
            },
            "required": true,
            "description": "The take the photograph's upload answered.",
            "name": "take",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Received, or held already"
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is wrong or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_missing: that take is not the angle's photograph: not arrived yet, or taken again since",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG, or over 64 KB or 800 px a side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: R2 holds past the runaway ceiling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/photos": {
      "post": {
        "summary": "The phase's five photographs are in; attach them to FSM",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianPhotosRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/checklist": {
      "post": {
        "summary": "The service checklist, per visit type",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChecklistRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/consumables": {
      "post": {
        "summary": "Consumables used, with quantities",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumablesRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/piece": {
      "post": {
        "summary": "The piece: a replacement's, a first fit's and a one visit's step only",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PieceRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/profile": {
      "post": {
        "summary": "The client's hair profile, the fit spec and their history, as a new version",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
[...]
