{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API",
    "description": "mm-api, served at https://{host}/api/*. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://maneman.in",
      "description": "production"
    },
    {
      "url": "https://staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "claim_required",
                  "whatsapp_unavailable",
                  "number_not_proved",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "payment_owed",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "not_served",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "piece_code",
                  "technician_inactive",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "in_progress",
                  "too_early_to_close",
                  "too_early_to_arrive",
                  "already_closed",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "no_product",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_disputed",
                  "not_disputable",
                  "dispute_window_closed",
                  "code_not_applicable",
                  "already_discounted",
                  "price_settled",
                  "code_exists",
                  "slot_times_too_soon",
                  "not_permitted",
                  "last_admin"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              },
              "moved": {
                "type": "object",
                "properties": {
                  "technician": {
                    "type": "string",
                    "description": "Their first name, and nothing else of theirs"
                  },
                  "at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When ops moved the job to them; null where nothing recorded when"
                  }
                },
                "required": [
                  "technician",
                  "at"
                ],
                "additionalProperties": false,
                "description": "superseded, to a technician's phone, for a job given to another technician: whom, and when (docs/open-points.md, item 92)."
              },
              "earliest_at": {
                "type": "string",
                "format": "date-time",
                "description": "too_early_to_arrive, to a technician's check-in or start: the earliest moment the job takes one."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          },
          "cron_completed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the five-minute cron last finished a run; null before its first, or when the database is not this environment's. Information only: status does not depend on it."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1",
          "cron_completed_at"
        ],
        "additionalProperties": false
      },
      "PublishedPrices": {
        "type": "object",
        "properties": {
          "on": {
            "type": "string",
            "format": "date",
            "description": "The day in India these are in force."
          },
          "tier": {
            "type": "string",
            "enum": [
              "standard"
            ],
            "description": "The tier of the two figures below: each kind's standard."
          },
          "service": {
            "$ref": "#/components/schemas/Price"
          },
          "replacement": {
            "$ref": "#/components/schemas/Price"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublishedService"
            },
            "description": "Every service offered and priced today, a kind at a time, in the console's order. A first fit's are the hair systems ops offer; none while ops offer none."
          }
        },
        "required": [
          "on",
          "tier",
          "service",
          "replacement",
          "services"
        ],
        "additionalProperties": false
      },
      "Price": {
        "type": "object",
        "properties": {
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: what the client pays."
          },
          "gst_percent": {
            "type": "number"
          }
        },
        "required": [
          "amount_ex_gst",
          "amount",
          "gst_percent"
        ],
        "additionalProperties": false
      },
      "PublishedService": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "tier": {
            "type": "string",
            "description": "Its code within its kind."
          },
          "name": {
            "type": "string"
          },
          "minutes": {
            "type": "integer"
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          }
        },
        "required": [
          "type",
          "tier",
          "name",
          "minutes",
          "price"
        ],
        "additionalProperties": false
      },
      "NumberCode": {
        "type": "object",
        "properties": {
          "code_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "code_id"
        ],
        "additionalProperties": false,
        "description": "The code is on its way to the number on WhatsApp."
      },
      "NumberCodeRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "maxLength": 20
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "The name typed beside the number."
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          }
        },
        "required": [
          "mobile",
          "name",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "NumberCodeVerify": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "verified"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "attempts_left": {
                "type": "integer",
                "description": "0 means the code is now void."
              }
            },
            "required": [
              "verified",
              "attempts_left"
            ],
            "additionalProperties": false
          }
        ]
      },
      "NumberCodeVerifyRequest": {
        "type": "object",
        "properties": {
          "code_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "code_id",
          "code"
        ],
        "additionalProperties": false
      },
      "OpenWindows": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "consultation",
              "one_visit"
            ]
          },
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "windows": {
                  "type": "object",
                  "properties": {
                    "morning": {
                      "type": "boolean"
                    },
                    "afternoon": {
                      "type": "boolean"
                    },
                    "evening": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "morning",
                    "afternoon",
                    "evening"
                  ],
                  "additionalProperties": false,
                  "description": "true where booking that window now would be taken; false where it is full."
                }
              },
              "required": [
                "date",
                "windows"
              ],
              "additionalProperties": false
            },
            "description": "The days the form offers: 14, from tomorrow in India."
          }
        },
        "required": [
          "plan",
          "days"
        ],
        "additionalProperties": false
      },
      "Consultation": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "booked",
              "requested"
            ],
            "description": "A slot is held for a \"booked\" one; a \"requested\" one waits for ops, self-serve booking being off."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "area": {
            "type": "string",
            "description": "The area once ops have named it, its city until then."
          },
          "credits": {
            "type": "boolean",
            "description": "Whether the invite's service visits apply."
          },
          "invite": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "unknown"
            ],
            "description": "valid; expired, when the invite held for them on a waitlist lapsed 12 months after their area launched, so the consultation is still free and the invite's visits do not apply; or unknown: no invite came with it, or a code we do not have."
          },
          "one_visit": {
            "type": "boolean",
            "description": "true: the consultation and the first fit in one visit were booked, or asked for."
          },
          "discount_code": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StandingCode"
              },
              {
                "type": "null"
              }
            ],
            "description": "The code given, as it stands on the booking or on the request ops book from; null when none was given, or another booking took the code's last use a moment before, and the booking stands without it."
          }
        },
        "required": [
          "state",
          "date",
          "window",
          "area",
          "credits",
          "invite",
          "one_visit",
          "discount_code"
        ],
        "additionalProperties": false
      },
      "StandingCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "In capitals, as it is kept."
          },
          "kind": {
            "type": "string",
            "enum": [
              "percent",
              "amount"
            ]
          },
          "value": {
            "type": "integer",
            "description": "Per cent for a percentage; paise before GST for an amount."
          },
          "cap": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "The most a percentage takes off, in paise before GST; null for none."
          }
        },
        "required": [
          "code",
          "kind",
          "value",
          "cap"
        ],
        "additionalProperties": false
      },
      "TypedAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          },
          "flat": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "tower": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "landmark": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes",
          "flat"
        ],
        "additionalProperties": false
      },
      "Waitlist": {
        "type": "object",
        "properties": {
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until ops have named the area, and for a pincode we do not know."
          },
          "credits": {
            "type": "boolean",
            "description": "Whether the invite's service visits apply."
          },
          "invite": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "unknown"
            ],
            "description": "valid; expired, when the invite held for them on a waitlist lapsed 12 months after their area launched, so the consultation is still free and the invite's visits do not apply; or unknown: no invite came with it, or a code we do not have."
          }
        },
        "required": [
          "area",
          "credits",
          "invite"
        ],
        "additionalProperties": false
      },
      "Invite": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "valid",
              "unknown"
            ]
          },
          "referrer_first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Only if the referrer agreed to be named, and naming is on (REFERRER_NAME_ON_INVITE)."
          },
          "card": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "house",
                  "personal"
                ]
              },
              "version": {
                "type": "integer"
              }
            },
            "required": [
              "state",
              "version"
            ],
            "additionalProperties": false,
            "description": "Which card the invite shows, and its version for the preview's URL."
          }
        },
        "required": [
          "state",
          "referrer_first_name",
          "card"
        ],
        "additionalProperties": false
      },
      "PincodeAnswer": {
        "type": "object",
        "properties": {
          "pincode": {
            "type": "string"
          },
          "served": {
            "type": "boolean"
          },
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area's name once ops have named it; null until then, and for a pincode we do not know."
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "pincode",
          "served",
          "area",
          "city"
        ],
        "additionalProperties": false
      },
      "ReferralConsultation": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "booked",
              "requested"
            ],
            "description": "A slot is held for a \"booked\" one; a \"requested\" one waits for ops, self-serve booking being off."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "area": {
            "type": "string",
            "description": "The area once ops have named it, its city until then."
          },
          "credits": {
            "type": "boolean",
            "description": "Whether the invite's service visits apply."
          },
          "invite": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "unknown"
            ],
            "description": "valid; expired, when the invite held for them on a waitlist lapsed 12 months after their area launched, so the consultation is still free and the invite's visits do not apply; or unknown: no invite came with it, or a code we do not have."
          },
          "one_visit": {
            "type": "boolean",
            "description": "true: the consultation and the first fit in one visit were booked, or asked for."
          }
        },
        "required": [
          "state",
          "date",
          "window",
          "area",
          "credits",
          "invite",
          "one_visit"
        ],
        "additionalProperties": false
      },
      "ReferralWaitlist": {
        "type": "object",
        "properties": {
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until ops have named the area, and for a pincode we do not know."
          },
          "credits": {
            "type": "boolean",
            "description": "Whether the invite's service visits apply."
          },
          "invite": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "unknown"
            ],
            "description": "valid; expired, when the invite held for them on a waitlist lapsed 12 months after their area launched, so the consultation is still free and the invite's visits do not apply; or unknown: no invite came with it, or a code we do not have."
          }
        },
        "required": [
          "area",
          "credits",
          "invite"
        ],
        "additionalProperties": false
      },
      "ReferralReward": {
        "type": "object",
        "properties": {
          "referrer_visits": {
            "type": "integer",
            "description": "The free service visits the client who sent the invite gets; 0 for none."
          },
          "friend_visits": {
            "type": "integer",
            "description": "The free service visits the friend they invited gets; 0 for none."
          },
          "valid_days": {
            "type": "integer",
            "description": "How many days the credits last from the grant."
          }
        },
        "required": [
          "referrer_visits",
          "friend_visits",
          "valid_days"
        ],
        "additionalProperties": false,
        "description": "What each side is given when a friend's first fit is done, as it stands now. A grant is given what is in force when the friend is fitted, and keeps it."
      },
      "UploadUrlResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photo there within five minutes, as image/jpeg or image/png."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "job_id",
          "upload_url",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "UploadUrlRequest": {
        "type": "object",
        "properties": {
          "photo_consent": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "The photo notice was agreed to."
          },
          "notice_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": "photo-v3",
            "description": "The photo notice shown: the current one, the only one recorded."
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          }
        },
        "required": [
          "photo_consent",
          "notice_version",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "queued",
              "rendering",
              "downloading",
              "ready",
              "failed",
              "expired"
            ]
          },
          "failure_code": {
            "type": "string",
            "enum": [
              "photo_unreadable",
              "photo_invalid_file",
              "render_failed",
              "busy"
            ],
            "description": "Only when state is failed."
          }
        },
        "required": [
          "job_id",
          "state"
        ],
        "additionalProperties": false
      },
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "preset": {
            "type": "string",
            "enum": [
              "full-natural-short",
              "full-straight-medium",
              "medium-natural-short",
              "medium-receded-medium",
              "light-natural-short",
              "light-receded-cropped"
            ]
          },
          "hair_color": {
            "type": "string",
            "enum": [
              "black",
              "brown",
              "lightBrown",
              "grey",
              "silver",
              "white",
              "unknown"
            ],
            "description": "From the browser's detector; unknown if it could not tell."
          }
        },
        "required": [
          "job_id",
          "preset",
          "hair_color"
        ],
        "additionalProperties": false,
        "description": "The look, for the stage the gate's claim gave the try-on."
      },
      "ClaimResponse": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "lead_id"
        ],
        "additionalProperties": false,
        "description": "Saved: the look goes to this number on WhatsApp once it is made."
      },
      "ClaimRequest": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "mobile": {
            "type": "string",
            "pattern": "^(?:(?:\\+|00?)?91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          },
          "number_code_id": {
            "type": "string",
            "format": "uuid",
            "description": "The code that proved the number (POST /api/number-code/verify). It proves it for 30 minutes after it was entered."
          },
          "stage": {
            "type": "string",
            "enum": [
              "crown",
              "receding",
              "advanced"
            ],
            "description": "The hair-loss stage the visitor picked: the lead's, and the one the look is made for."
          },
          "notice_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": "gate-v3",
            "description": "The gate's notice the page showed: the current one, the only one a claim may record, when left out (docs/decisions/0104-the-try-ons-look-on-whatsapp-only.md)."
          },
          "attribution": {
            "$ref": "#/components/schemas/Attribution"
          }
        },
        "required": [
          "job_id",
          "name",
          "mobile",
          "number_code_id",
          "stage"
        ],
        "additionalProperties": false
      },
      "Attribution": {
        "type": "object",
        "properties": {
          "utm_source": {
            "type": "string",
            "maxLength": 200
          },
          "utm_medium": {
            "type": "string",
            "maxLength": 200
          },
          "utm_campaign": {
            "type": "string",
            "maxLength": 200
          },
          "utm_content": {
            "type": "string",
            "maxLength": 200
          },
          "gclid": {
            "type": "string",
            "maxLength": 200
          },
          "fbclid": {
            "type": "string",
            "maxLength": 200
          },
          "referrer": {
            "type": "string",
            "maxLength": 500
          },
          "landing_path": {
            "type": "string",
            "maxLength": 500
          }
        },
        "additionalProperties": false,
        "description": "Where the visitor came from, as the page saw it. All optional."
      },
      "TryOnAvailability": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean",
            "description": "False while WhatsApp cannot send a look: the try-on does not run, and the page says so."
          }
        },
        "required": [
          "available"
        ],
        "additionalProperties": false
      },
      "Look": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "queued",
              "rendering",
              "downloading",
              "ready",
              "failed",
              "expired"
            ]
          },
          "failure_code": {
            "type": "string",
            "enum": [
              "photo_unreadable",
              "photo_invalid_file",
              "render_failed",
              "busy"
            ],
            "description": "Only when state is failed."
          }
        },
        "required": [
          "job_id",
          "state"
        ],
        "additionalProperties": false,
        "description": "The look this browser has had: its state alone. The look goes to WhatsApp only."
      },
      "StoppedMessages": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "enum": [
              "whatsapp_visits",
              "whatsapp_launches"
            ],
            "description": "What is no longer sent. The same answer when it had been stopped already."
          }
        },
        "required": [
          "purpose"
        ],
        "additionalProperties": false
      },
      "StopMessagesRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 600
          }
        },
        "required": [
          "token"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/published-prices": {
      "get": {
        "summary": "The prices the site publishes, from the price book, in force today. Cacheable for a minute.",
        "responses": {
          "200": {
            "description": "The prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedPrices"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: the book lacks the standard service visit or replacement, so the site shows its own",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-code": {
      "post": {
        "summary": "Send a code on WhatsApp to prove a number typed into the site",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberCodeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The code is on its way",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberCode"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many codes for this number today, or from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's ceiling on codes is reached; unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-code/verify": {
      "post": {
        "summary": "Check a code. The right one proves its number for 30 minutes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberCodeVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Right; or wrong, with the attempts left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberCodeVerify"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: expired, already entered, or void after five wrong codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/availability/public": {
      "get": {
        "summary": "The days and windows the booking form can book, open or full. Cacheable for a minute.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$",
              "description": "A six-digit Indian pincode."
            },
            "required": true,
            "description": "A six-digit Indian pincode.",
            "name": "pincode",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "consultation",
                "one_visit"
              ],
              "description": "The consultation alone, or the consultation and fit in one visit."
            },
            "required": true,
            "description": "The consultation alone, or the consultation and fit in one visit.",
            "name": "plan",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Each day's three windows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenWindows"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: fields names the pincode or the plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: the pincode is not served",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/consultation": {
      "post": {
        "summary": "Book a free consultation",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "loss_extent": {
                    "type": "string",
                    "enum": [
                      "crown",
                      "receding",
                      "advanced"
                    ],
                    "description": "Where the hair loss is, as the form's drawings show it. Left out when the visitor does not say."
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "utm_source": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_medium": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_campaign": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_content": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "gclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "fbclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "referrer": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "landing_path": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  },
                  "invite_code": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "The code of an invite this browser opened in the last 30 days. One sent without invite_told, one we do not have, or one not shaped like a code, is ignored: the booking goes ahead without an invite."
                  },
                  "invite_told": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "true: beside the invite, the form said that whoever sent it is told when the friend is fitted, and offered to go on without it. The attribution records it."
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "address": {
                    "$ref": "#/components/schemas/TypedAddress"
                  },
                  "one_visit": {
                    "type": "boolean",
                    "description": "true: the consultation and the first fit in one visit, three hours, in the morning or the afternoon; the client chooses the product with the technician and pays once fitted, so nothing is paid here. Left out or false, the consultation alone."
                  },
                  "number_code_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The WhatsApp code that proved the number (POST /api/number-code/verify) in the last 30 minutes. One visit needs it, and is refused number_not_proved without it."
                  },
                  "discount_code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40,
                    "description": "A discount code for the consultation and fit in one visit, as typed, any case: it comes off the product's price at the payment link (docs/decisions/0108-discount-codes.md). A code that does not apply refuses the booking, code_not_applicable, and so does any code with the consultation alone."
                  },
                  "consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me on WhatsApp about this consultation.\""
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "pincode",
                  "turnstile_token",
                  "date",
                  "window",
                  "address",
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booked, or asked for. A number with a consultation still to happen, or past consultations, gets the answer a new number would, books nothing, and is told why on WhatsApp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consultation"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: fields names what was refused, address.pincode for an address in another pincode, window for one visit in the evening",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed; number_not_proved: one visit, without a WhatsApp code that proved the number in the last 30 minutes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "taken: that window has gone; idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: the pincode is not served, or the day is not open; code_not_applicable: the discount code does not apply, fields names discount_code; no_product: one visit, on a day the console offers no hair system; idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "post": {
        "summary": "Wait for a pincode we do not serve yet",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "loss_extent": {
                    "type": "string",
                    "enum": [
                      "crown",
                      "receding",
                      "advanced"
                    ],
                    "description": "Where the hair loss is, as the form's drawings show it. Left out when the visitor does not say."
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "utm_source": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_medium": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_campaign": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_content": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "gclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "fbclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "referrer": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "landing_path": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  },
                  "invite_code": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "The code of an invite this browser opened in the last 30 days. One sent without invite_told, one we do not have, or one not shaped like a code, is ignored: the booking goes ahead without an invite."
                  },
                  "invite_told": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "true: beside the invite, the form said that whoever sent it is told when the friend is fitted, and offered to go on without it. The attribution records it."
                  },
                  "contact_consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me about this request.\" Required."
                  },
                  "launch_alert": {
                    "type": "boolean",
                    "description": "\"Tell me when you launch in my area.\" Optional."
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "pincode",
                  "turnstile_token",
                  "contact_consent",
                  "launch_alert"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "On the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waitlist"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: that pincode is served; book instead; idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}": {
      "get": {
        "summary": "An invite: valid or unknown",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: this address looked up too many codes that are not there this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/og/{file}": {
      "get": {
        "summary": "An invite's preview image",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}\\.jpg$"
            },
            "required": true,
            "name": "file",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The referrer's card",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "The house card, on the site; for every code from an address past its misses this hour"
          }
        }
      }
    },
    "/api/pincodes/{pin}": {
      "get": {
        "summary": "Whether we come to a pincode",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$",
              "description": "A six-digit Indian pincode."
            },
            "required": true,
            "description": "A six-digit Indian pincode.",
            "name": "pin",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Served or not",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PincodeAnswer"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: \"That is not a six-digit Indian pincode.\"",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}/consultation": {
      "post": {
        "summary": "Book a free consultation through an invite",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "invite_told": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "true: the form said that whoever sent the invite is told when the friend is fitted. The attribution records it; the invite applies either way."
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "address": {
                    "$ref": "#/components/schemas/TypedAddress"
                  },
                  "one_visit": {
                    "type": "boolean",
                    "description": "true: the consultation and the first fit in one visit, three hours, in the morning or the afternoon; the client chooses the product with the technician and pays once fitted, so nothing is paid here. Left out or false, the consultation alone."
                  },
                  "number_code_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The WhatsApp code that proved the number (POST /api/number-code/verify) in the last 30 minutes. One visit needs it, and is refused number_not_proved without it."
                  },
                  "consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me on WhatsApp about this consultation.\""
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "turnstile_token",
                  "pincode",
                  "date",
                  "window",
                  "address",
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booked, or asked for. A number with a consultation still to happen, or past consultations, gets the answer a new number would, books nothing, and is told why on WhatsApp.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralConsultation"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: fields names what was refused, address.pincode for an address in another pincode, window for one visit in the evening",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed; number_not_proved: one visit, without a WhatsApp code that proved the number in the last 30 minutes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "taken: that window has gone; idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: the pincode is not served, or the day is not open; no_product: one visit, on a day the console offers no hair system; idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}/waitlist": {
      "post": {
        "summary": "Wait for an unserved pincode",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "invite_told": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "true: the form said that whoever sent the invite is told when the friend is fitted. The attribution records it; the invite applies either way."
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "contact_consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me about this request.\" Required."
                  },
                  "launch_alert": {
                    "type": "boolean",
                    "description": "\"Tell me when you launch in my area.\" Optional."
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "turnstile_token",
                  "pincode",
                  "contact_consent",
                  "launch_alert"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "On the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralWaitlist"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: that pincode is served; book instead; idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referral-reward": {
      "get": {
        "summary": "What a referral earns now, as ops set it. Cacheable for a minute.",
        "responses": {
          "200": {
            "description": "The reward",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralReward"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/upload-url": {
      "post": {
        "summary": "Record the photo consent and get a link to upload one photo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed; look_limit_reached: this browser already has its look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many uploads from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's upload ceiling is reached; unavailable: Turnstile could not be reached; whatsapp_unavailable: WhatsApp cannot send the look, so the try-on does not run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/upload/{job_id}": {
      "put": {
        "summary": "Upload the photo: a JPEG or PNG, at most 5 MB and 200 to 4090 px a side",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Received"
          },
          "404": {
            "description": "not_found: no such job, or the link has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_already_received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG or PNG, over 5 MB, or the wrong size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/upload/{job_id}/copy": {
      "put": {
        "summary": "Upload the photo's small copy, which a client keeps as their before photo: a JPEG of at most 250 KB and 200 to 1600 px a side",
        "description": "With the upload link's token, after the photo itself, and only under a photo notice that says a client's try-on is kept (docs/decisions/0084-a-clients-try-on-is-kept.md). The sweeper deletes it with the photo, or with the look, unless its person books a visit.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Received"
          },
          "404": {
            "description": "not_found: no such job, or the link has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_missing: the photo has not been uploaded, or has been deleted; upload_already_received: the copy was; consent_required: the photo notice agreed to keeps no copy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG, over 250 KB, or the wrong size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/generate": {
      "post": {
        "summary": "Render the look for an uploaded photo the gate has claimed: one look per visitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued, or an identical job already exists. job_id may differ from the one sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "look_limit_reached: this photo already has its look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "claim_required: the gate has not been given a number to send the look to; upload_missing: the photo has not been uploaded, or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many renders from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's render ceiling is reached; whatsapp_unavailable: WhatsApp cannot send the look, so none is made",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/status/{job_id}": {
      "get": {
        "summary": "Where a job stands",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The job's state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/claim": {
      "post": {
        "summary": "The gate: where to send the look on WhatsApp, given before the look is made",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "look_limit_reached: this number had its look in the last thirty days; number_not_proved: no WhatsApp code proved the number in the last 30 minutes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "job_not_claimable: no photo was uploaded, its render was asked for already, or it is another number's; idempotency_in_progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "idempotency_key_reused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: this number has had its claims, or its looks, for today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "whatsapp_unavailable: WhatsApp cannot send the look, so the try-on does not run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/availability": {
      "get": {
        "summary": "Whether the try-on can run: its look is sent on WhatsApp, so not while WhatsApp cannot send it",
        "responses": {
          "200": {
            "description": "Whether it runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TryOnAvailability"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/look": {
      "get": {
        "summary": "Whether this browser has had its look, from its mm_look cookie",
        "responses": {
          "200": {
            "description": "The browser's look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Look"
                }
              }
            }
          },
          "204": {
            "description": "This browser has had no look yet"
          }
        }
      }
    },
    "/api/result/{token}": {
      "get": {
        "summary": "A result image, behind the signed link a WhatsApp message carries, which expires",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 600
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is invalid or expired, or the result was deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's result-read ceiling is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stop": {
      "post": {
        "summary": "Stops the messages a reminder's or alert's link names, by withdrawing the consent they were sent under",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoppedMessages"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: no token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is not ours, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hooks/evolution/{token}": {
      "post": {
        "summary": "Evolution's delivery receipts (messages.update) for the WhatsApp messages we sent, and the messages on our number (messages.upsert), where a STOP reply stops our messages",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Taken, or ignored. Either way Evolution need not send it again"
          },
          "401": {
            "description": "unauthorized: the token is wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: receipts are not switched on (no EVOLUTION_WEBHOOK_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hooks/razorpay": {
      "post": {
        "summary": "Razorpay's webhook: payments and refunds",
        "responses": {
          "200": {
            "description": "Taken, or ignored. Either way Razorpay need not send it again"
          },
          "401": {
            "description": "unauthorized: the signature does not match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the webhook is not switched on (no RAZORPAY_WEBHOOK_SECRET)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "not_ready: a refund of a payment not yet recorded, whose event does not carry it; Razorpay retries it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
