{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the ops console",
    "description": "mm-api on the ops console's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*, behind Cloudflare Access. Every call needs a valid Access token and is recorded in the audit log under its identity (docs/decisions/0031-access-and-audit.md). Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://ops.maneman.in",
      "description": "production"
    },
    {
      "url": "https://ops-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "claim_required",
                  "whatsapp_unavailable",
                  "number_not_proved",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "not_served",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "piece_code",
                  "technician_inactive",
                  "managed_in_fsm",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "in_progress",
                  "too_early_to_close",
                  "already_closed",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "no_product",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_disputed",
                  "not_disputable",
                  "dispute_window_closed",
                  "code_not_applicable",
                  "already_discounted",
                  "price_settled",
                  "code_exists",
                  "slot_times_too_soon",
                  "not_permitted",
                  "last_admin"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              },
              "moved": {
                "type": "object",
                "properties": {
                  "technician": {
                    "type": "string",
                    "description": "Their first name, and nothing else of theirs"
                  },
                  "at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When ops moved the job to them; null when it was moved in FSM itself"
                  }
                },
                "required": [
                  "technician",
                  "at"
                ],
                "additionalProperties": false,
                "description": "superseded, to a technician's phone, for a job given to another technician: whom, and when (docs/open-points.md, item 92)."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          },
          "cron_completed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the five-minute cron last finished a run; null before its first, or when the database is not this environment's. Information only: status does not depend on it."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1",
          "cron_completed_at"
        ],
        "additionalProperties": false
      },
      "ClientErrorReport": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "error",
              "unhandled_rejection",
              "render",
              "outbox_gave_up"
            ]
          },
          "message": {
            "type": "string",
            "maxLength": 500
          },
          "path": {
            "type": "string",
            "maxLength": 300,
            "description": "The page's path, with no query or fragment."
          },
          "stack": {
            "type": "string",
            "maxLength": 4000
          },
          "source": {
            "type": "string",
            "maxLength": 500,
            "description": "The script the error was thrown in."
          },
          "line": {
            "type": "integer",
            "minimum": 0
          },
          "column": {
            "type": "integer",
            "minimum": 0
          },
          "step": {
            "type": "string",
            "maxLength": 40,
            "description": "outbox_gave_up: the write's kind, as `checklist`."
          },
          "code": {
            "type": "string",
            "maxLength": 60,
            "description": "outbox_gave_up: the code the API refused it with."
          },
          "status": {
            "type": "integer",
            "description": "outbox_gave_up: the refusal's HTTP status."
          },
          "request_id": {
            "type": "string",
            "maxLength": 64,
            "description": "outbox_gave_up: the refusal's request ID, which its own log lines carry."
          }
        },
        "required": [
          "kind",
          "message",
          "path"
        ],
        "additionalProperties": false
      },
      "ClientSearch": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:(?:\\+|00?)?91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      },
      "ClientsFound": {
        "type": "object",
        "properties": {
          "clients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "mobile": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name",
                "mobile"
              ],
              "additionalProperties": false
            }
          },
          "more": {
            "type": "boolean",
            "description": "More than 20 match: narrow the search."
          }
        },
        "required": [
          "clients",
          "more"
        ],
        "additionalProperties": false
      },
      "ClientFind": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 60,
            "description": "Any part of a name, or of a number typed any of the usual ways."
          }
        },
        "required": [
          "text"
        ],
        "additionalProperties": false
      },
      "ClientRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "E.164, as ops need it to call or message."
          },
          "state": {
            "type": "string",
            "enum": [
              "fitted",
              "lead",
              "nothing_booked"
            ]
          },
          "known_since": {
            "type": "string",
            "format": "date-time",
            "description": "When the person's record was first written."
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientAddress"
              },
              {
                "type": "null"
              }
            ],
            "description": "The address visits go to now."
          },
          "credits": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "visits": {
                    "type": "integer"
                  },
                  "earliest_expiry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                },
                "required": [
                  "visits",
                  "earliest_expiry"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Service visits left and when the soonest expires; null with none left."
          },
          "visits": {
            "type": "object",
            "properties": {
              "upcoming": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              },
              "past": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              }
            },
            "required": [
              "upcoming",
              "past"
            ],
            "additionalProperties": false,
            "description": "Upcoming soonest first; past newest first."
          },
          "payments": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PaymentEntry"
                },
                {
                  "$ref": "#/components/schemas/RefundEntry"
                }
              ],
              "discriminator": {
                "propertyName": "kind",
                "mapping": {
                  "payment": "#/components/schemas/PaymentEntry",
                  "refund": "#/components/schemas/RefundEntry"
                }
              }
            },
            "description": "Payments and refunds as one list, newest first."
          },
          "history": {
            "$ref": "#/components/schemas/ClientRecordHistory"
          },
          "invite": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientInvite"
              },
              {
                "type": "null"
              }
            ],
            "description": "The invite they came with, or ops attached; null for none."
          },
          "held_bookings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeldBooking"
            },
            "description": "Bookings FSM refused, waiting for a try or for ops; the soonest visit first."
          }
        },
        "required": [
          "id",
          "name",
          "mobile",
          "state",
          "known_since",
          "address",
          "credits",
          "visits",
          "payments",
          "history",
          "invite",
          "held_bookings"
        ],
        "additionalProperties": false
      },
      "ClientAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "For the technician: gate code, parking and the like."
          },
          "building": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "floor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "tower": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "landmark": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "given_to_ops": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access e-mail of the member of staff who saved it."
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "by",
                  "at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the client gave it to ops on the phone: who saved it, and when."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes",
          "building",
          "flat",
          "floor",
          "tower",
          "landmark",
          "given_to_ops"
        ],
        "additionalProperties": false
      },
      "ClientVisit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "done",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way (the technician has checked in, whatever FSM says), closed as done from the technician's phone, or otherwise over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "done",
                  "partial",
                  "no_show"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "What FSM closed the visit as, a no-show being its own; null until it is closed."
          },
          "closed_without_follow_up": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access e-mail of the member of staff who closed it."
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Null once the client is erased."
                  }
                },
                "required": [
                  "by",
                  "at",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit left partly done, ops closing its task without a follow-up visit; null otherwise."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "amount_off": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "In paise before GST; null until the visit's price is known."
                  },
                  "given_by": {
                    "type": "string",
                    "enum": [
                      "client",
                      "technician",
                      "ops"
                    ]
                  }
                },
                "required": [
                  "code",
                  "amount_off",
                  "given_by"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The discount code on the visit (docs/decisions/0108-discount-codes.md); else null."
          },
          "price_open": {
            "type": "boolean",
            "description": "Not yet paid for, linked or invoiced, so a discount code may still be entered on it or taken off."
          },
          "requested_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "For a consultation and fit in one visit, the code the client typed on /book for it, honoured as it stood then when entered on the visit; null for none."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place",
          "outcome",
          "closed_without_follow_up",
          "discount_code",
          "price_open",
          "requested_code"
        ],
        "additionalProperties": false
      },
      "Technician": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "initials"
        ],
        "additionalProperties": false,
        "description": "Display name and initials only."
      },
      "VisitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "done",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way (the technician has checked in, whatever FSM says), closed as done from the technician's phone, or otherwise over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place"
        ],
        "additionalProperties": false
      },
      "PaymentEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for was one the client was not home for: how long we waited, and what ops ruled (LIFE-07)."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "amount_off": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "In paise before GST; null where the visit's price was not yet known."
                  }
                },
                "required": [
                  "code",
                  "amount_off"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The discount code the visit was paid with; null for none, and on a late fee."
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge",
          "no_show",
          "discount_code"
        ],
        "additionalProperties": false
      },
      "NoShowNote": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "undecided",
              "charged",
              "waived"
            ],
            "description": "What ops ruled: undecided while they look at the evidence, charged, or waived."
          },
          "waited_minutes": {
            "type": "integer",
            "description": "How long the technician waited at the door."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "kept": {
                    "type": "integer",
                    "description": "In paise: what the charge kept of the visit's payment."
                  },
                  "credit_spent": {
                    "type": "boolean",
                    "description": "Whether the charge spent the credit the visit used."
                  }
                },
                "required": [
                  "kept",
                  "credit_spent"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What the charge took, as the booking was sold to cost a no-show (ADR 0096). Null unless charged, and on a charge ruled before charges were recorded."
          },
          "dispute": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "open",
                  "refunded",
                  "upheld"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's dispute of the charge: open while ops look, then refunded or upheld; null when none was raised."
          },
          "disputable": {
            "type": "boolean",
            "description": "Whether the client may dispute the charge now: one that took something, not disputed yet."
          }
        },
        "required": [
          "decision",
          "waited_minutes",
          "charge",
          "dispute",
          "disputable"
        ],
        "additionalProperties": false
      },
      "RefundEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "destination",
          "speed"
        ],
        "additionalProperties": false
      },
      "ClientRecordHistory": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Every visit done: a completed visit with a window."
          },
          "services": {
            "type": "integer"
          },
          "replacements": {
            "type": "integer"
          },
          "first_fit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date. Null when no first fit is on record, which is not the same as none."
          },
          "last_visit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date of the latest visit done."
          },
          "spend": {
            "type": "integer",
            "description": "In paise: every payment captured, less what has gone back. A credit adds nothing."
          },
          "replacement_due": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "on": {
                    "type": "string",
                    "format": "date"
                  },
                  "month": {
                    "type": "string"
                  },
                  "piece_code": {
                    "type": "string"
                  }
                },
                "required": [
                  "on",
                  "month",
                  "piece_code"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "When the piece now in wear falls due; null when the client is wearing none."
          }
        },
        "required": [
          "visits",
          "services",
          "replacements",
          "first_fit_on",
          "last_visit_on",
          "spend",
          "replacement_due"
        ],
        "additionalProperties": false
      },
      "ClientInvite": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "referrer": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Who sent it; null once they have been erased."
          },
          "grant": {
            "type": "string",
            "enum": [
              "pending",
              "held",
              "approved",
              "rejected",
              "granted",
              "expired",
              "clawed_back"
            ],
            "description": "pending until the client's first fit; held for ops' review; approved or granted, the reward given; rejected; expired, lapsed on a waitlist; clawed_back, the first fit refunded."
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "When the client first came with it, or ops attached it."
          },
          "attached": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "by": {
                    "type": "string",
                    "description": "The Access identity of the member of staff who attached it."
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Null once either side is erased."
                  }
                },
                "required": [
                  "by",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Who attached it and why; null for an invite the client used themselves."
          }
        },
        "required": [
          "code",
          "referrer",
          "grant",
          "since",
          "attached"
        ],
        "additionalProperties": false
      },
      "HeldBooking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The booking's hold, which the three actions name."
          },
          "type": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "service": {
            "type": "string",
            "description": "Its service's name as it is now."
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the visit it holds starts."
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "paid": {
            "type": "integer",
            "description": "In paise, GST included: what Razorpay took; 0 when a credit covers it, or it is free."
          },
          "uses_credit": {
            "type": "boolean"
          },
          "moves_visit": {
            "type": "boolean",
            "description": "It moves a visit already booked: trying FSM again moves it, and there is no new visit to link."
          },
          "held_at": {
            "type": "string",
            "format": "date-time",
            "description": "When FSM's fifth refusal running held it."
          },
          "refusal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "FSM's latest refusal, as the log gives it."
          },
          "retries_end": {
            "type": "string",
            "format": "date-time",
            "description": "When the hourly tries end, or ended, as ops set them."
          },
          "retrying": {
            "type": "boolean",
            "description": "Still tried every hour: inside its tries, and its visit to come."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "amount_off": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "In paise before GST; null until the visit's price is known."
                  }
                },
                "required": [
                  "code",
                  "amount_off"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The discount code the client booked with (docs/decisions/0108-discount-codes.md)."
          }
        },
        "required": [
          "id",
          "type",
          "service",
          "starts_at",
          "window",
          "paid",
          "uses_credit",
          "moves_visit",
          "held_at",
          "refusal",
          "retries_end",
          "retrying",
          "discount_code"
        ],
        "additionalProperties": false
      },
      "ClientPhotos": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "technician": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "initials"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientPhoto"
                  },
                  "description": "Before then after, each in the design's angle order."
                }
              },
              "required": [
                "visit_id",
                "date",
                "type",
                "technician",
                "photos"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "visits"
        ],
        "additionalProperties": false
      },
      "ClientPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "For GET /api/clients/{id}/photos/{photo_id}, which is audited."
          },
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "taken_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "phase",
          "angle",
          "width",
          "height",
          "taken_at"
        ],
        "additionalProperties": false
      },
      "PhotoView": {
        "type": "object",
        "properties": {
          "logged_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the opening was logged, by our clock."
          },
          "before": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "by": {
                  "type": "string"
                },
                "at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "by",
                "at"
              ],
              "additionalProperties": false
            },
            "description": "Who opened them before, and when, the latest first."
          }
        },
        "required": [
          "logged_at",
          "before"
        ],
        "additionalProperties": false
      },
      "ClientConsents": {
        "type": "object",
        "properties": {
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "given",
                    "withdrawn",
                    "not_given"
                  ],
                  "description": "not_given until the client first switches it on; withdrawn once they switch it back off."
                },
                "notice_version": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The notice the client saw when they last switched it."
                },
                "at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "When they last switched it."
                },
                "source": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "site_booking",
                        "site_waitlist",
                        "referral_landing",
                        "try_on",
                        "app_booking",
                        "app_profile",
                        "app_share_sheet",
                        "technician",
                        "erasure",
                        "message_link",
                        "whatsapp_stop"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Where they last switched it. null when never switched, or when no place was kept: given before this release reached the environment on a notice shown in more than one place, written by the Worker it replaced between its migration and its deploy, or switched from a copy of the app loaded before it, which names no screen."
                }
              },
              "required": [
                "purpose",
                "state",
                "notice_version",
                "at",
                "source"
              ],
              "additionalProperties": false
            }
          },
          "deletion": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "requested",
                      "rejected"
                    ]
                  },
                  "requested_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "decided_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "state",
                  "requested_at",
                  "decided_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Their latest deletion request. A processed one leaves no client to read."
          }
        },
        "required": [
          "consents",
          "deletion"
        ],
        "additionalProperties": false
      },
      "CreditBalance": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer"
          },
          "earliest_expiry": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "visits",
          "earliest_expiry"
        ],
        "additionalProperties": false
      },
      "CreditAdjustment": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "description": "Visits to add, or, below nought, to take away."
          },
          "reason": {
            "type": "string",
            "enum": [
              "correction",
              "goodwill"
            ],
            "description": "correction: given or taken in error; goodwill: given to make up for something."
          }
        },
        "required": [
          "visits",
          "reason"
        ],
        "additionalProperties": false
      },
      "HeldBookingTried": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "booked",
              "given_back",
              "refused",
              "to_link"
            ],
            "description": "booked: in FSM and the mirror, and the client told. given_back: its payment had been refunded, or its hold lapsed, so it was let go. refused: FSM refused again, and it waits as before. to_link: a visit of the client's, of the booking's kind, reached FSM after the booking was held and is no booking's, so nothing was written; link it if it is the one ops booked."
          },
          "refusal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "FSM's refusal, as the log gives it, when it refused."
          }
        },
        "required": [
          "outcome",
          "refusal"
        ],
        "additionalProperties": false
      },
      "HeldBookingStopped": {
        "type": "object",
        "properties": {
          "stopped": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "stopped"
        ],
        "additionalProperties": false
      },
      "HeldBookingLinked": {
        "type": "object",
        "properties": {
          "fsm": {
            "$ref": "#/components/schemas/LeftInFsm"
          }
        },
        "required": [
          "fsm"
        ],
        "additionalProperties": false
      },
      "LeftInFsm": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "nothing",
              "cancelled",
              "not_cancelled",
              "unknown"
            ],
            "description": "What an earlier try left in FSM: nothing; a work order now cancelled; one FSM would not cancel, to cancel by hand; or unknown, when FSM could not be asked, so look for \"(booking <id>)\" among its work orders."
          },
          "work_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "FSM's, where there is one to name."
          }
        },
        "required": [
          "kind",
          "work_order_id"
        ],
        "additionalProperties": false
      },
      "HeldBookingLink": {
        "type": "object",
        "properties": {
          "visit_id": {
            "type": "string",
            "format": "uuid",
            "description": "The visit, as the client's page lists it once FSM's webhook or the reconciliation has mirrored it: the client's, of the booking's kind, still to happen, first seen since the client paid, not the visit the booking replaces, and no other booking's."
          }
        },
        "required": [
          "visit_id"
        ],
        "additionalProperties": false
      },
      "HeldBookingRefunded": {
        "type": "object",
        "properties": {
          "money": {
            "$ref": "#/components/schemas/HeldBookingMoney"
          },
          "fsm": {
            "$ref": "#/components/schemas/LeftInFsm"
          }
        },
        "required": [
          "money",
          "fsm"
        ],
        "additionalProperties": false
      },
      "HeldBookingMoney": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refunded",
              "refunded_before",
              "nothing_paid",
              "booked",
              "refund_refused",
              "refund_unanswered"
            ],
            "description": "refunded in full now; refunded_before, by an earlier press or in Razorpay's dashboard; nothing_paid, as a free or credit booking; booked, by a try that landed meanwhile, so nothing is refunded; refund_refused by Razorpay, so nothing has gone back and the booking still waits; refund_unanswered, Razorpay would not say whether it refunded, so it may have, and the booking still waits: pressing again cannot refund twice."
          },
          "payment_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Razorpay's, where there is a payment."
          },
          "amount": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, where one was refunded."
          }
        },
        "required": [
          "kind",
          "payment_id",
          "amount"
        ],
        "additionalProperties": false
      },
      "OpsAvailability": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOffer"
            },
            "description": "The kind's services offered on the first day."
          },
          "service": {
            "$ref": "#/components/schemas/VisitService"
          },
          "pays": {
            "type": "string",
            "enum": [
              "nothing",
              "credit",
              "link"
            ],
            "description": "How the visit is paid for: nothing at booking (free, or a consultation and fit in one visit, paid by a link once fitted), a service-visit credit, or a payment link Razorpay texts the client."
          },
          "credits": {
            "type": "integer",
            "description": "The service-visit credits the client has to spend."
          },
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "windows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "window": {
                        "type": "string",
                        "enum": [
                          "morning",
                          "afternoon",
                          "evening"
                        ]
                      },
                      "start": {
                        "type": "string",
                        "description": "When the window starts that day, in India's time."
                      },
                      "end": {
                        "type": "string"
                      },
                      "technicians": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/FreeTechnician"
                        },
                        "description": "Who is free for the visit, the client's regular technician first."
                      }
                    },
                    "required": [
                      "window",
                      "start",
                      "end",
                      "technicians"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "date",
                "windows"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "kind",
          "services",
          "service",
          "pays",
          "credits",
          "days"
        ],
        "additionalProperties": false
      },
      "ServiceOffer": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "minutes": {
            "type": "integer"
          },
          "price": {
            "$ref": "#/components/schemas/VisitPrice"
          }
        },
        "required": [
          "tier",
          "name",
          "minutes",
          "price"
        ],
        "additionalProperties": false
      },
      "VisitPrice": {
        "type": "object",
        "properties": {
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: what the client pays."
          },
          "gst_percent": {
            "type": "number"
          }
        },
        "required": [
          "amount_ex_gst",
          "amount",
          "gst_percent"
        ],
        "additionalProperties": false
      },
      "VisitService": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string",
            "description": "Its code within its kind, which never changes."
          },
          "name": {
            "type": "string"
          },
          "minutes": {
            "type": "integer",
            "description": "How long the visit is booked for."
          }
        },
        "required": [
          "tier",
          "name",
          "minutes"
        ],
        "additionalProperties": false,
        "description": "The service the windows are for: the one asked, else the first."
      },
      "FreeTechnician": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "OpsBooking": {
        "type": "object",
        "properties": {
          "hold_id": {
            "type": "string",
            "format": "uuid"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "booked",
              "being_booked",
              "awaiting_payment"
            ],
            "description": "booked: the visit is written. being_booked: it is on its way to the field record, within a minute. awaiting_payment: the slot is held and the link sent; the visit is booked once the client pays."
          },
          "visit_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit, once booked."
          },
          "pays": {
            "type": "string",
            "enum": [
              "nothing",
              "credit",
              "link"
            ],
            "description": "How the visit is paid for: nothing at booking (free, or a consultation and fit in one visit, paid by a link once fitted), a service-visit credit, or a payment link Razorpay texts the client."
          },
          "service": {
            "$ref": "#/components/schemas/VisitService"
          },
          "price": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VisitPrice"
              },
              {
                "description": "What the client pays: the service's price less any code."
              }
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "technician": {
            "$ref": "#/components/schemas/FreeTechnician"
          },
          "link": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "open_until": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "url",
                  "open_until"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The payment link Razorpay texted the client, and when it closes and the slot goes."
          }
        },
        "required": [
          "hold_id",
          "outcome",
          "visit_id",
          "pays",
          "service",
          "price",
          "date",
          "window",
          "technician",
          "link"
        ],
        "additionalProperties": false
      },
      "VisitToBook": {
        "type": "object",
        "properties": {
          "client": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "tier": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{0,31}$",
            "description": "The service; left out, the kind's standard one. A first fit names the hair system."
          },
          "technician": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "The technician ops chose; left out, whoever is free, the client's regular one first."
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "one_visit": {
            "type": "boolean",
            "description": "A consultation and fit in one visit: a first fit, morning or afternoon."
          },
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "A discount code the client gave."
          }
        },
        "required": [
          "client",
          "kind",
          "date",
          "window"
        ],
        "additionalProperties": false
      },
      "OpsCancelTerms": {
        "type": "object",
        "properties": {
          "visit_id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "notice": {
            "type": "string",
            "enum": [
              "free",
              "late"
            ],
            "description": "free: before the notice the visit was booked under starts; late: inside it."
          },
          "notice_hours": {
            "type": "integer",
            "description": "The notice the visit was booked under, in hours."
          },
          "paid": {
            "type": "integer",
            "description": "In paise: what the visit's payment holds."
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The payment's method: upi, card and so on."
          },
          "free": {
            "$ref": "#/components/schemas/OpsCancelOutcome"
          },
          "client_terms": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OpsCancelOutcome"
              },
              {
                "description": "On the client's own late terms, which ops may apply with a reason."
              }
            ]
          },
          "cancelled": {
            "type": "boolean",
            "description": "false: the terms only; true: the visit is cancelled."
          }
        },
        "required": [
          "visit_id",
          "type",
          "notice",
          "notice_hours",
          "paid",
          "destination",
          "free",
          "client_terms",
          "cancelled"
        ],
        "additionalProperties": false
      },
      "OpsCancelOutcome": {
        "type": "object",
        "properties": {
          "refund": {
            "type": "integer",
            "description": "In paise: what goes back to the payment's source."
          },
          "kept": {
            "type": "integer",
            "description": "In paise: what is kept as a charge."
          },
          "credit": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "restored",
                  "lost"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit paid with a credit: whether it comes back. Lost on the client's late terms, or where its grant has been taken back or has expired; null for a visit paid otherwise."
          }
        },
        "required": [
          "refund",
          "kept",
          "credit"
        ],
        "additionalProperties": false,
        "description": "Free to the client: what ops cancel on unless they choose."
      },
      "OpsCancel": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean"
          },
          "notice": {
            "type": "string",
            "enum": [
              "free",
              "late"
            ],
            "description": "With confirm: the notice ops were shown."
          },
          "on_client_terms": {
            "type": "boolean",
            "description": "With confirm: apply the client's own late terms. Left out, the cancel is free to the client."
          },
          "reason": {
            "type": "string",
            "maxLength": 300,
            "description": "With confirm, required: why, kept with the cancel and never written to the audit log."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      },
      "HandClosed": {
        "type": "object",
        "properties": {
          "visit_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "terminated"
            ]
          },
          "duration_minutes": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "visit_id",
          "status",
          "duration_minutes"
        ],
        "additionalProperties": false
      },
      "HandClose": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "done",
              "partial"
            ]
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the work began, on the visit's own day."
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it ended: after it began, and not later than now."
          },
          "reason": {
            "type": "string",
            "maxLength": 300,
            "description": "Why it is closed by hand, and, for a visit partly done, why: kept with the visit."
          }
        },
        "required": [
          "outcome",
          "started_at",
          "ended_at",
          "reason"
        ],
        "additionalProperties": false
      },
      "AlreadyInvited": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "claim_required",
                  "whatsapp_unavailable",
                  "number_not_proved",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "not_served",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "piece_code",
                  "technician_inactive",
                  "managed_in_fsm",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "in_progress",
                  "too_early_to_close",
                  "already_closed",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "no_product",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_disputed",
                  "not_disputable",
                  "dispute_window_closed",
                  "code_not_applicable",
                  "already_discounted",
                  "price_settled",
                  "code_exists",
                  "slot_times_too_soon",
                  "not_permitted",
                  "last_admin"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              },
              "moved": {
                "type": "object",
                "properties": {
                  "technician": {
                    "type": "string",
                    "description": "Their first name, and nothing else of theirs"
                  },
                  "at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When ops moved the job to them; null when it was moved in FSM itself"
                  }
                },
                "required": [
                  "technician",
                  "at"
                ],
                "additionalProperties": false,
                "description": "superseded, to a technician's phone, for a job given to another technician: whom, and when (docs/open-points.md, item 92)."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          },
          "invite": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            },
            "required": [
              "code"
            ],
            "additionalProperties": false,
            "description": "The invite the client came with first."
          }
        },
        "required": [
          "error",
          "invite"
        ],
        "additionalProperties": false
      },
      "InviteAttachment": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]{4,12}$",
            "description": "The invite's code, in either case."
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "description": "Why, in ops' words: kept with the invite, and blanked if either side is erased."
          }
        },
        "required": [
          "code",
          "reason"
        ],
        "additionalProperties": false
      },
      "AddressSuggestions": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "place_id": {
                  "type": "string"
                },
                "primary": {
                  "type": "string"
                },
                "secondary": {
                  "type": "string"
                }
              },
              "required": [
                "place_id",
                "primary",
                "secondary"
              ],
              "additionalProperties": false
            }
          },
          "attribution": {
            "type": "string",
            "enum": [
              "Google Maps"
            ]
          }
        },
        "required": [
          "suggestions",
          "attribution"
        ],
        "additionalProperties": false
      },
      "OpsAddressSuggestionsAsk": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "What ops have typed so far."
          },
          "session": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "One token for the whole search, sent again when the address is saved."
          }
        },
        "required": [
          "q",
          "session"
        ],
        "additionalProperties": false
      },
      "AddressSave": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          },
          "building": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120,
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "tower": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "landmark": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "place_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Google's Place ID for the building, if one was chosen."
          },
          "session_token": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes",
          "flat"
        ],
        "additionalProperties": false
      },
      "ClientHairProfile": {
        "type": "object",
        "properties": {
          "latest": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HairProfile"
              },
              {
                "type": "null"
              }
            ],
            "description": "The latest version; null before one."
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HairProfileVersion"
            },
            "description": "Every version, newest first."
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tier": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "tier",
                "name"
              ],
              "additionalProperties": false
            },
            "description": "The products a correction may name: the hair systems offered today, as the technician's card lists them."
          }
        },
        "required": [
          "latest",
          "versions",
          "products"
        ],
        "additionalProperties": false
      },
      "HairProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The version's own ID, which a write names as based_on."
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time"
          },
          "fit": {
            "$ref": "#/components/schemas/HairFitSpecRead"
          },
          "history": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HairHistory"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null where none was recorded."
          }
        },
        "required": [
          "id",
          "recorded_at",
          "fit",
          "history"
        ],
        "additionalProperties": false
      },
      "HairFitSpecRead": {
        "description": "Every field is sent, null where it was not taken.",
        "type": "object",
        "properties": {
          "norwood_stage": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "I",
              "II",
              "III",
              "IV",
              "V",
              "VI",
              "VII",
              null
            ]
          },
          "head_circumference_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 40,
            "maximum": 70,
            "description": "In centimetres, 40 to 70, to one decimal."
          },
          "front_to_nape_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "ear_to_ear_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, over the top, 20 to 50, to one decimal."
          },
          "temple_to_temple_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "base_width_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 12,
            "description": "In inches, 2 to 12, to one decimal."
          },
          "base_length_in": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 2,
            "maximum": 14,
            "description": "In inches, 2 to 14, to one decimal."
          },
          "colour": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "1B",
              null
            ],
            "description": "The suppliers' colour code, #1B written 1B."
          },
          "grey_percent": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "density_percent": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  80
                ]
              },
              {
                "type": "number",
                "enum": [
                  100
                ]
              },
              {
                "type": "number",
                "enum": [
                  120
                ]
              },
              {
                "type": "number",
                "enum": [
                  140
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "In per cent."
          },
          "wave": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "straight",
              "slight_wave",
              "wavy",
              "curly",
              null
            ]
          },
          "hairline": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "natural",
              "receded",
              "straight",
              "widows_peak",
              null
            ]
          },
          "product": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[a-z][a-z0-9_]{0,31}$",
            "description": "The product, by the tier of its first-fit service: one the services table holds, retired or not."
          },
          "attachment": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "tape",
              "glue",
              "both",
              null
            ],
            "description": "Tape, glue, or both."
          },
          "product_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The product's name, never its price."
          }
        },
        "required": [
          "norwood_stage",
          "head_circumference_cm",
          "front_to_nape_cm",
          "ear_to_ear_cm",
          "temple_to_temple_cm",
          "base_width_in",
          "base_length_in",
          "colour",
          "grey_percent",
          "density_percent",
          "wave",
          "hairline",
          "product",
          "attachment",
          "product_name"
        ],
        "additionalProperties": false
      },
      "HairFitSpec": {
        "type": "object",
        "properties": {
          "norwood_stage": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "I",
              "II",
              "III",
              "IV",
              "V",
              "VI",
              "VII",
              null
            ]
          },
          "head_circumference_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 40,
            "maximum": 70,
            "description": "In centimetres, 40 to 70, to one decimal."
          },
          "front_to_nape_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, 20 to 50, to one decimal."
          },
          "ear_to_ear_cm": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 20,
            "maximum": 50,
            "description": "In centimetres, over the top, 20 to 50, to one decimal."
          },
[...]
