{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API",
    "description": "mm-api, served at https://{host}/api/*. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://maneman.in",
      "description": "production"
    },
    {
      "url": "https://staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "clash",
                  "fsm_refused",
                  "too_early_to_close",
                  "no_service_area"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "City": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "served": {
            "type": "boolean",
            "description": "false: the booking form offers the waitlist instead."
          }
        },
        "required": [
          "name",
          "served"
        ],
        "additionalProperties": false
      },
      "LeadResponse": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string",
            "format": "uuid"
          },
          "served": {
            "type": "boolean"
          },
          "proposed_visit_date": {
            "type": "string",
            "format": "date",
            "description": "Served cities only. May be absent if every candidate day is blacked out."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "before noon",
              "after four"
            ],
            "description": "Served cities only."
          }
        },
        "required": [
          "lead_id",
          "served"
        ],
        "additionalProperties": false
      },
      "LeadRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "One of the names from GET /api/cities."
          },
          "first_choice_window": {
            "type": "string",
            "enum": [
              "weekday_am",
              "weekday_pm",
              "weekend_am",
              "weekend_pm"
            ]
          },
          "loss_extent": {
            "type": "string",
            "enum": [
              "crown",
              "receding",
              "advanced"
            ]
          },
          "consent": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "The booking notice was agreed to; see src/config/notices.ts."
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "attribution": {
            "$ref": "#/components/schemas/Attribution"
          }
        },
        "required": [
          "name",
          "mobile",
          "city",
          "first_choice_window",
          "loss_extent",
          "consent",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "Attribution": {
        "type": "object",
        "properties": {
          "utm_source": {
            "type": "string",
            "maxLength": 200
          },
          "utm_medium": {
            "type": "string",
            "maxLength": 200
          },
          "utm_campaign": {
            "type": "string",
            "maxLength": 200
          },
          "utm_content": {
            "type": "string",
            "maxLength": 200
          },
          "gclid": {
            "type": "string",
            "maxLength": 200
          },
          "fbclid": {
            "type": "string",
            "maxLength": 200
          },
          "referrer": {
            "type": "string",
            "maxLength": 500
          },
          "landing_path": {
            "type": "string",
            "maxLength": 500
          }
        },
        "additionalProperties": false,
        "description": "Where the visitor came from, as the page saw it. All optional."
      },
      "Consultation": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "booked"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "area": {
            "type": "string"
          }
        },
        "required": [
          "state",
          "date",
          "window",
          "area"
        ],
        "additionalProperties": false
      },
      "Waitlist": {
        "type": "object",
        "properties": {
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "area"
        ],
        "additionalProperties": false
      },
      "Invite": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "valid",
              "unknown"
            ]
          },
          "referrer_first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Only if the referrer agreed to be named, and naming is on (REFERRER_NAME_ON_INVITE)."
          },
          "card": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "house",
                  "personal"
                ]
              },
              "version": {
                "type": "integer"
              }
            },
            "required": [
              "state",
              "version"
            ],
            "additionalProperties": false,
            "description": "Which card the invite shows, and its version for the preview's URL."
          }
        },
        "required": [
          "state",
          "referrer_first_name",
          "card"
        ],
        "additionalProperties": false
      },
      "PincodeAnswer": {
        "type": "object",
        "properties": {
          "pincode": {
            "type": "string"
          },
          "served": {
            "type": "boolean"
          },
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for a pincode we do not know."
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "pincode",
          "served",
          "area",
          "city"
        ],
        "additionalProperties": false
      },
      "ReferralConsultation": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "booked"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "window": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "area": {
            "type": "string"
          },
          "credits": {
            "type": "boolean",
            "description": "Whether the invite's 3 service visits apply."
          }
        },
        "required": [
          "state",
          "date",
          "window",
          "area",
          "credits"
        ],
        "additionalProperties": false
      },
      "ReferralWaitlist": {
        "type": "object",
        "properties": {
          "area": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "credits": {
            "type": "boolean"
          }
        },
        "required": [
          "area",
          "credits"
        ],
        "additionalProperties": false
      },
      "UploadUrlResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photo there within five minutes, as image/jpeg or image/png."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "job_id",
          "upload_url",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "UploadUrlRequest": {
        "type": "object",
        "properties": {
          "photo_consent": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "The photo notice was agreed to."
          },
          "notice_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": "photo-v1",
            "description": "The photo notice shown."
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          }
        },
        "required": [
          "photo_consent",
          "notice_version",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "queued",
              "rendering",
              "downloading",
              "ready",
              "failed",
              "expired"
            ]
          },
          "failure_code": {
            "type": "string",
            "enum": [
              "photo_unreadable",
              "photo_invalid_file",
              "render_failed",
              "busy"
            ],
            "description": "Only when state is failed."
          }
        },
        "required": [
          "job_id",
          "state"
        ],
        "additionalProperties": false
      },
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "stage": {
            "type": "string",
            "enum": [
              "crown",
              "receding",
              "advanced"
            ],
            "description": "The hair-loss stage the visitor picked."
          },
          "preset": {
            "type": "string",
            "enum": [
              "full-natural-short",
              "full-straight-medium",
              "medium-natural-short",
              "medium-receded-medium",
              "light-natural-short",
              "light-receded-cropped"
            ]
          },
          "hair_color": {
            "type": "string",
            "enum": [
              "black",
              "brown",
              "lightBrown",
              "grey",
              "silver",
              "white",
              "unknown"
            ],
            "description": "From the browser's detector; unknown if it could not tell."
          }
        },
        "required": [
          "job_id",
          "stage",
          "preset",
          "hair_color"
        ],
        "additionalProperties": false
      },
      "ClaimResponse": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string",
            "format": "uuid"
          },
          "whatsapp_copy": {
            "type": "boolean",
            "description": "True only if messaging is on: the page may then say a copy is on its way."
          }
        },
        "required": [
          "lead_id",
          "whatsapp_copy"
        ],
        "additionalProperties": false
      },
      "ClaimRequest": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          },
          "attribution": {
            "$ref": "#/components/schemas/Attribution"
          }
        },
        "required": [
          "job_id",
          "name",
          "mobile"
        ],
        "additionalProperties": false
      },
      "ResultReady": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "A path on this host that serves the image for fifteen minutes."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "url",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "ResultPending": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "queued",
              "rendering",
              "downloading",
              "ready",
              "failed",
              "expired"
            ]
          }
        },
        "required": [
          "state"
        ],
        "additionalProperties": false
      },
      "ResultFailed": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "failed"
            ]
          },
          "failure_code": {
            "type": "string",
            "enum": [
              "photo_unreadable",
              "photo_invalid_file",
              "render_failed",
              "busy"
            ]
          }
        },
        "required": [
          "state",
          "failure_code"
        ],
        "additionalProperties": false
      },
      "Look": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "queued",
              "rendering",
              "downloading",
              "ready",
              "failed",
              "expired"
            ]
          },
          "stage": {
            "type": "string",
            "enum": [
              "crown",
              "receding",
              "advanced"
            ]
          },
          "preset": {
            "type": "string",
            "enum": [
              "full-natural-short",
              "full-straight-medium",
              "medium-natural-short",
              "medium-receded-medium",
              "light-natural-short",
              "light-receded-cropped"
            ]
          },
          "failure_code": {
            "type": "string",
            "enum": [
              "photo_unreadable",
              "photo_invalid_file",
              "render_failed",
              "busy"
            ],
            "description": "Only when state is failed."
          }
        },
        "required": [
          "job_id",
          "state",
          "stage",
          "preset"
        ],
        "additionalProperties": false
      },
      "ErasureResponse": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "string",
            "format": "uuid"
          },
          "erased_at": {
            "type": "string",
            "format": "date-time"
          },
          "photos_deleted": {
            "type": "integer"
          },
          "results_deleted": {
            "type": "integer"
          },
          "messages_cancelled": {
            "type": "integer"
          },
          "crm": {
            "type": "string",
            "enum": [
              "queued"
            ],
            "description": "The CRM record is blanked by the crm-sync queue, retried until done."
          }
        },
        "required": [
          "person_id",
          "erased_at",
          "photos_deleted",
          "results_deleted",
          "messages_cancelled",
          "crm"
        ],
        "additionalProperties": false
      },
      "ErasureRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/cities": {
      "get": {
        "summary": "The booking form's city list, in display order. Cacheable for five minutes.",
        "responses": {
          "200": {
            "description": "Active cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "503": {
            "description": "The database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/lead": {
      "post": {
        "summary": "Book a free consultation, or join a city's waitlist",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many requests from this number or address today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile or the database could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/consultation": {
      "post": {
        "summary": "Book a free consultation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "loss_extent": {
                    "type": "string",
                    "enum": [
                      "crown",
                      "receding",
                      "advanced"
                    ],
                    "description": "Where the hair loss is, as the form's drawings show it."
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "utm_source": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_medium": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_campaign": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_content": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "gclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "fbclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "referrer": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "landing_path": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me on WhatsApp about this consultation.\""
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "pincode",
                  "loss_extent",
                  "turnstile_token",
                  "date",
                  "window",
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consultation"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "taken: that window has gone; ops_assisted: booking goes through WhatsApp for now",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "invalid_request: the pincode is not served, or the day is not open",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "post": {
        "summary": "Wait for a pincode we do not serve yet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "loss_extent": {
                    "type": "string",
                    "enum": [
                      "crown",
                      "receding",
                      "advanced"
                    ],
                    "description": "Where the hair loss is, as the form's drawings show it."
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "attribution": {
                    "type": "object",
                    "properties": {
                      "utm_source": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_medium": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_campaign": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "utm_content": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "gclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "fbclid": {
                        "type": "string",
                        "maxLength": 200
                      },
                      "referrer": {
                        "type": "string",
                        "maxLength": 500
                      },
                      "landing_path": {
                        "type": "string",
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  },
                  "contact_consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me about this request.\" Required."
                  },
                  "launch_alert": {
                    "type": "boolean",
                    "description": "\"Tell me when you launch in my area.\" Optional."
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "pincode",
                  "loss_extent",
                  "turnstile_token",
                  "contact_consent",
                  "launch_alert"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "On the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waitlist"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "invalid_request: that pincode is served; book instead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}": {
      "get": {
        "summary": "An invite: valid or unknown",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          }
        }
      }
    },
    "/api/og/{file}": {
      "get": {
        "summary": "An invite's preview image",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}\\.jpg$"
            },
            "required": true,
            "name": "file",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The referrer's card",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "The house card, on the site"
          }
        }
      }
    },
    "/api/pincodes/{pin}": {
      "get": {
        "summary": "Whether we come to a pincode",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$",
              "description": "A six-digit Indian pincode."
            },
            "required": true,
            "description": "A six-digit Indian pincode.",
            "name": "pin",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Served or not",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PincodeAnswer"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: \"That is not a six-digit Indian pincode.\"",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}/consultation": {
      "post": {
        "summary": "Book a free consultation through an invite",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me on WhatsApp about this consultation.\""
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "turnstile_token",
                  "pincode",
                  "date",
                  "window",
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralConsultation"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "taken: that window has gone; ops_assisted: booking goes through WhatsApp for now",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: the pincode is not served, or the day is not open",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/r/{code}/waitlist": {
      "post": {
        "summary": "Wait for an unserved pincode",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{4,12}$"
            },
            "required": true,
            "name": "code",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "turnstile_token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048
                  },
                  "pincode": {
                    "type": "string",
                    "pattern": "^[1-8]\\d{5}$",
                    "description": "A six-digit Indian pincode."
                  },
                  "contact_consent": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "\"You may contact me about this request.\" Required."
                  },
                  "launch_alert": {
                    "type": "boolean",
                    "description": "\"Tell me when you launch in my area.\" Optional."
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "turnstile_token",
                  "pincode",
                  "contact_consent",
                  "launch_alert"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "On the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralWaitlist"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "not_bookable: that pincode is served; book instead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/upload-url": {
      "post": {
        "summary": "Record the photo consent and get a link to upload one photo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed; look_limit_reached: this browser already has its look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many uploads from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's upload ceiling is reached; unavailable: Turnstile could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/upload/{job_id}": {
      "put": {
        "summary": "Upload the photo: a JPEG or PNG, at most 5 MB and 200 to 4090 px a side",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Received"
          },
          "404": {
            "description": "not_found: no such job, or the link has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_already_received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG or PNG, over 5 MB, or the wrong size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/generate": {
      "post": {
        "summary": "Render the look for an uploaded photo: one look per visitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued, or an identical job already exists. job_id may differ from the one sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "look_limit_reached: this photo already has its look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_missing: the photo has not been uploaded, or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many renders from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's render ceiling is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/status/{job_id}": {
      "get": {
        "summary": "Where a job stands",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The job's state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/claim": {
      "post": {
        "summary": "The gate: save the lead and start a session, whether or not the result is ready",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved. Sets the mm_tryon cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "job_not_claimable: no render was started, it failed, or it is another number's; idempotency_in_progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "idempotency_key_reused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many claims from this number today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/result/{job_id}": {
      "get": {
        "summary": "The result, for the gate's session or the browser that made the look",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "job_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultReady"
                }
              }
            }
          },
          "202": {
            "description": "Still rendering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultPending"
                }
              }
            }
          },
          "403": {
            "description": "session_required: neither the gate's session nor this browser's look is this job's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job, or its result has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultFailed"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/look": {
      "get": {
        "summary": "The look this browser already has, from its mm_look cookie",
        "responses": {
          "200": {
            "description": "The browser's look",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Look"
                }
              }
            }
          },
          "404": {
            "description": "not_found: this browser has no look, or its result has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/result/{token}": {
      "get": {
        "summary": "A result image, behind a signed link that expires",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 600
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is invalid or expired, or the result was deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's result-read ceiling is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/erasure": {
      "post": {
        "summary": "Operators only: erase a person's photos, results and details, found by their number",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Bearer <ERASURE_SECRET>"
            },
            "required": false,
            "name": "authorization",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErasureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErasureResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no one with this number, or already erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hooks/evolution/{token}": {
      "post": {
        "summary": "Evolution's delivery receipts (messages.update) for the WhatsApp messages we sent",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Taken, or ignored. Either way Evolution need not send it again"
          },
          "401": {
            "description": "unauthorized: the token is wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: receipts are not switched on (no EVOLUTION_WEBHOOK_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hooks/fsm/{token}": {
      "post": {
        "summary": "FSM's webhook: an appointment was created, edited or deleted",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Taken, or ignored. Either way FSM need not send it again"
          },
          "401": {
            "description": "unauthorized: the token is wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: FSM's webhook is not switched on (no FSM_WEBHOOK_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hooks/razorpay": {
      "post": {
        "summary": "Razorpay's webhook: payments and refunds",
        "responses": {
          "200": {
            "description": "Taken, or ignored. Either way Razorpay need not send it again"
          },
          "401": {
            "description": "unauthorized: the signature does not match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the webhook is not switched on (no RAZORPAY_WEBHOOK_SECRET)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "not_ready: a refund for a payment not yet recorded; Razorpay retries it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
