{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the client app",
    "description": "mm-api on the client app's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*. Every route but /api/health and /api/auth/* needs the mm_app session cookie, and every write needs the page's own Origin. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://app.maneman.in",
      "description": "production"
    },
    {
      "url": "https://app-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "claim_required",
                  "whatsapp_unavailable",
                  "number_not_proved",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "not_served",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "piece_code",
                  "technician_inactive",
                  "managed_in_fsm",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "in_progress",
                  "too_early_to_close",
                  "already_closed",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "no_product",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_disputed",
                  "not_disputable",
                  "dispute_window_closed",
                  "code_not_applicable",
                  "already_discounted",
                  "price_settled",
                  "code_exists",
                  "slot_times_too_soon",
                  "not_permitted",
                  "last_admin"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              },
              "moved": {
                "type": "object",
                "properties": {
                  "technician": {
                    "type": "string",
                    "description": "Their first name, and nothing else of theirs"
                  },
                  "at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When ops moved the job to them; null when it was moved in FSM itself"
                  }
                },
                "required": [
                  "technician",
                  "at"
                ],
                "additionalProperties": false,
                "description": "superseded, to a technician's phone, for a job given to another technician: whom, and when (docs/open-points.md, item 92)."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          },
          "cron_completed_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the five-minute cron last finished a run; null before its first, or when the database is not this environment's. Information only: status does not depend on it."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1",
          "cron_completed_at"
        ],
        "additionalProperties": false
      },
      "ClientErrorReport": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "error",
              "unhandled_rejection",
              "render",
              "outbox_gave_up"
            ]
          },
          "message": {
            "type": "string",
            "maxLength": 500
          },
          "path": {
            "type": "string",
            "maxLength": 300,
            "description": "The page's path, with no query or fragment."
          },
          "stack": {
            "type": "string",
            "maxLength": 4000
          },
          "source": {
            "type": "string",
            "maxLength": 500,
            "description": "The script the error was thrown in."
          },
          "line": {
            "type": "integer",
            "minimum": 0
          },
          "column": {
            "type": "integer",
            "minimum": 0
          },
          "step": {
            "type": "string",
            "maxLength": 40,
            "description": "outbox_gave_up: the write's kind, as `checklist`."
          },
          "code": {
            "type": "string",
            "maxLength": 60,
            "description": "outbox_gave_up: the code the API refused it with."
          },
          "status": {
            "type": "integer",
            "description": "outbox_gave_up: the refusal's HTTP status."
          },
          "request_id": {
            "type": "string",
            "maxLength": 64,
            "description": "outbox_gave_up: the refusal's request ID, which its own log lines carry."
          }
        },
        "required": [
          "kind",
          "message",
          "path"
        ],
        "additionalProperties": false
      },
      "LoginChallenge": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "channel": {
            "type": "string",
            "enum": [
              "whatsapp",
              "sms"
            ],
            "description": "How the current code was sent."
          },
          "expires_in_s": {
            "type": "integer"
          },
          "resend_in_s": {
            "type": "integer",
            "description": "Seconds until the code may be sent again on WhatsApp."
          },
          "sms_in_s": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Seconds until SMS may be asked for instead; null while SMS is unavailable."
          }
        },
        "required": [
          "challenge_id",
          "channel",
          "expires_in_s",
          "resend_in_s",
          "sms_in_s"
        ],
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:(?:\\+|00?)?91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          }
        },
        "required": [
          "mobile",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "LoginChallengeRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "challenge_id"
        ],
        "additionalProperties": false
      },
      "LoginVerify": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "first_name": {
                "type": "string"
              }
            },
            "required": [
              "verified",
              "first_name"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "attempts_left": {
                "type": "integer",
                "description": "0 means the code is now void."
              }
            },
            "required": [
              "verified",
              "attempts_left"
            ],
            "additionalProperties": false
          }
        ]
      },
      "LoginVerifyRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "challenge_id",
          "code"
        ],
        "additionalProperties": false
      },
      "Me": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "fitted",
              "lead",
              "nothing_booked"
            ]
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "initials": {
            "type": "string",
            "description": "For the profile's button: the first letters of the first and last names."
          },
          "consultation": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "window": {
                "type": "string",
                "enum": [
                  "morning",
                  "afternoon",
                  "evening"
                ],
                "description": "The window the client asked for."
              },
              "window_label": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "before noon",
                  "after four",
                  null
                ],
                "description": "Deprecated: read `window`. The window in the Phase 1 booked page's words; null for the afternoon, which Phase 1 had no words for."
              },
              "place": {
                "type": "string",
                "description": "Where it is: the saved address (locality, city and pincode), else the booking's city."
              }
            },
            "required": [
              "date",
              "window",
              "window_label",
              "place"
            ],
            "additionalProperties": false,
            "description": "A booking's proposed consultation, before FSM has the visit: from the site's form, or a Phase 1 booking to be confirmed on WhatsApp. Null once the mirror has the visit."
          },
          "next_visit": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VisitSummary"
              },
              {
                "type": "null"
              }
            ],
            "description": "The next visit that has not happened, from FSM: a consultation for a lead."
          },
          "being_booked": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening"
                    ]
                  },
                  "paid": {
                    "type": "boolean",
                    "description": "Paid for in money, rather than free or covered by a credit."
                  },
                  "one_visit": {
                    "type": "boolean",
                    "description": "A consultation and fit in one visit."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "window",
                  "paid",
                  "one_visit"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The soonest visit paid for, or booked free, that FSM does not have yet: neither booked nor refunded. It is on its way, or held after FSM refused it, and becomes a visit once FSM takes it (ADR 0095)."
          },
          "credits": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Credits"
              },
              {
                "type": "null"
              }
            ],
            "description": "The credit tile: balance and earliest expiry; null with none left."
          },
          "prompt": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "address"
                    ]
                  }
                },
                "required": [
                  "kind"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "next_visit"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "service",
                      "replacement"
                    ],
                    "description": "The next service, or the replacement where the piece in wear falls due first."
                  },
                  "tier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The service of its kind it offers, as booking.next's (ADR 0085)."
                  },
                  "due_on": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day it fell or falls due: a service's from the last visit and the cadence, a replacement's the piece's own. Before `date`, it has passed."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day it is offered on: the day it falls due, or tomorrow once that has passed."
                  },
                  "window": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "morning",
                          "afternoon",
                          "evening"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The last visit's window, where this kind of visit can start in it."
                  },
                  "replacement_bookable": {
                    "type": "boolean",
                    "description": "A service offered while the piece in wear falls due within how far ahead a visit may be booked, and no replacement is booked: the replacement is offered beside it."
                  }
                },
                "required": [
                  "kind",
                  "type",
                  "tier",
                  "due_on",
                  "date",
                  "window",
                  "replacement_bookable"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "replacement_due"
                    ]
                  },
                  "month": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}$"
                  },
                  "tier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The replacement service it offers: the client's last one while that is offered, else the first in the console's order (ADR 0085); null while none is offered."
                  }
                },
                "required": [
                  "kind",
                  "month",
                  "tier"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Board B1's one prompt, the first that applies, in the owner's order: no address given while something is booked; the next service due and not booked; then, once no invoice is ready, the month the piece in wear falls due, never the day, and only once that month may be booked. Null when none applies."
          },
          "invoice": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "visit_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's date of the visit."
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "visit_id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "An invoice issued in the last fortnight, which ops may lengthen or shorten, ready to open: a line beneath the prompt, or the only one. Null when none is."
          },
          "booking": {
            "type": "object",
            "properties": {
              "self_serve": {
                "type": "boolean",
                "description": "Booking in the app is on; off, the app opens WhatsApp."
              },
              "types": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "consultation",
                    "first_fit",
                    "service",
                    "replacement"
                  ]
                },
                "description": "What the client may book now."
              },
              "services": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OfferedService"
                },
                "description": "Every service of those kinds offered and priced now, a kind at a time, in the console's order. A first fit's are the hair systems ops offer; with none, a first fit cannot be booked yet."
              },
              "next": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      "tier": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "The service it is offered as: the one the client's last visit of its kind was, while that is offered, else its kind's first in the console's order (ADR 0085). Null while its kind offers none, as a first fit does before ops offer a hair system: it cannot be booked yet."
                      },
                      "due_on": {
                        "type": "string",
                        "format": "date",
                        "description": "India's day it fell or falls due: a service's from the last visit and the cadence, a replacement's the piece's own, a first fit's from the consultation and the lead time."
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": "India's day it is offered on: the day it falls due, or tomorrow once that has passed."
                      },
                      "window": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "morning",
                              "afternoon",
                              "evening"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "tier",
                      "due_on",
                      "date",
                      "window"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "What the app offers next, with nothing booked, for the booking sheet to open with: the first fit once the consultation is done, from the lead time and in the window the site's request asked for; or the next service on its due day, in the last visit's window, or the replacement where the piece falls due first, on the earlier of its own due day and the service's (ADR 0086)."
              }
            },
            "required": [
              "self_serve",
              "types",
              "services",
              "next"
            ],
            "additionalProperties": false
          },
          "referral_reward": {
            "$ref": "#/components/schemas/ReferralReward"
          }
        },
        "required": [
          "state",
          "name",
          "first_name",
          "initials",
          "consultation",
          "next_visit",
          "being_booked",
          "credits",
          "prompt",
          "invoice",
          "booking",
          "referral_reward"
        ],
        "additionalProperties": false
      },
      "VisitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "done",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way (the technician has checked in, whatever FSM says), closed as done from the technician's phone, or otherwise over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place"
        ],
        "additionalProperties": false
      },
      "Technician": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "initials"
        ],
        "additionalProperties": false,
        "description": "Display name and initials only."
      },
      "Credits": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Service-visit credits left."
          },
          "earliest_expiry": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the soonest expire."
          },
          "expiring_visits": {
            "type": "integer",
            "description": "How many of them expire then."
          }
        },
        "required": [
          "visits",
          "earliest_expiry",
          "expiring_visits"
        ],
        "additionalProperties": false
      },
      "OfferedService": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "tier": {
            "type": "string",
            "description": "Its code within its kind, which booking it names."
          },
          "name": {
            "type": "string"
          },
          "minutes": {
            "type": "integer",
            "description": "How long the visit is booked for."
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          }
        },
        "required": [
          "type",
          "tier",
          "name",
          "minutes",
          "price"
        ],
        "additionalProperties": false
      },
      "Price": {
        "type": "object",
        "properties": {
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: what the client pays."
          },
          "gst_percent": {
            "type": "number"
          }
        },
        "required": [
          "amount_ex_gst",
          "amount",
          "gst_percent"
        ],
        "additionalProperties": false,
        "description": "Its price tomorrow, the first day it can be booked."
      },
      "ReferralReward": {
        "type": "object",
        "properties": {
          "referrer_visits": {
            "type": "integer",
            "description": "The free service visits the client who sent the invite gets; 0 for none."
          },
          "friend_visits": {
            "type": "integer",
            "description": "The free service visits the friend they invited gets; 0 for none."
          },
          "valid_days": {
            "type": "integer",
            "description": "How many days the credits last from the grant."
          }
        },
        "required": [
          "referrer_visits",
          "friend_visits",
          "valid_days"
        ],
        "additionalProperties": false,
        "description": "What a referral earns now, as ops set it: the Refer tab's promise, for a lead as for a fitted client, and the invite's preview say it (docs/decisions/0107-referral-rewards-in-the-console.md)."
      },
      "Profile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "Masked: +91 98xxx x4417."
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "address_given_to_ops": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the client gave this address to ops on the phone, who saved it for them; null for one they saved themselves."
          },
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "granted": {
                  "type": "boolean"
                },
                "since": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "purpose",
                "granted",
                "since"
              ],
              "additionalProperties": false
            },
            "description": "The five purposes, in order. Off until the client first switches one on."
          },
          "number_change": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NumberChange"
              },
              {
                "type": "null"
              }
            ]
          },
          "number_change_decided": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "enum": [
                      "confirmed",
                      "rejected"
                    ]
                  },
                  "new_mobile": {
                    "type": "string",
                    "description": "Masked, as the design shows it: +91 98xxx x4417."
                  },
                  "decided_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Ops' reason for a rejection, which they write knowing the client reads it."
                  }
                },
                "required": [
                  "state",
                  "new_mobile",
                  "decided_at",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What ops decided about the client's latest change of number, for 30 days after, while no other change is under way. A rejection once vanished from the app (OPS-09)."
          },
          "deletion": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "requested"
                ]
              },
              "requested_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "state",
              "requested_at"
            ],
            "additionalProperties": false
          },
          "deletion_rejected": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "decided_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Ops' reason, which they write knowing the client reads it."
                  }
                },
                "required": [
                  "decided_at",
                  "reason"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's latest request to delete their account that ops rejected, for 30 days after, while no other request is waiting."
          }
        },
        "required": [
          "name",
          "mobile",
          "address",
          "address_given_to_ops",
          "consents",
          "number_change",
          "number_change_decided",
          "deletion",
          "deletion_rejected"
        ],
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          },
          "building": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120,
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "tower": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "landmark": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "place_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Google's Place ID for the building, if one was chosen."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes"
        ],
        "additionalProperties": false
      },
      "NumberChange": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "verifying",
              "awaiting_ops"
            ]
          },
          "new_mobile": {
            "type": "string",
            "description": "Masked, as the design shows it: +91 98xxx x4417."
          },
          "old_verified": {
            "type": "boolean"
          },
          "new_verified": {
            "type": "boolean"
          }
        },
        "required": [
          "request_id",
          "state",
          "new_mobile",
          "old_verified",
          "new_verified"
        ],
        "additionalProperties": false
      },
      "AddressSuggestions": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "place_id": {
                  "type": "string"
                },
                "primary": {
                  "type": "string"
                },
                "secondary": {
                  "type": "string"
                }
              },
              "required": [
                "place_id",
                "primary",
                "secondary"
              ],
              "additionalProperties": false
            }
          },
          "attribution": {
            "type": "string",
            "enum": [
              "Google Maps"
            ]
          }
        },
        "required": [
          "suggestions",
          "attribution"
        ],
        "additionalProperties": false
      },
      "AddressSuggestionsAsk": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "What the client has typed so far."
          },
          "session": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "One token for the whole search, sent again when the address is saved."
          }
        },
        "required": [
          "q",
          "session"
        ],
        "additionalProperties": false
      },
      "AddressSave": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          },
          "building": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120,
            "description": "The building as chosen from the suggestions; null if typed."
          },
          "flat": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "floor": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "tower": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "landmark": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "place_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Google's Place ID for the building, if one was chosen."
          },
          "session_token": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes",
          "flat"
        ],
        "additionalProperties": false
      },
      "ConsentSwitch": {
        "type": "object",
        "properties": {
          "granted": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "enum": [
              "app_profile",
              "app_booking",
              "app_share_sheet"
            ],
            "description": "The app's screen the switch was made on: the profile (any purpose), the booking sheet (whatsapp_visits) or the share sheet (photos_referral_cards). Kept on the consent; one sent without it is kept with no place, and one that does not ask for the purpose is refused."
          }
        },
        "required": [
          "granted"
        ],
        "additionalProperties": false
      },
      "NumberChangeStart": {
        "type": "object",
        "properties": {
          "new_mobile": {
            "type": "string",
            "pattern": "^(?:(?:\\+|00?)?91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "new_mobile"
        ],
        "additionalProperties": false
      },
      "NumberChangeVerify": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "type": "string",
            "enum": [
              "old",
              "new"
            ]
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "request_id",
          "number",
          "code"
        ],
        "additionalProperties": false
      },
      "Visits": {
        "type": "object",
        "properties": {
          "upcoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitSummary"
            }
          },
          "past": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitSummary"
            }
          },
          "history": {
            "$ref": "#/components/schemas/ClientHistory"
          }
        },
        "required": [
          "upcoming",
          "past",
          "history"
        ],
        "additionalProperties": false
      },
      "ClientHistory": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "integer",
            "description": "Every visit done: a completed visit with a window."
          },
          "services": {
            "type": "integer"
          },
          "replacements": {
            "type": "integer"
          },
          "first_fit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date. Null when no first fit is on record, which is not the same as none."
          },
          "last_visit_on": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "description": "India's date of the latest visit done."
          },
          "spend": {
            "type": "integer",
            "description": "In paise: every payment captured, less what has gone back. A credit adds nothing."
          },
          "replacement_due": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "month": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}$"
                  }
                },
                "required": [
                  "month"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The month the piece now in wear falls due, and null when no piece is in wear. A month, not a day: FSM's install date is read again on every sync, so the day can move (ADR 0059)."
          }
        },
        "required": [
          "visits",
          "services",
          "replacements",
          "first_fit_on",
          "last_visit_on",
          "spend",
          "replacement_due"
        ],
        "additionalProperties": false,
        "description": "What the client's record adds up to, derived at read time."
      },
      "VisitDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "booked",
                  "in_progress",
                  "done",
                  "closing"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For a visit FSM has not closed: still to come, under way (the technician has checked in, whatever FSM says), closed as done from the technician's phone, or otherwise over and waiting for FSM to close it. Null once FSM has closed it."
          },
          "prepaid": {
            "type": "boolean",
            "description": "Paid for ahead, or covered by a visit credit: board C1's Prepaid."
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          },
          "duration_minutes": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "From start to finish, once done."
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "done",
                  "partial",
                  "no_show"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "Done, partly done, or a no-show: the client was not home. Null until FSM closes it."
          },
          "what_was_done": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The job sheet's checklist items the technician ticked, in the sheet's order; null when no checklist was recorded, as for a visit closed in FSM's own screens."
          },
          "photos": {
            "$ref": "#/components/schemas/PhotoSet"
          },
          "document_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit's invoice, for GET /api/documents/{id}, once Books has issued it."
          },
          "invoice_expected": {
            "type": "boolean",
            "description": "Whether this visit is billed at all: false for a free visit, and for one that is not finished. With no document_id and this false, no invoice will ever exist."
          },
          "invoice_held": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "credit",
                  "checking"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "Why a finished visit's invoice is held back rather than still to come (ADR 0070): credit, a visit credit paid for it and its invoice waits on the accountant's ruling; checking, a draft ops are checking before it is sent. Null otherwise."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ],
            "description": "The client was not home for this visit: how long we waited, and what ops ruled. Null otherwise."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "stage",
          "prepaid",
          "technician",
          "place",
          "duration_minutes",
          "outcome",
          "what_was_done",
          "photos",
          "document_id",
          "invoice_expected",
          "invoice_held",
          "no_show"
        ],
        "additionalProperties": false
      },
      "PhotoSet": {
        "type": "object",
        "properties": {
          "before": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoLink"
            }
          },
          "after": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoLink"
            }
          }
        },
        "required": [
          "before",
          "after"
        ],
        "additionalProperties": false,
        "description": "Each angle in the order front, top, left, right, hair; missing angles left out."
      },
      "PhotoLink": {
        "type": "object",
        "properties": {
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "url": {
            "type": "string",
            "description": "Lasts 15 minutes; only the signed-in client can open it."
          },
          "thumbnail_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Its small copy, for a row of thumbnails, likewise; null for a photograph with none, such as one copied from FSM, which the row shows itself."
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "angle",
          "url",
          "thumbnail_url",
          "width",
          "height"
        ],
        "additionalProperties": false
      },
      "NoShowNote": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "undecided",
              "charged",
              "waived"
            ],
            "description": "What ops ruled: undecided while they look at the evidence, charged, or waived."
          },
          "waited_minutes": {
            "type": "integer",
            "description": "How long the technician waited at the door."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "kept": {
                    "type": "integer",
                    "description": "In paise: what the charge kept of the visit's payment."
                  },
                  "credit_spent": {
                    "type": "boolean",
                    "description": "Whether the charge spent the credit the visit used."
                  }
                },
                "required": [
                  "kept",
                  "credit_spent"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What the charge took, as the booking was sold to cost a no-show (ADR 0096). Null unless charged, and on a charge ruled before charges were recorded."
          },
          "dispute": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "open",
                  "refunded",
                  "upheld"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's dispute of the charge: open while ops look, then refunded or upheld; null when none was raised."
          },
          "disputable": {
            "type": "boolean",
            "description": "Whether the client may dispute the charge now: one that took something, not disputed yet."
          }
        },
        "required": [
          "decision",
          "waited_minutes",
          "charge",
          "dispute",
          "disputable"
        ],
        "additionalProperties": false
      },
      "PhotoTimeline": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "photos": {
                  "$ref": "#/components/schemas/PhotoSet"
                }
              },
              "required": [
                "visit_id",
                "date",
                "type",
                "photos"
              ],
              "additionalProperties": false
            }
          },
          "try_ons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TryOn"
            },
            "description": "The client's try-ons with a photograph or a look still held, newest first."
          }
        },
        "required": [
          "visits",
          "try_ons"
        ],
        "additionalProperties": false
      },
      "TryOn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "made_on": {
            "type": "string",
            "format": "date",
            "description": "India's date the look was asked for."
          },
          "kept": {
            "type": "boolean",
            "description": "The client's kept try-on (ADR 0084): they have booked a visit, and it is the oldest of theirs kept, or whose look was held when they booked."
          },
          "photo": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TryOnLink"
              },
              {
                "type": "null"
              }
            ],
            "description": "The photograph the client uploaded on the site, as the small copy the site sent with it where there is one, while it is held; null once deleted, and on a second look of the same photograph, which shows it once."
          },
          "look": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TryOnLink"
              },
              {
                "type": "null"
              }
            ],
            "description": "The look made from it, once made and until it is deleted; null while it is still being made, and once a kept try-on's first fit is photographed."
          }
        },
        "required": [
          "id",
          "made_on",
          "kept",
          "photo",
          "look"
        ],
        "additionalProperties": false,
        "description": "A try-on the site's gate claimed with the client's number (ADR 0082). A failed one is left out."
      },
      "TryOnLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Lasts 15 minutes; only the signed-in client can open it."
          },
          "kept_until": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the try-on's retention rule lets it go: a photograph an hour after the last look asked of it, or its small copy as long as the look; a look the days the site keeps it for (RESULT_RETENTION_DAYS, ADR 0039). Deleted within minutes after. Null while the try-on is kept (ADR 0084): the photograph until the client asks us to delete it, the look until their first fit is photographed."
          }
        },
        "required": [
          "url",
          "kept_until"
        ],
        "additionalProperties": false
      },
      "PhotoCompare": {
        "type": "object",
        "properties": {
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "from": {
            "type": "object",
            "properties": {
              "visit_id": {
                "type": "string",
                "format": "uuid"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "photo": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PhotoLink"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "visit_id",
              "date",
              "photo"
            ],
            "additionalProperties": false
          },
          "to": {
            "type": "object",
            "properties": {
              "visit_id": {
                "type": "string",
                "format": "uuid"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "photo": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PhotoLink"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "visit_id",
              "date",
              "photo"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "angle",
          "phase",
          "from",
          "to"
        ],
        "additionalProperties": false
      },
      "NoShowDisputeRaised": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "open"
            ]
          }
        },
        "required": [
          "state"
        ],
        "additionalProperties": false
      },
      "NoShowDisputeRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "description": "Why the charge is wrong, in the client's words. Ops read it; it reaches no message."
          }
        },
        "required": [
          "reason"
        ],
        "additionalProperties": false
      },
      "PaymentEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for was one the client was not home for: how long we waited, and what ops ruled (LIFE-07)."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "amount_off": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "In paise before GST; null where the visit's price was not yet known."
                  }
                },
                "required": [
                  "code",
                  "amount_off"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The discount code the visit was paid with; null for none, and on a late fee."
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge",
          "no_show",
          "discount_code"
        ],
        "additionalProperties": false
      },
      "RefundEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "destination",
          "speed"
        ],
        "additionalProperties": false
      },
      "CreditLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ledger entry's."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "event": {
            "type": "string",
            "enum": [
              "added",
              "used",
              "lost",
              "returned",
              "expired",
              "withdrawn",
              "corrected"
            ],
            "description": "added: a grant (a friend fitted, ops, the import); used: a visit it paid for; lost: one it paid for that was cancelled inside the notice it was booked under, or that the client was not home for and ops charged; returned: back after a cancel in time; expired; withdrawn: clawed back under the guarantee; corrected: taken off by ops by hand."
          },
          "visits": {
            "type": "integer",
            "description": "Signed: what it added to the balance, or took from it."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "source": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "referral",
                  "ops",
                  "import"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "Where credits added came from; null for any other entry."
          },
          "referral_side": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "referrer",
                  "friend"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "For credits an invite added: referrer, for a friend this client invited being fitted; friend, for this client's own fit through an invite. Null for any other entry."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "date",
          "event",
          "visits",
          "visit",
          "source",
          "referral_side",
          "no_show"
        ],
        "additionalProperties": false
      },
      "PaymentDetail": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          },
          "no_show": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NoShowNote"
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for was one the client was not home for: how long we waited, and what ops ruled (LIFE-07)."
          },
          "discount_code": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "amount_off": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "In paise before GST; null where the visit's price was not yet known."
                  }
                },
                "required": [
                  "code",
                  "amount_off"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The discount code the visit was paid with; null for none, and on a late fee."
          },
          "documents": {
            "type": "object",
            "properties": {
              "invoice": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uuid"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "The visit's tax invoice, for GET /api/documents/{id}, once Books has issued it."
              },
              "receipt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uuid"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "The payment's receipt, for GET /api/payments/{id}/receipt, once the payment is recorded in Books."
              }
            },
            "required": [
              "invoice",
              "receipt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge",
          "no_show",
          "discount_code",
          "documents"
        ],
        "additionalProperties": false
      },
      "RefundDetail": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included: the main figure."
          },
          "amount_ex_gst": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "In paise, before GST; null where no rate was recorded for it."
          },
          "gst_percent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "The GST rate the amount includes; null where none was recorded."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "booking": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "consultation",
                      "first_fit",
                      "service",
                      "replacement"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "India's day the visit was held for."
                  },
                  "under_way": {
                    "type": "boolean",
                    "description": "Still being booked; false once refunded or let go."
                  }
                },
                "required": [
                  "type",
                  "date",
                  "under_way"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "What it paid for while there is no visit yet: the booking its hold was making."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          },
          "voucher": {
            "type": "null",
            "description": "The refund voucher; arrives with the invoicing route (docs/open-points.md, item 3)."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "booking",
          "status",
          "destination",
          "speed",
          "voucher"
        ],
        "additionalProperties": false
      },
      "Availability": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "consultation",
              "first_fit",
              "service",
              "replacement"
            ]
          },
          "service": {
            "$ref": "#/components/schemas/VisitService"
          },
          "price": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Price"
              },
              {
                "description": "The first day's price."
              }
            ]
          },
          "regular": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "initials": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "initials"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Whoever did the client's latest visit."
          },
          "last": {
            "type": "string",
[...]
