{
  "openapi": "3.1.0",
  "info": {
    "title": "Mane Man API",
    "version": "1",
    "description": "mm-api, served at https://{host}/api/*. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://maneman.in",
      "description": "production"
    },
    {
      "url": "https://staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "City": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "served": {
            "type": "boolean",
            "description": "false: the booking form offers the waitlist instead."
          }
        },
        "required": [
          "name",
          "served"
        ],
        "additionalProperties": false
      },
      "LeadResponse": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string",
            "format": "uuid"
          },
          "served": {
            "type": "boolean"
          },
          "proposed_visit_date": {
            "type": "string",
            "format": "date",
            "description": "Served cities only. May be absent if every candidate day is blacked out."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "before noon",
              "after six"
            ],
            "description": "Served cities only."
          }
        },
        "required": [
          "lead_id",
          "served"
        ],
        "additionalProperties": false
      },
      "LeadRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "One of the names from GET /api/cities."
          },
          "first_choice_window": {
            "type": "string",
            "enum": [
              "weekday_am",
              "weekday_pm",
              "weekend_am",
              "weekend_pm"
            ]
          },
          "loss_extent": {
            "type": "string",
            "enum": [
              "crown",
              "receding",
              "advanced"
            ]
          },
          "consent": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "The booking notice was agreed to; see src/config/notices.ts."
          },
          "turnstile_token": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048
          },
          "attribution": {
            "$ref": "#/components/schemas/Attribution"
          }
        },
        "required": [
          "name",
          "mobile",
          "city",
          "first_choice_window",
          "loss_extent",
          "consent",
          "turnstile_token"
        ],
        "additionalProperties": false
      },
      "Attribution": {
        "type": "object",
        "properties": {
          "utm_source": {
            "type": "string",
            "maxLength": 200
          },
          "utm_medium": {
            "type": "string",
            "maxLength": 200
          },
          "utm_campaign": {
            "type": "string",
            "maxLength": 200
          },
          "utm_content": {
            "type": "string",
            "maxLength": 200
          },
          "gclid": {
            "type": "string",
            "maxLength": 200
          },
          "fbclid": {
            "type": "string",
            "maxLength": 200
          },
          "referrer": {
            "type": "string",
            "maxLength": 500
          },
          "landing_path": {
            "type": "string",
            "maxLength": 500
          }
        },
        "additionalProperties": false,
        "description": "Where the visitor came from, as the page saw it. All optional."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/cities": {
      "get": {
        "summary": "The booking form's city list, in display order. Cacheable for five minutes.",
        "responses": {
          "200": {
            "description": "Active cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "503": {
            "description": "The database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/lead": {
      "post": {
        "summary": "Book a free measurement, or join a city's waitlist",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            },
            "required": false,
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "turnstile_failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_in_progress: the first request with this key is still running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "idempotency_key_reused: the key was used with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many requests from this number or address today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: Turnstile or the database could not be reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
