{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the ops console",
    "description": "mm-api on the ops console's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*, behind Cloudflare Access. Every call needs a valid Access token and is recorded in the audit log under its identity (docs/decisions/0031-access-and-audit.md). Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://ops.maneman.in",
      "description": "production"
    },
    {
      "url": "https://ops-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "not_changeable",
                  "terms_changed",
                  "consent_required"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "ClientSearch": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      },
      "ClientRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "E.164, as ops need it to call or message."
          },
          "state": {
            "type": "string",
            "enum": [
              "fitted",
              "lead",
              "nothing_booked"
            ]
          },
          "known_since": {
            "type": "string",
            "format": "date-time",
            "description": "When the person's record was first written."
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ClientAddress"
              },
              {
                "type": "null"
              }
            ],
            "description": "The address visits go to now."
          },
          "credits": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "visits": {
                    "type": "integer"
                  },
                  "earliest_expiry": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                },
                "required": [
                  "visits",
                  "earliest_expiry"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Service visits left and when the soonest expires; null with none left."
          },
          "visits": {
            "type": "object",
            "properties": {
              "upcoming": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              },
              "past": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClientVisit"
                }
              }
            },
            "required": [
              "upcoming",
              "past"
            ],
            "additionalProperties": false,
            "description": "Upcoming soonest first; past newest first."
          },
          "payments": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/PaymentEntry"
                },
                {
                  "$ref": "#/components/schemas/RefundEntry"
                }
              ],
              "discriminator": {
                "propertyName": "kind",
                "mapping": {
                  "payment": "#/components/schemas/PaymentEntry",
                  "refund": "#/components/schemas/RefundEntry"
                }
              }
            },
            "description": "Payments and refunds as one list, newest first."
          }
        },
        "required": [
          "id",
          "name",
          "mobile",
          "state",
          "known_since",
          "address",
          "credits",
          "visits",
          "payments"
        ],
        "additionalProperties": false
      },
      "ClientAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "locality": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "For the technician: gate code, parking and the like."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes"
        ],
        "additionalProperties": false
      },
      "ClientVisit": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VisitSummary"
          },
          {
            "type": "object",
            "properties": {
              "outcome": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": [
                      "done",
                      "partial"
                    ]
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "What FSM closed the visit as; null until it is closed."
              }
            },
            "required": [
              "outcome"
            ],
            "additionalProperties": false
          }
        ]
      },
      "Technician": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "initials"
        ],
        "additionalProperties": false,
        "description": "Display name and initials only."
      },
      "VisitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date."
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "length_minutes": {
            "type": "integer"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "technician": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Technician"
              },
              {
                "type": "null"
              }
            ]
          },
          "place": {
            "type": "string",
            "description": "The saved address's area, city and pincode, else FSM's city and pincode."
          }
        },
        "required": [
          "id",
          "date",
          "window_label",
          "starts_at",
          "ends_at",
          "length_minutes",
          "type",
          "status",
          "technician",
          "place"
        ],
        "additionalProperties": false
      },
      "PaymentEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "payment"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "authorized",
              "captured",
              "refunded",
              "partially_refunded"
            ]
          },
          "method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "upi, card, netbanking and so on."
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Ours, e.g. MM-2026-0841, once captured."
          },
          "refunded_amount": {
            "type": "integer",
            "description": "In paise: refunds Razorpay has processed."
          },
          "purpose": {
            "type": "string",
            "enum": [
              "visit",
              "late_fee"
            ],
            "description": "What it paid for: the visit, or a late fee."
          },
          "charge": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "moved"
                    ]
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the client cancelled or moved the visit."
                  },
                  "visit_started_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the visit was to start."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "In paise: what was kept."
                  }
                },
                "required": [
                  "change",
                  "at",
                  "visit_started_at",
                  "amount"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Kept under the 24-hour rule, with its evidence: \"cancelled 9:14 am, visit was 10 am\"."
          }
        },
        "required": [
          "kind",
          "id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "method",
          "reference",
          "refunded_amount",
          "purpose",
          "charge"
        ],
        "additionalProperties": false
      },
      "RefundEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "refund"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "payment_id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "India's calendar date it was made."
          },
          "amount": {
            "type": "integer",
            "description": "In paise, GST included."
          },
          "amount_ex_gst": {
            "type": "integer",
            "description": "In paise, before GST: the main figure."
          },
          "gst_percent": {
            "type": "number",
            "description": "The GST rate the amount includes."
          },
          "visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "consultation",
                          "first_fit",
                          "service",
                          "replacement"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "date",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The visit it paid for, when known."
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processed",
              "failed"
            ]
          },
          "destination": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where the money goes back to: the payment's method."
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "normal (5 to 7 working days) or instant."
          }
        },
        "required": [
          "kind",
          "id",
          "payment_id",
          "date",
          "amount",
          "amount_ex_gst",
          "gst_percent",
          "visit",
          "status",
          "destination",
          "speed"
        ],
        "additionalProperties": false
      },
      "ClientPhotos": {
        "type": "object",
        "properties": {
          "visits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "consultation",
                        "first_fit",
                        "service",
                        "replacement"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "technician": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "initials"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientPhoto"
                  },
                  "description": "Before then after, each in the design's angle order."
                }
              },
              "required": [
                "visit_id",
                "date",
                "type",
                "technician",
                "photos"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "visits"
        ],
        "additionalProperties": false
      },
      "ClientPhoto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "For GET /api/clients/{id}/photos/{photo_id}, which is audited."
          },
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "taken_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "phase",
          "angle",
          "width",
          "height",
          "taken_at"
        ],
        "additionalProperties": false
      },
      "ClientConsents": {
        "type": "object",
        "properties": {
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "given",
                    "withdrawn",
                    "not_given"
                  ],
                  "description": "not_given until the client first switches it on; withdrawn once they switch it back off."
                },
                "notice_version": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "The notice the client saw when they last switched it."
                },
                "at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "When they last switched it."
                }
              },
              "required": [
                "purpose",
                "state",
                "notice_version",
                "at"
              ],
              "additionalProperties": false
            }
          },
          "deletion": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "requested",
                      "rejected"
                    ]
                  },
                  "requested_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "decided_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "state",
                  "requested_at",
                  "decided_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Their latest deletion request. A processed one leaves no client to read."
          }
        },
        "required": [
          "consents",
          "deletion"
        ],
        "additionalProperties": false
      },
      "NumberChangeDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "confirm",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "DeletionDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "delete",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject; kept with the decision."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "ReferralDecision": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "approve",
              "reject"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "Required to reject, and kept with the decision either way."
          }
        },
        "required": [
          "decision",
          "reason"
        ],
        "additionalProperties": false
      },
      "GrievanceAnswer": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "response"
        ],
        "additionalProperties": false
      },
      "PincodeLaunch": {
        "type": "object",
        "properties": {
          "confirm": {
            "type": "boolean"
          },
          "launch_on": {
            "type": "string",
            "format": "date",
            "description": "India's date it starts; today if left out."
          }
        },
        "required": [
          "confirm"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/search": {
      "post": {
        "summary": "Find a client by mobile number. A POST, so the number stays out of the URL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The client, to open their page with",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mobile": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mobile"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: not an Indian mobile number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}": {
      "get": {
        "summary": "The client's record: who they are, their address, their visits and their payments",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRecord"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/photos": {
      "get": {
        "summary": "Which photographs the client has, by visit, newest first. No image is served here",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Visits that have photographs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientPhotos"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/photos/{photo_id}": {
      "get": {
        "summary": "One of the client's photographs. The audit entry is written before the image is",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "photo_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such photograph of this client's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: the view could not be audited, so no photograph is served",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}/consents": {
      "get": {
        "summary": "The client's consents and any deletion request. Ops read them and never grant one",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Consents and data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientConsents"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such client, or the client has been erased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes": {
      "get": {
        "summary": "Number changes waiting for ops: both numbers proven by code",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_mobile": {
                            "type": "string"
                          },
                          "new_mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "old_mobile",
                          "new_mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "changes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/number-changes/{id}/decision": {
      "post": {
        "summary": "Confirm a number change, which then takes effect, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberChangeDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "confirmed",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no change waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "number_in_use: another person holds the new number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests": {
      "get": {
        "summary": "Deletion requests waiting for ops",
        "responses": {
          "200": {
            "description": "Oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "requested_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "requested_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "requests"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-requests/{id}/decision": {
      "post": {
        "summary": "Delete the account now (photographs, results and details), or reject the request",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletionDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "done",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no request waiting for ops by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/held": {
      "get": {
        "summary": "Referral grants held for review, oldest first",
        "responses": {
          "200": {
            "description": "Held grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "held": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "referrer": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "referred": {
                            "type": "object",
                            "properties": {
                              "person_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "person_id",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "fitted_on": {
                            "type": "string",
                            "format": "date"
                          },
                          "signals": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "shared_address",
                                "shared_upi",
                                "monthly_cap",
                                "same_mobile"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "referrer",
                          "referred",
                          "fitted_on",
                          "signals"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "held"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/referrals/{id}/decision": {
      "post": {
        "summary": "Approve a held grant, or reject it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "approved",
                        "rejected"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: a rejection needs a reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no held grant by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances": {
      "get": {
        "summary": "Open grievances, oldest first",
        "responses": {
          "200": {
            "description": "Open grievances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grievances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "person_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "raised_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "person_id",
                          "name",
                          "mobile",
                          "text",
                          "raised_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "grievances"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/grievances/{id}/resolve": {
      "post": {
        "summary": "Record ops' answer to a grievance, and close it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrievanceAnswer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "resolved"
                      ]
                    }
                  },
                  "required": [
                    "state"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: no open grievance by that ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "get": {
        "summary": "Who is waiting, by pincode, the longest wait first",
        "responses": {
          "200": {
            "description": "Areas with someone waiting",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "areas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pincode": {
                            "type": "string"
                          },
                          "area": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "city": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "served": {
                            "type": "boolean"
                          },
                          "launched_at": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "waiting": {
                            "type": "integer"
                          },
                          "oldest": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "referred": {
                            "type": "integer"
                          },
                          "alerts": {
                            "type": "integer",
                            "description": "How many asked to be told when we launch."
                          }
                        },
                        "required": [
                          "pincode",
                          "area",
                          "city",
                          "served",
                          "launched_at",
                          "waiting",
                          "oldest",
                          "referred",
                          "alerts"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "areas"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/pincodes/{pin}/launch": {
      "post": {
        "summary": "Launch a pincode: without confirm, what it would send; with it, the launch",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-8]\\d{5}$"
            },
            "required": true,
            "name": "pin",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PincodeLaunch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What it would send, or what it sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pincode": {
                      "type": "string"
                    },
                    "waiting": {
                      "type": "integer"
                    },
                    "alerts": {
                      "type": "integer"
                    },
                    "launched": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "pincode",
                    "waiting",
                    "alerts",
                    "launched"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "not_found: we have no such pincode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/referrers": {
      "get": {
        "summary": "Every referrer's figures, the busiest first",
        "responses": {
          "200": {
            "description": "Referrers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referrers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "opens": {
                            "type": "integer"
                          },
                          "consultations": {
                            "type": "integer"
                          },
                          "fits": {
                            "type": "integer"
                          },
                          "granted": {
                            "type": "integer"
                          },
                          "redeemed": {
                            "type": "integer",
                            "description": "Credits of theirs spent on visits."
                          }
                        },
                        "required": [
                          "code",
                          "name",
                          "opens",
                          "consultations",
                          "fits",
                          "granted",
                          "redeemed"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "referrers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
