{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the technician app",
    "description": "mm-api on the technician app's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*. Every route but /api/health and /api/tech/auth/* needs the mm_tech session cookie, which is bound to one phone, and every write needs the page's own Origin. Every write also takes an X-Client-Event-Id and is idempotent on it, so a phone replaying its outbox lands each write once (docs/decisions/0038-offline-writes.md). No response here carries an amount. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://tech.maneman.in",
      "description": "production"
    },
    {
      "url": "https://tech-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "visit_booked",
                  "payment_held",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use",
                  "not_ready",
                  "ops_assisted",
                  "taken",
                  "not_bookable",
                  "hold_expired",
                  "address_required",
                  "already_booked",
                  "not_changeable",
                  "terms_changed",
                  "consent_required",
                  "device_revoked",
                  "superseded",
                  "out_of_order",
                  "not_today",
                  "already_started",
                  "clash",
                  "on_leave",
                  "does_not_fit",
                  "fsm_refused",
                  "fsm_partly",
                  "too_early_to_close",
                  "no_service_area",
                  "service_exists",
                  "last_of_kind",
                  "service_retired",
                  "unknown_invite",
                  "own_invite",
                  "already_invited",
                  "already_fitted"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request: the fields that failed validation, never their values; superseded: what changed under the caller."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "TechnicianChallenge": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "expires_in_s": {
            "type": "integer"
          }
        },
        "required": [
          "challenge_id",
          "expires_in_s"
        ],
        "additionalProperties": false
      },
      "TechnicianLoginRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          },
          "device_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{8,64}$",
            "description": "The app's own ID for this phone, kept in its storage."
          }
        },
        "required": [
          "mobile",
          "device_id"
        ],
        "additionalProperties": false
      },
      "TechnicianVerify": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "first_name": {
                "type": "string"
              },
              "device_id": {
                "type": "string"
              }
            },
            "required": [
              "verified",
              "first_name",
              "device_id"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "attempts_left": {
                "type": "integer"
              }
            },
            "required": [
              "verified",
              "attempts_left"
            ],
            "additionalProperties": false
          }
        ]
      },
      "TechnicianVerifyRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "device_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{8,64}$",
            "description": "The app's own ID for this phone, kept in its storage."
          }
        },
        "required": [
          "challenge_id",
          "code",
          "device_id"
        ],
        "additionalProperties": false
      },
      "TechnicianMe": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "initials": {
            "type": "string",
            "description": "For the chip at the head of Today: the first and last initials."
          },
          "device": {
            "type": "object",
            "properties": {
              "device_id": {
                "type": "string",
                "description": "The phone's own ID, as it sent it at sign-in."
              },
              "label": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Ours, from the User-Agent at sign-in."
              },
              "enrolled_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "device_id",
              "label",
              "enrolled_at"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "name",
          "first_name",
          "initials",
          "device"
        ],
        "additionalProperties": false
      },
      "TechnicianJobs": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianJob"
            }
          }
        },
        "required": [
          "date",
          "jobs"
        ],
        "additionalProperties": false,
        "description": "Jobs further out carry only time, type and sector."
      },
      "TechnicianJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "day": {
            "type": "string",
            "enum": [
              "today",
              "tomorrow",
              "later"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area, never the street: the one the visit's pincode is in, from the service area; else the address's locality, or the city."
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "badge": {
            "type": "string",
            "enum": [
              "prepaid",
              "credit",
              "free"
            ],
            "description": "Free for a visit the price book charges nothing for. No response to a technician carries an amount."
          },
          "slots": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "How much of the day the visit takes: 1, 1.5 or 2 slots. Null for an unknown type."
          },
          "unlocked": {
            "type": "boolean"
          },
          "unlocks_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "day",
          "date",
          "starts_at",
          "ends_at",
          "window_label",
          "type",
          "sector",
          "status",
          "badge",
          "slots",
          "unlocked",
          "unlocks_at"
        ],
        "additionalProperties": false
      },
      "TechnicianJobDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "day": {
            "type": "string",
            "enum": [
              "today",
              "tomorrow",
              "later"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "window_label": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ]
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "consultation",
                  "first_fit",
                  "service",
                  "replacement"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "sector": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The area, never the street: the one the visit's pincode is in, from the service area; else the address's locality, or the city."
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "dispatched",
              "in_progress",
              "completed",
              "cancelled",
              "terminated",
              "other"
            ]
          },
          "badge": {
            "type": "string",
            "enum": [
              "prepaid",
              "credit",
              "free"
            ],
            "description": "Free for a visit the price book charges nothing for. No response to a technician carries an amount."
          },
          "slots": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "How much of the day the visit takes: 1, 1.5 or 2 slots. Null for an unknown type."
          },
          "unlocked": {
            "type": "boolean"
          },
          "unlocks_at": {
            "type": "string",
            "format": "date-time"
          },
          "address": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "building": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "tower": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "floor": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "flat": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "landmark": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "locality": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  },
                  "lat": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lng": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "line1",
                  "line2",
                  "building",
                  "tower",
                  "floor",
                  "flat",
                  "landmark",
                  "locality",
                  "city",
                  "pincode",
                  "lat",
                  "lng"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until the day before the visit; the API enforces it, not the screen."
          },
          "access_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "client": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "note": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "mobile",
                  "note"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "Null until the day before the visit."
          },
          "progress": {
            "$ref": "#/components/schemas/TechnicianJobProgress"
          },
          "no_show_wait_min": {
            "type": "integer",
            "description": "How long this visit's type waits before a no-show may be closed, so a phone with no signal can count it."
          },
          "pieces": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Piece"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's pieces, newest fit first. Null until the day before the visit."
          },
          "last_visit": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "technician": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The first name of who did it."
                  },
                  "photo_url": {
                    "type": "string",
                    "description": "Its after photograph, never to be kept on the phone."
                  }
                },
                "required": [
                  "date",
                  "technician",
                  "photo_url"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The client's latest earlier visit with after photographs; null for a first visit."
          },
          "reminder": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "delivered_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "delivered_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "The day-before or arrival WhatsApp to the client, and when it was delivered."
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "check_in",
                "start",
                "before_photos",
                "checklist",
                "consumables",
                "piece",
                "after_photos",
                "outcome"
              ]
            },
            "description": "The steps this visit type runs, in order."
          },
          "checklist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSheetItem"
            },
            "description": "This kind of visit's checklist, as ops set it in the console, in its order."
          },
          "partial_reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSheetItem"
            },
            "description": "The reasons a job may be left partly done, as ops set them, in their order."
          },
          "consumables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicianConsumable"
            },
            "description": "Every consumable the technician may record, those this job's service is expected to use first, each with the count its stepper starts at."
          }
        },
        "required": [
          "id",
          "day",
          "date",
          "starts_at",
          "ends_at",
          "window_label",
          "type",
          "sector",
          "status",
          "badge",
          "slots",
          "unlocked",
          "unlocks_at",
          "address",
          "access_notes",
          "client",
          "progress",
          "no_show_wait_min",
          "pieces",
          "last_visit",
          "reminder",
          "steps",
          "checklist",
          "partial_reasons",
          "consumables"
        ],
        "additionalProperties": false
      },
      "TechnicianJobProgress": {
        "type": "object",
        "properties": {
          "checked_in_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "wait_ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the job may close as a no-show, from the check-in we hold; null before one landed."
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "How far from the address that check-in was; null when nothing could be measured."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "steps_done": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "check_in",
                "start",
                "before_photos",
                "checklist",
                "consumables",
                "piece",
                "after_photos",
                "outcome"
              ]
            }
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "checked_in_at",
          "wait_ends_at",
          "distance_m",
          "started_at",
          "steps_done",
          "outcome"
        ],
        "additionalProperties": false
      },
      "Piece": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string"
          },
          "base": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "supplier_lot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "fitted_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "replacement_due_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "failure_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "piece_code",
          "base",
          "supplier_lot",
          "fitted_at",
          "replacement_due_at",
          "failed_at",
          "failure_reason"
        ],
        "additionalProperties": false
      },
      "JobSheetItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "additionalProperties": false
      },
      "TechnicianConsumable": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "What the consumables step sends back."
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string",
            "description": "What one is counted in: strip, ml, sachet."
          },
          "expected": {
            "type": "integer",
            "description": "How many this job's service is expected to use; 0 for one it lists no use for."
          }
        },
        "required": [
          "code",
          "name",
          "unit",
          "expected"
        ],
        "additionalProperties": false
      },
      "CheckIn": {
        "type": "object",
        "properties": {
          "passed": {
            "type": "boolean"
          },
          "distance_m": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null when the address has no coordinates, so nothing could be measured."
          },
          "radius_m": {
            "type": "integer"
          },
          "checked_in_at": {
            "type": "string",
            "format": "date-time"
          },
          "wait_ends_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "When the job may be closed as a no-show; null when the check-in failed."
          },
          "accepted": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TechnicianWriteAccepted"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "passed",
          "distance_m",
          "radius_m",
          "checked_in_at",
          "wait_ends_at",
          "accepted"
        ],
        "additionalProperties": false
      },
      "TechnicianWriteAccepted": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string"
          },
          "replayed": {
            "type": "boolean",
            "description": "True when this write had already landed."
          },
          "fsm_write_state": {
            "type": "string",
            "enum": [
              "pending",
              "written",
              "rejected"
            ]
          },
          "progress": {
            "$ref": "#/components/schemas/TechnicianJobProgress"
          }
        },
        "required": [
          "event_id",
          "replayed",
          "fsm_write_state",
          "progress"
        ],
        "additionalProperties": false
      },
      "CheckInRequest": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "accuracy_m": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100000
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "description": "The phone's clock, kept within bounds and never later than we received it; left out, the event ID's time, else ours."
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotoUrl": {
        "type": "object",
        "properties": {
          "upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photograph there."
          },
          "small_upload_url": {
            "type": "string",
            "description": "A path on this host. PUT the photograph's small copy there, once the photograph is in."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "upload_url",
          "small_upload_url",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotoUrlRequest": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          },
          "angle": {
            "type": "string",
            "enum": [
              "front",
              "top",
              "left",
              "right",
              "hair"
            ]
          }
        },
        "required": [
          "phase",
          "angle"
        ],
        "additionalProperties": false
      },
      "TechnicianPhotosRequest": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string",
            "enum": [
              "before",
              "after"
            ]
          }
        },
        "required": [
          "phase"
        ],
        "additionalProperties": false
      },
      "ChecklistRequest": {
        "type": "object",
        "properties": {
          "done": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "maxItems": 20
          }
        },
        "required": [
          "done"
        ],
        "additionalProperties": false
      },
      "ConsumablesRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 999
                    }
                  },
                  "required": [
                    "code",
                    "quantity"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 80
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 999
                    }
                  },
                  "required": [
                    "name",
                    "quantity"
                  ],
                  "additionalProperties": false,
                  "description": "A consumable by the name the technician gave it, as a phone queued it before codes."
                }
              ]
            },
            "maxItems": 30
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false,
        "description": "What was used, each by the code the job's card gave it. None used is an empty list. A code the catalogue does not hold is refused, fields items."
      },
      "PieceRequest": {
        "type": "object",
        "properties": {
          "piece_code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 40
          },
          "base": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "supplier_lot": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 60
          },
          "failure_reason": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 200
          },
          "old_piece": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "piece_code": {
                "type": "string",
                "minLength": 3,
                "maxLength": 40
              },
              "failure_reason": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "required": [
              "piece_code",
              "failure_reason"
            ],
            "additionalProperties": false,
            "description": "On a replacement: the piece that came off, and why it failed."
          }
        },
        "required": [
          "piece_code"
        ],
        "additionalProperties": false,
        "description": "The piece fitted, with its base and lot, and on a replacement the one that came off. A failure_reason on the piece itself marks it as failed and fits nothing."
      },
      "OutcomeRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "done"
                ]
              }
            },
            "required": [
              "outcome"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "partial"
                ]
              },
              "reason": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "description": "One of the card's partial_reasons, by its id; one ops have since taken off is still taken."
              }
            },
            "required": [
              "outcome",
              "reason"
            ],
            "additionalProperties": false
          }
        ]
      },
      "NoShowClose": {
        "type": "object",
        "properties": {
          "closed": {
            "type": "boolean"
          },
          "wait_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "case_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ]
          },
          "accepted": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TechnicianWriteAccepted"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "closed",
          "wait_ends_at",
          "case_id",
          "accepted"
        ],
        "additionalProperties": false
      },
      "PieceLookup": {
        "type": "object",
        "properties": {
          "piece": {
            "$ref": "#/components/schemas/Piece"
          },
          "belongs_to_this_job": {
            "type": "boolean"
          }
        },
        "required": [
          "piece",
          "belongs_to_this_job"
        ],
        "additionalProperties": false,
        "description": "Whether the label is one of the job's client's pieces."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/otp": {
      "post": {
        "summary": "Send a login code on WhatsApp. The answer is the same whether or not FSM lists the number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianLoginRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A code is on its way, if FSM lists this number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianChallenge"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's ceiling on codes is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/verify": {
      "post": {
        "summary": "Check a code. The right one opens a session on this phone (the mm_tech cookie)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Right, with a session; or wrong, with the attempts left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianVerify"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: expired, used, or void after five wrong codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/auth/logout": {
      "post": {
        "summary": "End this session on this phone",
        "responses": {
          "204": {
            "description": "Logged out"
          },
          "401": {
            "description": "session_required; device_revoked: there was no session here to end",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/me": {
      "get": {
        "summary": "Who is signed in, and the phone this session is bound to",
        "responses": {
          "200": {
            "description": "The signed-in technician",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianMe"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs": {
      "get": {
        "summary": "The technician's jobs on a date. Today and tomorrow in full; later dates only time, type and sector",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false,
            "name": "date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The day's jobs, in time order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianJobs"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}": {
      "get": {
        "summary": "One of the technician's jobs, with the day-before unlock enforced",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianJobDetail"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job of this technician's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/last-visit-photo": {
      "get": {
        "summary": "The client's last visit, after: one photograph, under the card's own unlock, never cached",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job of this technician's, not unlocked yet, or no earlier visit's photograph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/checkin": {
      "post": {
        "summary": "I have arrived: the time and the phone's position, inside the geofence",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass or fail, with the distance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIn"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first; not_today: the job is on another day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/start": {
      "post": {
        "summary": "Start the job. The duration runs from here to the outcome",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first; not_today: the job is on another day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/photos/upload-url": {
      "post": {
        "summary": "A link to PUT one photograph to, for one phase and angle",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianPhotoUrlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The link, good for fifteen minutes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianPhotoUrl"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/photos/{token}": {
      "put": {
        "summary": "The photograph itself: a JPEG or PNG, at most 2 MB",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Received"
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is wrong or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG or PNG, or over 2 MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: R2 holds past the runaway ceiling; the phone keeps the photograph and sends it later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/photos/{token}/small": {
      "put": {
        "summary": "The photograph's small copy, for the client app's rows: a JPEG of at most 64 KB and 800 px a side",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Received, or held already"
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the link is wrong or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "upload_missing: the photograph has not arrived; send it first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "photo_invalid_file: not a JPEG, or over 64 KB or 800 px a side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: R2 holds past the runaway ceiling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/photos": {
      "post": {
        "summary": "The phase's five photographs are in; attach them to FSM",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianPhotosRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/checklist": {
      "post": {
        "summary": "The service checklist, per visit type",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChecklistRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/consumables": {
      "post": {
        "summary": "Consumables used, with quantities",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumablesRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/piece": {
      "post": {
        "summary": "The piece: a replacement's and a first fit's step only",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PieceRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/outcome": {
      "post": {
        "summary": "Done, or partial with a reason",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutcomeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicianWriteAccepted"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/jobs/{id}/no-show": {
      "post": {
        "summary": "Close the job as a no-show, once the wait has run",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,64}$",
              "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued."
            },
            "required": true,
            "description": "The phone's own ID for this write; a replay of it changes nothing. A UUIDv7 carries the moment it was queued.",
            "name": "x-client-event-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time."
            },
            "required": false,
            "description": "The job's starts_at as the phone holds it. When ops have moved the job since, the write is superseded, field time.",
            "name": "x-job-starts-at",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Closed, with the case ops will rule on",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoShowClose"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: see error.fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked: ops revoked this phone, so drop the cached jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no such job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "superseded: FSM moved the job; out_of_order: send the step before this one first; already_started: the job was started, so the client was home",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "425": {
            "description": "too_early_to_close: the wait has not run out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tech/pieces/lookup": {
      "get": {
        "summary": "The piece a label names",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 40
            },
            "required": true,
            "name": "code",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "job",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The piece",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PieceLookup"
                }
              }
            }
          },
          "401": {
            "description": "session_required; device_revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found: no piece with that label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
