{
  "openapi": "3.1.0",
  "info": {
    "version": "1",
    "title": "Mane Man API: the client app",
    "description": "mm-api on the client app's host (docs/decisions/0026-hosts-and-surfaces.md), served at https://{host}/api/*. Every route but /api/health and /api/auth/* needs the mm_app session cookie, and every write needs the page's own Origin. Every response carries an X-Request-Id header."
  },
  "servers": [
    {
      "url": "https://app.maneman.in",
      "description": "production"
    },
    {
      "url": "https://app-staging.maneman.in",
      "description": "staging (Cloudflare Access)"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "not_found",
                  "invalid_request",
                  "turnstile_failed",
                  "rate_limited",
                  "idempotency_in_progress",
                  "idempotency_key_reused",
                  "environment_mismatch",
                  "unavailable",
                  "internal_error",
                  "busy",
                  "photo_invalid_file",
                  "upload_already_received",
                  "upload_missing",
                  "session_required",
                  "job_not_claimable",
                  "look_limit_reached",
                  "unauthorized",
                  "forbidden_origin",
                  "access_required",
                  "code_expired",
                  "too_early",
                  "number_in_use"
                ]
              },
              "request_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "invalid_request only: the fields that failed validation, never their values."
              }
            },
            "required": [
              "code",
              "request_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "unavailable"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "local",
              "staging",
              "production"
            ]
          },
          "version_id": {
            "type": "string",
            "description": "Cloudflare Worker version ID serving this request."
          },
          "version_tag": {
            "type": [
              "string",
              "null"
            ],
            "description": "Tag given at upload: the git commit SHA in remote environments."
          },
          "d1": {
            "type": "string",
            "enum": [
              "ok",
              "unmarked",
              "mismatch",
              "unreachable"
            ],
            "description": "ok: reachable and marked as this environment's database. unmarked: no identity row. mismatch: marked as another environment's database."
          }
        },
        "required": [
          "status",
          "environment",
          "version_id",
          "version_tag",
          "d1"
        ],
        "additionalProperties": false
      },
      "LoginChallenge": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "channel": {
            "type": "string",
            "enum": [
              "whatsapp",
              "sms"
            ],
            "description": "How the current code was sent."
          },
          "expires_in_s": {
            "type": "integer"
          },
          "resend_in_s": {
            "type": "integer",
            "description": "Seconds until the code may be sent again on WhatsApp."
          },
          "sms_in_s": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Seconds until SMS may be asked for instead; null while SMS is unavailable."
          }
        },
        "required": [
          "challenge_id",
          "channel",
          "expires_in_s",
          "resend_in_s",
          "sms_in_s"
        ],
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$",
            "example": "98100 00000"
          }
        },
        "required": [
          "mobile"
        ],
        "additionalProperties": false
      },
      "LoginChallengeRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "challenge_id"
        ],
        "additionalProperties": false
      },
      "LoginVerify": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "first_name": {
                "type": "string"
              }
            },
            "required": [
              "verified",
              "first_name"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "attempts_left": {
                "type": "integer",
                "description": "0 means the code is now void."
              }
            },
            "required": [
              "verified",
              "attempts_left"
            ],
            "additionalProperties": false
          }
        ]
      },
      "LoginVerifyRequest": {
        "type": "object",
        "properties": {
          "challenge_id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "challenge_id",
          "code"
        ],
        "additionalProperties": false
      },
      "Me": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "lead",
              "nothing_booked"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "consultation": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "window_label": {
                "type": "string",
                "enum": [
                  "before noon",
                  "after four"
                ]
              }
            },
            "required": [
              "date",
              "window_label"
            ],
            "additionalProperties": false,
            "description": "The booked consultation: its proposed date and window, to be confirmed on WhatsApp."
          }
        },
        "required": [
          "state",
          "first_name",
          "consultation"
        ],
        "additionalProperties": false
      },
      "Profile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "Masked: +91 98xxx x4417."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "consents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purpose": {
                  "type": "string",
                  "enum": [
                    "photos_own_record",
                    "photos_referral_cards",
                    "photos_marketing",
                    "whatsapp_visits",
                    "whatsapp_launches"
                  ]
                },
                "granted": {
                  "type": "boolean"
                },
                "since": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "purpose",
                "granted",
                "since"
              ],
              "additionalProperties": false
            },
            "description": "The five purposes, in order. Off until the client first switches one on."
          },
          "number_change": {
            "$ref": "#/components/schemas/NumberChange"
          },
          "deletion": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "requested"
                ]
              },
              "requested_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "state",
              "requested_at"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "name",
          "mobile",
          "address",
          "consents",
          "number_change",
          "deletion"
        ],
        "additionalProperties": false
      },
      "Address": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "line1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "line2": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 120
          },
          "locality": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "pincode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          },
          "access_notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 300,
            "description": "For the technician, from the day before the visit: gate code, parking."
          }
        },
        "required": [
          "line1",
          "line2",
          "locality",
          "city",
          "pincode",
          "access_notes"
        ],
        "additionalProperties": false
      },
      "NumberChange": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "verifying",
              "awaiting_ops"
            ]
          },
          "new_mobile": {
            "type": "string",
            "description": "Masked, as the design shows it: +91 98xxx x4417."
          },
          "old_verified": {
            "type": "boolean"
          },
          "new_verified": {
            "type": "boolean"
          }
        },
        "required": [
          "state",
          "new_mobile",
          "old_verified",
          "new_verified"
        ],
        "additionalProperties": false
      },
      "ConsentSwitch": {
        "type": "object",
        "properties": {
          "granted": {
            "type": "boolean"
          }
        },
        "required": [
          "granted"
        ],
        "additionalProperties": false
      },
      "NumberChangeStart": {
        "type": "object",
        "properties": {
          "new_mobile": {
            "type": "string",
            "pattern": "^(?:\\+91|0)?[\\s-]*[6-9](?:[\\s-]*\\d){9}$"
          }
        },
        "required": [
          "new_mobile"
        ],
        "additionalProperties": false
      },
      "NumberChangeVerify": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "type": "string",
            "enum": [
              "old",
              "new"
            ]
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "request_id",
          "number",
          "code"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Environment, version and database reachability",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "The database is unreachable or belongs to another environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/otp": {
      "post": {
        "summary": "Send a login code on WhatsApp. The answer is the same whether or not the number has a booking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A code is on its way, if this number has a booking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginChallenge"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: too many codes for this number today, or from this address this hour",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy: today's ceiling on codes is reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/otp/resend": {
      "post": {
        "summary": "Send a fresh code on WhatsApp, 30 seconds after the last one",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A code is on its way, if this number has a booking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginChallenge"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: start again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "too_early, or rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/otp/sms": {
      "post": {
        "summary": "Send a fresh code by SMS instead, 30 seconds after the first",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A code is on its way, if this number has a booking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginChallenge"
                }
              }
            }
          },
          "404": {
            "description": "not_found: SMS is not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: start again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "too_early, or rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "post": {
        "summary": "Check a code. The right one opens a session (the mm_app cookie)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Right, with a session; or wrong, with the attempts left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginVerify"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: expired, used, or void after five wrong codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "End this session",
        "responses": {
          "204": {
            "description": "Logged out"
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "summary": "The Home card: who the client is and what is booked",
        "responses": {
          "200": {
            "description": "The Home card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "summary": "The profile: name, number, address, consents, and any number change or deletion under way",
        "responses": {
          "200": {
            "description": "The profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/address": {
      "patch": {
        "summary": "Replace the address visits go to, with its access notes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Address"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/consents/{purpose}": {
      "patch": {
        "summary": "Switch one consent on or off. Each switch is kept, with its date",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "photos_own_record",
                "photos_referral_cards",
                "photos_marketing",
                "whatsapp_visits",
                "whatsapp_launches"
              ]
            },
            "required": true,
            "name": "purpose",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentSwitch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Switched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "purpose": {
                      "type": "string",
                      "enum": [
                        "photos_own_record",
                        "photos_referral_cards",
                        "photos_marketing",
                        "whatsapp_visits",
                        "whatsapp_launches"
                      ]
                    },
                    "granted": {
                      "type": "boolean"
                    },
                    "since": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "purpose",
                    "granted",
                    "since"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-change": {
      "post": {
        "summary": "Start a number change: a code goes to both numbers. Starting again withdraws the last one",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberChangeStart"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Codes on their way to both numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "expires_in_s": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "request_id",
                    "expires_in_s"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: not an Indian mobile number, or the number already in use here",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: three changes a day",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "busy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/number-change/verify": {
      "post": {
        "summary": "One number's code. With both numbers proven, the change waits for ops to confirm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberChangeVerify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checked. attempts_left is null when the code was right",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "verifying",
                        "awaiting_ops"
                      ]
                    },
                    "new_mobile": {
                      "type": "string",
                      "description": "Masked, as the design shows it: +91 98xxx x4417."
                    },
                    "old_verified": {
                      "type": "boolean"
                    },
                    "new_verified": {
                      "type": "boolean"
                    },
                    "attempts_left": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "state",
                    "new_mobile",
                    "old_verified",
                    "new_verified",
                    "attempts_left"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "code_expired: the code or the change is closed; start again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/deletion-request": {
      "post": {
        "summary": "Ask for the account to be deleted. Ops process it; asking twice makes one request",
        "responses": {
          "202": {
            "description": "Requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "requested"
                      ]
                    },
                    "requested_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "state",
                    "requested_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "session_required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
